<div id="photographers">
  <div class="container">
    <div class="row">
      <div class="col-md-2 left-side-bar">
        <div class="search-input">
          <input class="form-control ng-untouched ng-pristine ng-valid"
                 id="search"
                 transform
                 placeholder="Search..."
                 [(ngModel)]="search.text">
          <img  alt="" src="/app/assets/img/search-icon.svg">
        </div>
        <ul class="photographers-country">
          <li *ngFor="#country of photographersByCountry">
            <!--analytics-on="click" analytics-event="go to matrix page from main (click on thing)">-->
            <div>
              <span class="photographer-country">{{country._id}}</span>
              <ul class="photographers-list">
                <li *ngFor="#photographer of country.photographer | PhotographersFilter:search.text:'photographer._id':true"
                    [routerLink]="['Photographer', {photographer: photographer.name}]">
                  {{photographer.name}}
                  <span class="photographer-places">{{photographer.places.length}}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-10 photographers-container">
        <div class="photographer-card"
             *ngFor="#photographer of photographersByName | PhotographersFilter:search.text:'photographer._id':true"
             [routerLink]="['Photographer', {photographer: photographer._id}]">
          <div class="photographer-portrait"
               style="background-image: url(/app/assets/img/photographer-icon.jpg)">
            <div class="photographer-material">


              <span><i class="fa fa-camera">&nbsp;1000</i></span>
              <span><i class="fa fa-video-camera">&nbsp;0</i></span>
              <span><i class="fa fa-home">&nbsp;{{photographer.places.length}}</i></span>
            </div>
          </div>
          <h3>{{photographer._id}}</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<footer></footer>
