<div id="photographers">
  <div class="container">
    <div class="row">
      <div class="col-md-2 left-side-bar">
        <div class="search-input">
          <span class="sort-country" (click)="toggleLeftSide($event)" >Sort by country</span>
          <input id="search"
                 class="form-control"
                 type="search"
                 placeholder="Search..."
                 [(ngModel)]="search.text">
          <img alt="" src="/app/assets/img/search-icon.svg">
        </div>
        <ul class="photographers-country">
          <li class="country-card" *ngFor="#country of photographersByCountry | PhotographersFilter:search.text:photographersByCountry:true">
            <div>
              <span class="photographer-country">{{country.name}}</span>
              <ul class="photographers-list">
                <li
                  *ngFor="#photographer of country.photographers"
                  [routerLink]="['Photographer', {id: photographer.userId}]"
                  [angulartics2On]="'click'"
                  [angularticsEvent]="'go to ' + photographer.name + ' from photographers page'">
                  {{photographer.name}}
                  <span class="photographer-places">{{photographer.places}}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-10 photographers-container">
        <div class="photographer-card"
             *ngFor="#photographer of photographersByName | PhotographersFilter:search.text:photographersByCountry"
             [routerLink]="['Photographer', {id: photographer.userId}]"
             [angulartics2On]="'click'"
             [angularticsEvent]="'go to ' + photographer.name + ' from photographers page'">
          <div class="photographer-portrait"
               [ngStyle]="{'background-image': photographer.avatar || 'url(/app/assets/img/photographer-icon.jpg)'}">
            <div class="photographer-material">
              <span><i class="fa fa-camera"></i> {{photographer.images}}</span>
              <span><i class="fa fa-video-camera"></i> {{photographer.video || 0}}</span>
              <span><i class="fa fa-home"></i> {{photographer.places}}</span>
            </div>
          </div>
          <h3>{{photographer.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<loader [hidden]="loader"></loader>
