<div id="photographers">
  <div class="container">
    <div class="row">
      <div class="col-md-2 left-side-bar">
        <div class="search-input">
          <span class="sort-country" (click)="toggleLeftSide($event)">Sort by country</span>
          <input id="search"
                 class="form-control"
                 type="search"
                 placeholder="Search..."
                 [(ngModel)]="search.text">
          <img alt="" src="/assets/img/search-icon.svg">
        </div>
        <ul class="photographers-country">
          <li class="country-card"
              *ngFor="let country of photographersByCountry | PhotographersFilter:search.text:photographersByCountry:true">
            <div>
              <span class="photographer-country">{{country.name}}</span>
              <ul class="photographers-list">
                <li
                  *ngFor="let photographer of country.photographers"
                  [routerLink]="['Photographer', {id: photographer.userId}]">
                  {{photographer.name}}
                  <span class="photographer-places">{{photographer.places}}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-10 photographers-container">
        <div class="photographer-card"
             *ngFor="let photographer of photographersByName | PhotographersFilter:search.text:photographersByCountry"
             [routerLink]="['Photographer', {id: photographer.userId}]">
          <div class="photographer-portrait"
               [ngStyle]="{'background-image': photographer.avatar || 'url(/assets/img/empty-photographer.jpg)'}">
            <div class="photographer-material">
              <span><i class="fa fa-camera"></i> {{photographer.images}}</span>
              <span *ngIf="photographer.video"><i class="fa fa-video-camera"></i> {{photographer.video || 0}}</span>
              <span><img src="/assets/img/house-icon-white.png" alt=""> {{photographer.places}}</span>
            </div>
          </div>
          <h3>{{photographer.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<loader [hidden]="loader"></loader>
