#photographers {
  padding-top: 137px;
  height: 100%;
}

#photographers .container,
#photographers .row,
#photographers .left-side-bar {
  height: 100%;
}

#photographers .search-input {
  position: relative;
  margin-bottom: 10px;
}

#photographers .search-input .sort-country {
  display: none;
}

#photographers .search-input input {
  font-size: 16px;
  color: #767d86;
  height: 34px;
  padding-left: 32px;
  border-radius: 3px;
  border: 1px solid #e2e6ec;
}

#photographers .search-input img {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #767d86;
  width: 15px;
}

#photographers .photographers-country {
  overflow-y: scroll;
}

#photographers .photographers-list {
  border-bottom: 1px solid #e2e6ec;
  margin-right: 15px;
}

#photographers .photographers-country,
#photographers .photographers-list {
  padding: 0;
  height: calc(100% - 44px);
  list-style-type: none;
  color: #767d86;
  font-weight: bold;
  font-size: 16px;
}

#photographers .photographer-country {
  text-transform: uppercase;
  color: #000;
}

#photographers .photographers-country > li {
  margin-top: 15px;
}

#photographers .photographers-list li {
  padding: 10px 0;
  cursor: pointer;
}

#photographers .photographers-list .photographer-name {
  display: inline-block;
  width: 80%;
  font-size: 16px;
  overflow: hidden;
}

#photographers .photographers-list .photographer-places {
  display: inline-block;
  float: right;
  font-size: 14px;
}

#photographers .photographers-container {
  padding: 0;
  color: #767d86;
  font-weight: 500;
  height: 100%;
  overflow-y: scroll;
}

#photographers .photographers-container h3 {
  height: 26px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  font-weight: 500;
}

#photographers .photographer-card {
  display: inline-block;
  width: 194px;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

#photographers .photographer-portrait {
  position: relative;
  height: 150px;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: 50% 50%;
}

#photographers .photographer-portrait .photographer-material {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#photographers .photographer-portrait .photographer-material span {
  padding: 3px;
}

#photographers ::-webkit-scrollbar {
  width: 2px;
}

#photographers ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #deeae7;
}

#photographers ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b3b9c3;
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
  }

  .container .row > div {
    float: none;
    width: 100%;
  }

  #photographers, #photographers *:not(.photographer-portrait) {
    height: auto !important;
  }

  #photographers .photographers-container {
    overflow: auto;
  }

  #photographers .search-input {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    background-color: white;
    left: 0;
    right: 0;
    width: 100%;
    top: 77px;
    padding: 15px 10px;
  }

  #photographers .search-input .sort-country {
    display: block;
    width: 125px;
    margin: 7px 0px 0px 0px;
    color: #767d86;
    font-family: Bariol;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    float: left;
  }

  #photographers .search-input .sort-country:after,
  #photographers .search-input.show .sort-country:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    float: right;
  }

  #photographers .search-input .sort-country:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #b3b9c3;
    margin-right: 7px;
    margin-top: 5px;
  }

  #photographers .search-input.show .sort-country:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #b3b9c3;
    margin-right: 2px;
    margin-top: 9px;
  }

  #photographers .search-input img {
    top: 25px;
    left: 145px !important;
  }

  #photographers .search-input input {
    width: calc(100% - 130px);
    float: left;
  }

  #photographers .search-input.show + .photographers-country {
    opacity: 1;
    left: 0;
  }

  #photographers .photographers-country {
    width: 234px;
    height: 100%;
    background-color: #f4fafb;
    box-shadow: 0 0 5.3px 0.7px rgba(0, 0, 0, 0.24);
    position: fixed;
    z-index: 2;
    top: 142px;
    left: -100%;
    opacity: 0;
    bottom: 0;
    margin: 0;
    padding-left: 10px !important;
    -webkit-transition: left 0.5s, opacity 0.2s;
    -moz-transition: left 0.5s, opacity 0.2s;
    -ms-transition: left 0.5s, opacity 0.2s;
    -o-transition: left 0.5s, opacity 0.2s;
    transition: left 0.5s, opacity 0.2s;
  }

  #photographers .photographer-card {
    display: inline-block;
    width: calc(25% - 20px);
    margin: 10px;
    padding: 0;
    cursor: pointer;
  }

  #photographers .photographers-container h3 {
    font-size: 18px
  }
}

@media (max-width: 600px) {
  #photographers .photographer-card {
    width: calc(50% - 20px);
  }

  #photographers .photographers-country {
    margin-top: -15px;
    top: 138px;
  }

  #photographers .search-input {
    top: 67px;
    padding: 10px 10px;
    margin: 0;
  }

  #photographers .photographers-container {
    margin-top: -17px;
  }

  #photographers .search-input img {
    top: 21px;
  }
}
