<div class="family-things-container family-things-container-scroll">
  <div class="family-images-container">
    <div class="family-image-container"
         *ngFor="let image of images; let i = index"
         (click)="openMedia(image, i)"
         [style.order]="i"
         [style.height.px]="imageHeight">
      <div class="family-image"
           [ngStyle]="{'background-image': image.background}">

        <div class="image-description">
          <img *ngIf="image.thingIcon" [src]="image.thingIcon" alt="">

          <span>{{image.thingName}}</span>
        </div>
      </div>
    </div>

    <home-media-view-block *ngIf="showImageBlock"
                           [imageData]="imageData"
                           [style.order]="imageBlockLocation"
                           (closeBigImageBlock)="openMedia(activeImage, indexViewBoxImage)"></home-media-view-block>

    <row-loader [items]="images" [field]="'background'" [itemHeight]="itemSize" [count]="zoom"></row-loader>
  </div>
</div>

<loader *ngIf="loader"></loader>
