<div class="slider-mobile-wrapper">
  <div class="slider-mobile-container">
    <span class="glyphicon glyphicon-chevron-left slider-mobile-arrow arrow-mobile-prev"
          (click)="slidePrev()"
          [hidden]="!position"></span>
    <span class="glyphicon glyphicon-chevron-right slider-mobile-arrow arrow-mobile-next"
          (click)="slideNext()"
          [hidden]="(position || position === 0) && allPlaces.length - 1 === position"></span>

    <div class="slider-mobile-content">
      <div id="slider-mobile-container"
           class="slider-mobile">
        <div class="slider-mobile-slide" *ngFor="let image of images; let i=index">
          <img class="slider-mobile-slide-image" [src]="image.background" alt=""/>
          <div class="thing-content">
            <img [src]="activeThing.iconLight" alt="">
            <span>{{activeThing.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-mobile-description-container">
    <div class="slider-mobile-family-images-container">
      <div class="slider-mobile-family-portrait">
        <img *ngIf="chosenPlace?.family"
             [src]="chosenPlace?.family.background"
             [routerLink]="['Place', {thing: chosenPlace?.family.thing, place: chosenPlace?._id, image: chosenPlace?.family._id}]"
             alt="">
      </div>

      <div class="slider-mobile-family-house">
        <img *ngIf="chosenPlace?.house"
             [src]="chosenPlace?.house.background"
             [routerLink]="['Place', {thing: chosenPlace?.house.thing, place: chosenPlace?._id, image: chosenPlace?.house._id}]"
             alt="">
      </div>
    </div>

    <div class="slider-mobile-family-description">
      <div class="slider-mobile-family-title">
        <span [routerLink]="['Matrix', {thing: activeThing._id, countries:'World', rregion: 'World', zoom: 5, row: 1}]">
          « All {{activeThing.plural}}
        </span>
        <h2><span>{{math.round(chosenPlace?.income)}}$ <img src="/assets/img/info-button.svg" alt=""
                                                            *ngIf="chosenPlace?.aboutData"
                                                            (click)="showInfo()"></span>
          {{chosenPlace?.familyName}}
          {{chosenPlace?.familyName ? 'family' : ''}} in {{chosenPlace?.country}}</h2>
      </div>

      <div class="slider-mobile-family-map">
        <place-map [hoverPlace]="hoverPlace"
                   [routerLink]="['Map',{thing:thing}]"
                   *ngIf="hoverPlace">
        </place-map>
      </div>
    </div>

    <p *ngIf="chosenPlace?.familyInfoSummary && !openReadMore">
      {{chosenPlace?.familyInfoSummary}}
      <span class="span-link" (click)="openReadMore = true" *ngIf="chosenPlace?.familyInfo && !openReadMore">Read more >></span>
    </p>
    <p *ngIf="chosenPlace?.familyInfo && openReadMore">
      {{chosenPlace?.familyInfo}}
      <span class="span-link" (click)="openReadMore = false" *ngIf="openReadMore">Read less <<</span>
    </p>
  </div>
</div>
