<div class="slider-mobile-wrapper">
  <div class="slider-mobile-container">
    <span class="glyphicon glyphicon-chevron-left slider-mobile-arrow arrow-mobile-prev"
          (click)="slidePrev()"
          [hidden]="position"></span>
    <span class="glyphicon glyphicon-chevron-right slider-mobile-arrow arrow-mobile-next"
          (click)="slideNext()"
          [hidden]="(position || position === 0) && allPlaces.length - 1 !== position"></span>

    <div class="slider-mobile-content">
      <div id="slider-mobile-container"
           class="slider-mobile">
        <div class="slider-mobile-slide" *ngFor="#image of images">
          <img class="slider-mobile-slide-image" [src]="image.background" alt=""/>
        </div>
      </div>
    </div>
  </div>

  <span class="showContentForMobile"
        [hidden]="showInfoFamily"
        (click)="showInfoFamily = !showInfoFamily">
    Info about family
  </span>

  <div *ngIf="showInfoFamily" class="slider-mobile-description-container">
    <div class="slider-mobile-family-images-container">
      <div class="slider-mobile-family-portrait">
        <img *ngIf="chosenPlace.family"
             [src]="chosenPlace.family.background"
             [routerLink]="['Place', {thing: chosenPlace.family.thing, place: chosenPlace._id, image: chosenPlace.family._id}]"
             alt="">
      </div>

      <div class="slider-mobile-family-house">
        <img *ngIf="chosenPlace.house"
             [src]="chosenPlace.house.background"
             [routerLink]="['Place', {thing: chosenPlace.house.thing, place: chosenPlace._id, image: chosenPlace.house._id}]"
             alt="">
      </div>
    </div>

    <div class="slider-mobile-family-description">
      <div class="slider-mobile-family-title">
        <span [routerLink]="['Matrix', {thing: activeThing._id, countries:'World', rregion: 'World', zoom: 5, row: 1}]">
          « All {{activeThing.plural}}
        </span>
        <h2><span>{{chosenPlace.income}}$</span> The {{chosenPlace.familyName}} in {{chosenPlace.country}}</h2>
      </div>

      <div class="slider-mobile-family-map">
        <place-map [place]="chosenPlace"></place-map>
      </div>
    </div>

    <p class="info" *ngIf="chosenPlace.familyInfoSummary">{{chosenPlace.familyInfoSummary}}</p>
  </div>
</div>
