<div id="concept">
  <div class="container">
    <div class="row">
      <div class="concept_header col-md-12">
        <h2>Dollar Street</h2>

        <p>
          Describe why, who, where, future, participate under this section. Text and illustrations. Some general
          description that explains how you think. Three main cases to understand compare within countries on different
          income and between countries on same income. explain here how to think of it. Also describe the street more in
          detail here.
        </p>
      </div>
      <div class="concept_content col-md-12">
        <div class="concept_things_menu">
          <ul>
            <li *ngFor="#thing of things"
                (click)="selectThing(thing)"
                [ngClass]="{active: activeThing._id === thing._id}">
              <div class="icon">
                <img *ngIf="thing.icon" [src]="thing.thingUrl"
                     alt="">
                <img *ngIf="thing.icon" [src]="thing.thingUrlHovered"
                     alt="">
              </div>

              <span>{{thing.plural}}</span>
            </li>
          </ul>
        </div>

        <div class="concept_things_content">
          <div class="concept-header">
            <div class="concept-header-thing-info pull-left">
              <img class="pull-left" [src]="activeThing.icon">

              <div class="concept-header-thing-title pull-right">
                <p>{{activeThing.plural}} across the World</p>
                <span>{{activeThing.plural}} by income</span>
              </div>
            </div>
            <div class="concept-map pull-right">
              <img src="/assets/img/map_index.png">
            </div>
          </div>
          <div class="concept-houses">
            <img src="/assets/img/street_and_graphic.png" alt="">
            <div class="concept-captions">
              <div class="concept-poorest">Poorest</div>
              <div class="concept-richest">Richest</div>
            </div>
            <div class="houses-container" *ngIf="images.length">
              <div *ngFor="#image of images" [ngClass]="houseClassForRegion[image.place.region]"></div>
            </div>
          </div>

          <div class="concept-places-container">
            <div class="concept-places" *ngIf="images.length">
              <div class="concept-place-arrow-container" *ngFor="#image of images">
                <div class="concept-place-arrow-up"></div>
                <div class="concept-place">
                  <div class="concept-place-arrow-up"></div>
                  <img [src]="amazonS3Url + image.imageUrl" alt="">
                  <div class="concept-place-captions">
                    <div class="concept-country">{{image.place.country}}</div>
                    <div class="concept-income">{{image.place.income}}$</div>
                  </div>
                </div>
                <div class="m-concept-place-captions">
                  <div class="m-concept-country">{{image.place.country}}</div>
                  <div class="m-concept-income">{{image.place.income}}$</div>
                </div>
              </div>
            </div>
          </div>

          <div class="concept-info">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's simply dummy text of the printing and typesetting industry. Lorem Ipsum.Lorem Ipsum is simply
              dummy text of the printing
            </p>
            <a [routerLink]="['Matrix', {thing: activeThing._id,countries:'World',regions:'World',zoom:5,row:1}]"
               [angulartics2On]="'click'"
               [angularticsEvent]="'go to matrix page from main'">
              See all <span>{{activeThing.plural}}</span> »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
