#concept {
  padding-top: 67px;
}

#concept .concept_header {
  padding-top: 30px;
  padding-bottom: 20px;
}

#concept .concept_header h2 {
  font-size: 44px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}

#concept .concept_header p {
  color: #767d86;
  font-size: 24px;
  line-height: 36px;
}

#concept .concept_content {
  clear: both;
  overflow: hidden;
}

#concept .concept_content .concept_things_menu {
  width: 170px;
  float: left;
}

.concept_things_menu ul {
  padding: 0;
  margin: 50px 0 0;
}

.concept_things_menu ul li {
  list-style: none;
  padding: 6px 15px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}

.concept_things_menu ul li.active:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -6px;
  bottom: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid #f9cd28;
  border-bottom: 6px solid transparent;
  margin: auto 0;
}

.concept_things_menu ul li .icon {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  position: relative;
}

.concept_things_menu ul li .icon img {
  width: 25px;
  display: none;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.concept_things_menu ul li .icon img:first-child {
  display: block;
}

.concept_things_menu ul li.active,
.concept_things_menu ul li:hover {
  background-color: #f9cd28;
}

.concept_things_menu ul li.active .icon img:first-child,
.concept_things_menu ul li:hover .icon img:first-child {
  display: none;
}

.concept_things_menu ul li.active .icon img:last-child,
.concept_things_menu ul li:hover .icon img:last-child {
  display: block;
}

.concept_things_menu ul li span {
  font-size: 20px;
  color: #374551;
}

.concept_things_menu ul li.active span,
.concept_things_menu ul li:hover span {
  font-weight: bold;
}

@media (max-width: 480px) {
  #concept .concept_header {
    padding-top: 0;
  }

  #concept .concept_header h2 {
    font-size: 36px;
  }

  #concept .concept_header p {
    font-size: 18px;
    line-height: 24px;
  }
}

.concept-info {
  overflow: hidden;
}

.concept_things_content .concept-info {
  padding-top: 30px;
}

.concept_things_content .concept-info p {
  color: #767d86;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  float: left;
  width: 70%;
}

.concept_things_content .concept-info a.custom-button {
  margin: 20px 2.5%;
  float: right;
}

.concept_things_content .concept-info a.custom-button span {
  text-transform: lowercase;
}

.concept_things_content {
  position: relative;
  float: left;
  width: calc(100% - 200px);
  min-height: 480px;
  margin-left: 30px;
}

.concept-houses {
  position: relative;
}

.concept-houses .africa-house {
  background-image: url('/assets/img/africa.svg');
}

.concept-houses .asia-house {
  background-image: url('/assets/img/asia.svg');
}

.concept-houses .america-house {
  background-image: url('/assets/img/america.svg');
}

.concept-houses .europe-house {
  background-image: url('/assets/img/europe.svg');
}

.concept-houses div[class$="-house"] {
  float: left;
  width: 19%;
  height: 25px;
  margin-left: 8%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.concept-houses div[class$="-house"]:first-child {
  margin-left: 0;
}

.concept-captions,
.houses-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.houses-container {
  padding: 0 3%;
  bottom: 3px;
}

.concept-houses img {
  width: 100%;
}

.concept-captions {
  font-size: 17px;
  color: #888;
  bottom: 5px;
}

.concept-poorest {
  float: left;
}

.concept-richest {
  float: right;
}

.concept-places-container {
  margin: 5px 3% 0;
  min-height: 185px;
}

.concept-places {
  padding-top: 15px;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.concept-place img {
  width: 100%;
  border-radius: 3%;
  border: 1px solid #374551;
}

.concept-place {
  position: relative;
  width: 100%;
  margin-top: -100%
}

.concept-place-captions {
  position: absolute;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  bottom: 0;
}

.m-concept-place-captions {
  font-size: 20px;
  line-height: 24px;
  display: none;
}

.concept-place-captions .concept-income {
  float: right;
}

.concept-place-captions .concept-country {
  float: left;
}

.concept-place-arrow-container {
  position: relative;
  width: 100%;
}

.concept-place-arrow-container {
  float: left;
  width: 19%;
  text-align: center;
  padding-top: 19%;
}

.concept-place-arrow-container + .concept-place-arrow-container {
  margin-left: 8%;
}

.concept-place-arrow-up {
  position: absolute;
  top: -7px;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #374551;
}

.concept-header {
  overflow: hidden;
}

.concept-header-thing-info img {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.concept-header-thing-title p {
  font-size: 28px;
  margin-bottom: 5px;
  line-height: 18px;
}

.concept-header-thing-title span {
  text-transform: lowercase;
  font-size: 20px;
  color: #767d86;
}

@media (max-width: 1200px) {
  .concept-places-container {
    min-height: 150px;
  }

  .concept_things_content .concept-info {
    padding-top: 3%;
    text-align: center;
  }

  .concept_things_content .concept-info p {
    margin-right: 0;
    width: 100%;
  }

  .concept_things_content .concept-info a.custom-button,
  .concept_things_content .concept-info p {
    float: none;
  }
}

@media (max-width: 992px) {
  .concept-place-arrow-container,
  .concept-houses div[class$="-house"] {
    width: 23%;
    margin-left: 2% !important;
  }

  .concept-place-arrow-container + .concept-place-arrow-container {
    margin-left: 2%;
  }

  .concept-place {
    margin-top: -86%;
  }

  .concept-place-captions {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .concept_things_content {
    margin-left: 0;
    width: 100%;
  }

  .concept-captions {
    display: none;
  }

  .houses-container {
    bottom: 1px;
  }

  .concept-place-captions {
    display: none;
  }

  .m-concept-place-captions {
    display: block;
  }

  .m-concept-country {
    color: #374551;
  }

  .m-concept-income {
    color: #767d86;
  }

  #concept .concept_content .concept_things_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .concept_things_menu > ul {
    overflow: hidden;
  }

  .concept_things_menu > ul > li {
    float: left;
    padding-top: 10%;
    width: 20%;
  }

  .concept_things_menu > ul > li.active {
    background-color: #f9cd28;
  }

  .concept_things_menu > ul > li.active:before {
    display: none;
  }

  .concept_things_menu > ul > li > span {
    display: none;
  }

  .concept_things_menu > ul > li > .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  .concept_things_menu > ul > li > .icon img {
    width: 40px;
    height: 40px;
  }

  .concept-header {
    margin: 20px 0;
  }

  .concept_things_menu ul {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .m-concept-place-captions {
    font-size: 18px;
    line-height: 22px;
  }

  .concept-header-thing-title p {
    font-size: 20px;
  }

  .concept-header-thing-title span {
    text-transform: lowercase;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .concept_things_content .concept-info p {
    font-size: 18px;
    line-height: 24px;
  }

  .concept_things_menu > ul > li {
    padding-top: 20%;
  }

  .concept-header-thing-title p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .concept-header-thing-title span {
    font-size: 14px;
  }

  .concept-header-thing-info img {
    width: 35px;
  }

  .concept-header .concept-map img {
    width: 60px;
  }
}
