.share-button-container {
  overflow: hidden;
}

.share-button-container > div {
  float: left;
  margin-left: 16px;
  text-align: center;
  cursor: pointer;
}

.share-button-container .share-button i {
  font-size: 24px;
  color: #374551;
}

main-menu social-share-buttons {
  width: calc(100% - 42px);
  display: block;
  float: right;
}

main-menu social-share-buttons .share-button-container .share-button i {
  color: #edf0f5;
  font-size: 24px;
}

float-footer .share-button-container .share-button i {
  font-size: 28px;
  color: #ffcf43;
}
