.share-button-container {
  overflow: hidden;
  padding: 15px 10px;
}

.share-button-container > div {
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.share-button-container .share-button img {
  width: 32px;
}
