#webstorm
.idea
#node.js
node_modules
npm-debug.log

# builded files
dist/*
!dist/404.html
!dist/CNAME

#coverage
coverage

# ts generated
app/**/*.js
app/**/*.js.map
app/**/*.d.ts

#ts typings
typings
!typings/require.d.ts

.DS_Store
app/.DS_Store


