#webstorm
.idea
#node.js
node_modules
npm-debug.log

# builded files
dist

#coverage
coverage

# ts generated
app/**/*.js
app/**/*.js.map
app/**/*.d.ts

#ts typings
typings

.DS_Store
app/.DS_Store


