language: node_js
sudo: false
# test with node 4.* and 5.*
node_js:
  - "5"
  - "4"

# cache node_modules (read more: https://docs.travis-ci.com/user/caching/)
cache:
  directories:
    - node_modules


env:
  CXX=g++-4.8

before_install:
- npm install -g npm@latest

before_script:
# set up UI for travis-ci (read more https://docs.travis-ci.com/user/gui-and-headless-browsers/)
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
# build client project
- npm run build:prod
# start file server in background
- npm run serve &
- sleep 3
# update webdrived for karma tests
- npm run update-webdriver

script:
# run local karma tests
- npm test
# run protractor tests
- npm run e2e
# submit coverage report to coveralls
- cat ./coverage/report-lcov/lcov.info | ./node_modules/.bin/coveralls --verbose
# run karma tests at browser stack
#- npm run test-bs
# run karma tests at sauce labs
#- npm run karma-sauce

addons:
  # sauce labs tunel connector (read more https://docs.travis-ci.com/user/sauce-connect/ )
  sauce_connect: true
  firefox: "42.0"
  apt:
    sources:
    - ubuntu-toolchain-r-test
    # required by node-gyp to build some packages
    packages:
    - g++-4.8
