.images-container {
  overflow: hidden;
  padding: 18px;
}

.image-content {
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6px;
  cursor: pointer;
}

.image-content.column-2 {
  width: calc(50% - 12px);
}

.image-content.column-3 {
  width: calc(33% - 12px);
}

.image-content.column-4 {
  width: calc(25% - 12px);
}

.image-content.column-5 {
  width: calc(20% - 12px);
}

.image-content.column-6 {
  width: calc(16.66% - 12px);
}

.image-content.column-7 {
  width: calc(14.28% - 12px);
}

.image-content.column-8 {
  width: calc(12.5% - 12px);
}

.image-content.column-9 {
  width: calc(11.11% - 12px);
}

.image-content.column-10 {
  width: calc(10% - 12px);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 8px 8px;
  font-size: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(255, 255, 255, 0));
  z-index: 9;
}

.place-image-box-country,
.place-image-box-income {
  color: white;
  display: block;
}

.image-content.no-row .place-image-box-country,
.image-content.no-row .place-image-box-income {
  float: none !important;
  padding: 0 !important;
  display: block;
}

.mobile-hover .plus,
.mobile-hover {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.mobile-hover .plus {
  color: white;
  margin: auto;
  height: 15px;
  text-align: center;
  display: inline-block;
}

.mobile-hover {
  background-color: rgba(0, 0, 0, .5);
}

.mobile-hover.active {
  display: block;
}

.xl-text-c {
  text-align: center;
  font-size: xx-large;
  margin: 40px 0 50px 0
}

.matrix-view-block {
  width: 100%;
  display: block;
}

@media (min-width: 992px) {
  .place-image-box-country,
  .place-image-box-income {
    padding: 3px;
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .place-image-box-country,
  .place-image-box-income {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .place-image-box-country,
  .place-image-box-income {
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 600px) {
  .mobile-hover .plus {
    height: 17px;
    font-size: 12px;
  }

  .image-content:hover {
    box-shadow: 0 0 0 2px #374551 inset;
  }

  .mobile-hover,
  .mobile-hover .plus {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
  }
}
