.images-container {
  overflow: hidden;
  position: relative;
}

.image-content {
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.image-content.column-2 {
  width: 49%;
  margin: .5%;
  padding-top: 49%
}

.image-content.column-3 {
  width: 32.33%;
  margin: 0.5%;
  padding-top: 32.33%;
}

.image-content.column-4 {
  width: 24%;
  margin: .5%;
  padding-top: 24%;
}

.image-content.column-5 {
  width: 19%;
  margin: .5%;
  padding-top: 19%;
}

.image-content.column-6 {
  width: 15.866%;
  margin: .4%;
  padding-top: 15.866%;
}

.image-content.column-7 {
  width: 13.685%;
  margin: .3%;
  padding-top: 13.685%;
}

.image-content.column-8 {
  width: 11.9%;
  margin: .3%;
  padding-top: 11.9%;
}

.image-content.column-9 {
  width: 10.711%;
  margin: .2%;
  padding-top: 10.711%;
}

.image-content.column-10 {
  width: 9.8%;
  margin: .1%;
  padding-top: 9.8%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 8px 8px;
  font-size: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(255, 255, 255, 0));
  z-index: 9;
}

.place-image-box-country,
.place-image-box-income {
  color: white;
}

.image-content.no-row .place-image-box-country,
.image-content.no-row .place-image-box-income {
  float: none !important;
  padding: 0 !important;
  display: block;
}

.place-image-box:hover {
  box-shadow: 0 0 0 5px #374551 inset;
}

.place-image-box-empty {
  float: left;
  margin: 0 1px;
}

.image-content.active,
.image-content:hover {
  box-shadow: 0 0 0 5px #374551 inset;
}

.mobile-hover .plus,
.mobile-hover {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.mobile-hover .plus {
  color: white;
  margin: auto;
  height: 15px;
  text-align: center;
  display: inline-block;
}

.mobile-hover {
  /*display:none;*/
  background-color: rgba(0, 0, 0, .5);
}

.mobile-hover.active {
  display: block;
}

.xl-text-c {
  text-align: center;
  font-size: xx-large;
  margin: 40px 0 50px 0
}

.matrix-view-block {
  width: 100%;
  display: block;
}

@media (min-width: 992px) {

  .place-image-box-country,
  .place-image-box-income {
    padding: 3px;
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .place-image-box-country,
  .place-image-box-income {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .place-image-box-country,
  .place-image-box-income {
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 600px) {
  .mobile-hover .plus {
    height: 17px;
    font-size: 12px;
  }

  .image-content:hover {
    box-shadow: 0 0 0 2px #374551 inset;
  }

  .mobile-hover,
  .mobile-hover .plus {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
  }
}
