<div class="images-container" *ngIf="currentPlaces?.length">
  <div class="flex-container column-{{zoom}}"
       infinite-scroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="0"
       (scrolled)="onScrollDown()">
    <div class="image-content"
         *ngFor="let place of placesArr; let i = index"
         [style.-webkit-box-ordinal-group]="i"
         [style.-moz-box-ordinal-group]="i"
         [style.-ms-flex-order]="i"
         [style.-webkit-order]="i"
         [style.order]="i"
         [ngStyle]="{'background-image': place.isUploaded && toUrl(place?.background), height: imageHeight + 'px'}"
         [ngClass]="{'no-row': zoom > 5 || !isDesktop, active: prevPlaceId === place._id}"
         (mouseenter)="hoverImage(place)"
         (mouseleave)="hoverImage()"
         (click)="goToImageBlock(place, i)">
      <div class="image-description">
        <span class="place-image-box-income">{{math.round(place?.income)}}$</span>
        <span class="place-image-box-country">{{place?.country}}</span>
      </div>
    </div>

    <matrix-view-block class="matrix-view-block"
                       *ngIf="showblock"
                       [query]="query"
                       [place]="familyData"
                       [thing]="thing"
                       [positionInRow]="positionInRow"
                       [style.-webkit-box-ordinal-group]="imageBlockLocation"
                       [style.-moz-box-ordinal-group]="imageBlockLocation"
                       [style.-ms-flex-order]="imageBlockLocation"
                       [style.-webkit-order]="imageBlockLocation"
                       [style.order]="imageBlockLocation"
                       (closeBigImageBlock)="goToImageBlock(familyData, indexViewBoxHouse)">
    </matrix-view-block>

    <row-loader [items]="placesArr"
                [countInRow]="zoom"
                [field]="'background'"
                [itemHeight]="itemSize"
                [activeItem]="activeHouse"
                [visibleItems]="visibleImages"
                [viewBlockHeight]="viewBlockHeight"
                [startPosition]="rowLoaderStartPosition"
                (imageIsUploaded)="imageIsUploaded($event)">
    </row-loader>
  </div>
</div>

<div class="xl-text-c" *ngIf="!currentPlaces?.length">
  <p>Sorry. There is no data by this query yet.</p>
</div>
