<div class="ambassadors container">

  <div class="ambassadors-peoples" *ngFor="#ambassadors of ambassadorsList; #i = index; #l = last;">
    <h2>{{ambassadors.position}}</h2>

    <div class="ambassadors-people-box">
      <div *ngFor="#ambassador of ambassadors.ambassadors"
           [ngClass]="!l ? {'ambassadors-people': true, show: i === showedBlock}:
           {'ambassadors-organization show': true}">
        <img [src]="ambassador.img" alt="">
        <p class="name">{{ambassador.name}}</p>
        <p class="country"><img class="marker" src="/assets/img/grey-marker.svg" alt="">{{ambassador.country}}</p>
        <p class="description" *ngIf="ambassador.description">{{ambassador.description}}</p>
      </div>
    </div>

    <span class="custom-button"
          *ngIf="!l"
          (click)="show(i)">{{i === showedBlock ? 'View Less <<' : 'View More >>'}}</span>
  </div>
</div>
