<div class="ambassadors container">

  <div class="ambassadors-peoples" *ngFor="#ambassadors of ambassadorsList; #i = index; #l = last;">
    <h2>{{ambassadors.position}}</h2>
    <div class="ambassadors-people-box">
      <div *ngFor="#ambassador of ambassadors.ambassadors"
           [ngClass]="!l?{'ambassadors-people':true,show:i===showedBlock}:
           {'ambassadors-organization':true,show:i===showedBlock}">
        <img [src]="ambassador.img">
        <p class="name">{{ambassador.name}}</p>
        <p class="country"><img [src]="'/assets/img/gray_marker.png'">{{ambassador.country}}</p>
        <p class="description">{{ambassador.description}}</p>
      </div>
    </div>
    <span class="see-more" (click)="show(i)">{{i===showedBlock?'Show less »':'Show more »'}}</span>
  </div>
</div>
