.ambassadors {
  margin: 77px auto 100px;
  overflow: hidden;
}

.ambassadors * {
  margin: 0;
}

.ambassadors .ambassadors-people .see-more {
  display: block;
  color: #fff;
  margin:   30px auto 0;;
  padding: 10px 30px;
  background-color: #374551;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width:165px;

}

.ambassadors .ambassadors-people .see-more:hover{
  background-color: #FFB702;
}

.ambassadors .ambassadors-people span {
  display: block;
  color: #374551;
  font-size: 44px;
}

.ambassadors .ambassadors-people h2 {
  clear: both;
  font-size: 44px;
  margin: 40px 0 15px 0;
}

.ambassadors .ambassadors-people .ambassadors-people-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.ambassadors .ambassadors-people .ambassadors-people {
  width: calc(100%/6);
  padding: 2px;
  display: none;
}

.ambassadors .ambassadors-people .ambassadors-organization {
  width: calc(100%/4);
  padding: 2px;
  display: none;
}

.ambassadors .ambassadors-people .ambassadors-people:nth-child(-n+6),
.ambassadors .ambassadors-people .ambassadors-organization:nth-child(-n+4) {
  display: block;
}

.ambassadors .ambassadors-people .ambassadors-people-box img {
  width: 100%;
}

.ambassadors .ambassadors-people .ambassadors-people-box .name {
  font-size: 20px;
}

.ambassadors .ambassadors-people .ambassadors-people-box .country {
  color: #767d86;
  font-size: 18px;
}

.ambassadors .ambassadors-people .ambassadors-people-box .country img {
  width: 10px;
  height: 15px;
  margin: 5px 6px 0px 0px;
  display: block;
  float: left;
}

.ambassadors .ambassadors-people .ambassadors-people-box .description {
  margin-top: 17px;
  font-size: 16px;
}

@media (max-width: 1023px) {
  .ambassadors .ambassadors-people .ambassadors-people:nth-child(-n+6),
  .ambassadors .ambassadors-people .ambassadors-organization:nth-child(-n+4) {
    display: none;
  }
  .ambassadors .ambassadors-people .ambassadors-people:nth-child(-n+4),
  .ambassadors .ambassadors-people .ambassadors-organization:nth-child(-n+3) {
    display: block;
  }
  .ambassadors .ambassadors-people .ambassadors-people {
    width: calc(100%/4);
    padding: 2px;
  }

  .ambassadors .ambassadors-people .ambassadors-organization {
    width: calc(100%/3);
    padding: 2px;
  }
}

@media (max-width: 600px) {
  .ambassadors .ambassadors-people .ambassadors-people:nth-child(-n+6),
  .ambassadors .ambassadors-people .ambassadors-organization:nth-child(-n+4) {
    display: none;
  }
  .ambassadors .ambassadors-people .ambassadors-people:nth-child(-n+4),
  .ambassadors .ambassadors-people .ambassadors-organization:nth-child(-n+3) {
    display: none;
  }
  .ambassadors .ambassadors-people .ambassadors-people:nth-child(-n+2),
  .ambassadors .ambassadors-people .ambassadors-organization:nth-child(-n+2) {
    display: block;
  }
  .ambassadors .ambassadors-people .ambassadors-people {
    width: calc(100%/2);
    padding: 2px;
  }

  .ambassadors .ambassadors-people .ambassadors-organization {
    width: calc(100%/2);
    padding: 2px;
  }
}
