.ambassadors {
  margin: 0 auto;
  overflow: hidden;
}

.ambassadors * {
  margin: 0;
}

.ambassadors .ambassadors-peoples .custom-button {
  display: block;
  margin: 0 auto;;
  width: 150px;
}

.ambassadors .ambassadors-peoples h2 {
  clear: both;
  font-size: 28px;
  margin: 50px 0 16px 0;
}

.ambassadors .ambassadors-peoples .ambassadors-people-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -10px;
}

.ambassadors .ambassadors-peoples .ambassadors-people {
  width: calc(100% / 6);
  padding: 0 10px;
  margin-bottom: 30px;
  display: none;
}

.ambassadors .ambassadors-peoples .ambassadors-organization {
  width: calc(100% / 4);
  padding: 0 10px;
  margin-bottom: 30px;
  display: none;
}

.ambassadors .ambassadors-peoples .ambassadors-people:nth-child(-n+6),
.ambassadors .ambassadors-peoples .ambassadors-organization:nth-child(-n+4) {
  display: block;
}

.ambassadors .ambassadors-peoples .ambassadors-organization > img {
  border: 1px solid #d2d5da;
}

.ambassadors .ambassadors-peoples .ambassadors-people-box img {
  width: 100%;
}

.ambassadors .ambassadors-peoples .ambassadors-people-box .name {
  font-size: 20px;
}

.ambassadors .ambassadors-peoples .ambassadors-people-box .country {
  color: #767d86;
  font-size: 18px;
}

.ambassadors .ambassadors-peoples .ambassadors-people-box .country img {
  width: 11px;
  margin: -7px 6px 0 0;
}

.ambassadors .ambassadors-peoples .ambassadors-people-box .description {
  margin-top: 15px;
  font-size: 16px;
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people:nth-child(-n+6),
  .ambassadors .ambassadors-peoples .ambassadors-organization:nth-child(-n+4) {
    display: none;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people:nth-child(-n+4),
  .ambassadors .ambassadors-peoples .ambassadors-organization:nth-child(-n+3) {
    display: block;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people {
    width: calc(100% / 4);
  }

  .ambassadors .ambassadors-peoples .ambassadors-organization {
    width: calc(100% / 3);
  }

  .ambassadors .ambassadors-peoples h2 {
    font-size: 28px;
    margin: 40px 0 10px;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people-box .name {
    font-size: 18px;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people-box .country {
    font-size: 16px;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people-box .description {
    font-size: 14px;
    margin-top: 6px;
    line-height: 17px;
  }

  .ambassadors .ambassadors-peoples .ambassadors-organization {
    margin-bottom: 30px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 600px) {
  .ambassadors .ambassadors-peoples .ambassadors-people:nth-child(-n+6),
  .ambassadors .ambassadors-peoples .ambassadors-organization:nth-child(-n+4) {
    display: none;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people:nth-child(-n+4),
  .ambassadors .ambassadors-peoples .ambassadors-organization:nth-child(-n+3) {
    display: none;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people:nth-child(-n+2),
  .ambassadors .ambassadors-peoples .ambassadors-organization:nth-child(-n+2) {
    display: block;
  }

  .ambassadors .ambassadors-peoples .ambassadors-organization,
  .ambassadors .ambassadors-peoples .ambassadors-people {
    width: calc(100% / 2);
    padding: 0 5px;
  }
  .ambassadors .ambassadors-peoples{
    padding-top: 15px;
  }
  .ambassadors .ambassadors-peoples h2 {
    font-size: 20px;
    margin:10px 0 5px -5px;
  }

  .ambassadors .ambassadors-peoples .ambassadors-organization .name,
  .ambassadors .ambassadors-peoples .ambassadors-people .name {
    font-size: 16px !important;
  }
  .ambassadors .ambassadors-peoples .ambassadors-organization .country,
  .ambassadors .ambassadors-peoples .ambassadors-people .country {
    font-size: 14px !important;
  }
  .ambassadors .ambassadors-peoples .ambassadors-organization .country img,
  .ambassadors .ambassadors-peoples .ambassadors-people .country img {
    width: 9px;
  }
  .ambassadors .ambassadors-peoples .ambassadors-organization .description,
  .ambassadors .ambassadors-peoples .ambassadors-people .description {
    font-size: 13px;
    line-height: 16px !important;
    margin-top: 5px;
  }

  .ambassadors .ambassadors-peoples .ambassadors-people {
    margin-bottom: 20px;
  }
}
