<div id="main-menu" *ngIf="!isMobile">
  <div class="btn-group" [ngClass]="{open: isOpenMenu}">
    <span class="menu-icon" (click)="openMenu(isOpenMenu)">
      <img class="unactive" src="/assets/img/gamburger-menu-icon.svg" alt=""/>
      <img class="active" src="/assets/img/gamburger-menu-white-icon.svg" alt=""/>
    </span>

    <div class="dropdown-menu">
      <ul class="header-menu-list">
        <li>
          <a (click)="goToPage('/matrix')">{{ 'HOME' | translate }}</a>
        </li>
        <li>
          <a (click)="goToPage('/matrix', true)">{{ 'QUICK_GUIDE' | translate }}</a>
        </li>
        <li>
          <a (click)="goToPage('/about')">{{ 'ABOUT' | translate }}</a>
        </li>        
        <li>
          <a (click)="goToPage('/map')">{{ 'MAP' | translate }}</a>
        </li>
        <li class="social-share-container">
          <div class="social-share-content">
            <span>{{ 'SHARE' | translate }}: </span>
            <social-share-buttons></social-share-buttons>
          </div>
        </li>
        <li>
          <div class="feedback-container">
            <div class="feedback-content">
              <span class="feedback-icon"></span>
              <a class="feedback" (click)="goToPage('https://getsatisfaction.com/gapminder')">
                {{ 'SEND_FEEDBACK' | translate }}</a>
            </div>
          </div>
        </li>
        <li>
          <a class="menu-links" (click)="goToPage('https://www.gapminder.org')">{{ 'MORE_FROM' | translate }} gapminder >></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-mobile-menu" *ngIf="isMobile">
  <div class="btn-group" [ngClass]="{open: isOpenMenu}">
    <span class="menu-icon" (click)="openMenu(isOpenMenu)">
      <img class="unactive" src="/assets/img/gamburger-menu-icon.svg" alt=""/>
      <img class="active" src="/assets/img/gamburger-menu-white-icon.svg" alt=""/>
    </span>

    <div class="container-menu" *ngIf="isOpenMenu">
      <div class="menu-header-content">
        <img src="/assets/img/dollar-street.svg"
             alt="DollarStreet logo">
        <span>Dollar Street</span>
      </div>

      <img class="close-button pull-right"
           src="/assets/img/close-button.svg"
           (click)="openMenu(true)"
           alt="Close">

      <ul class="menu-list">
        <li>
          <div class="language-selector">
            <language-selector></language-selector>
          </div>
        </li>
        <li>
          <a (click)="goToPage('/matrix')">{{ 'HOME' | translate }}</a>
          <img class="thing-apply-icon" src="/assets/img/apply-icon.svg" alt="Apply icon">
        </li>
        <li>
          <a (click)="goToPage('/matrix', true)">{{ 'QUICK_GUIDE' | translate }}</a>
          <img class="thing-apply-icon" src="/assets/img/apply-icon.svg" alt="Apply icon">
        </li>
        <li>
          <a (click)="goToPage('/about')">{{ 'ABOUT' | translate }}</a>
          <img class="thing-apply-icon" src="/assets/img/apply-icon.svg" alt="Apply icon">
        </li>        
        <li>
          <a (click)="goToPage('/map')">{{ 'MAP' | translate }}</a>
          <img class="thing-apply-icon" src="/assets/img/apply-icon.svg" alt="Apply icon">
        </li>

        <li class="social-share-container">
          <div class="social-share-content">
            <div class="share-text">
              {{ 'SHARE' | translate }}:
            </div>
            <social-share-buttons></social-share-buttons>
          </div>
        </li>

        <div class="gapminder-img">
          <img src="/assets/img/gapminder-logo.png"
               alt="Gapminder logo">
        </div>

        <div class="feedback-container">
          <a class="feedback" (click)="goToPage('https://getsatisfaction.com/gapminder')">
            {{ 'SEND_FEEDBACK' | translate }}</a>
        </div>

        <div class="gapminder">
          <a (click)="goToPage('https://www.gapminder.org')">{{ 'MORE_FROM' | translate }} gapminder >></a>
        </div>
      </ul>
    </div>
  </div>
</div>

