.family-things-container {
  min-height: 450px;
  padding: 15px 17px;
}

.family-images-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%;
  min-height: 250px;
  position: relative;
}

.family-images-container .family-image-container {
  width: calc(25% - 10px);
  margin: 5px;
  float: left;
  position: relative;
  cursor: pointer;
}

.family-images-container .family-image {
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0.6px 0.8px 2.9px 0.1px rgba(0, 0, 0, 0.2);
}

.family-images-container .family-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

.family-things-container .image-description {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px 8px 8px;
  font-size: 20px;
  font-family: 'Font Regular Italic', sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(255, 255, 255, 0));
}

.family-things-container .image-description img {
  float: left;
  width: 30px;
  margin: -8px 7px 0 0;
}

.family-image .hover-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  display: block;
  opacity: 0;
}

.family-image:hover .hover-block {
  opacity: 1;
}

.family-image .hover-block span {
  width: 50px;
  height: 50px;
  line-height: 26px;
  text-align: center;
  font-size: 75px;
  margin: auto;
  color: white;
}

.loader-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 64px;
  margin: auto;
  text-align: center;
}

.isLoad {
  width: 64px;
  height: 64px;
  display: inline-block;
}


family-media-view-block {
  display: block;
  clear: both;
  width: 100%;
}

@media (max-width: 1023px) {
  .family-things-container {
    padding: 5px;
  }

  .family-images-container .family-image-container {
    width: calc(33.33% - 10px);
    margin: 5px;
  }
}

@media (max-width: 599px) {
  .family-things-container {
    padding: 2.5px;
  }

  .family-images-container .family-image-container {
    width: calc(33.33% - 5px);
    margin: 2.5px;
  }

  .family-things-container .image-description {
    font-size: 14px;
  }

  .family-things-container .image-description img {
    width: 20px;
    margin: -3px 7px 0 0;
  }
}
