.family-things-container {
  padding: 15px 17px;
}

.family-images-container {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%;
  position: relative;
}

.family-images-container .family-image-container {
  width: 25%;
}

.family-images-container.column-2 .family-image-container {
  width: 50%;
}

.family-images-container.column-3 .family-image-container {
  width: 33.33%;
}

.family-images-container.column-4 .family-image-container {
  width: 25%;
}

.family-images-container.column-5 .family-image-container {
  width: 20%;
}

.family-images-container.column-6 .family-image-container {
  width: 16.66%;
  padding: 2px;
}

.family-images-container.column-7 .family-image-container {
  width: 14.28%;
  padding: 2px;
}

.family-images-container.column-8 .family-image-container {
  width: 12.5%;
  padding: 2px;
}

.family-images-container.column-9 .family-image-container {
  width: 11.11%;
  padding: 1px;
}

.family-images-container.column-10 .family-image-container {
  width: 10%;
  padding: 1px;
}

.family-images-container.column-6,
.family-images-container.column-7,
.family-images-container.column-8 {
  padding: 0 2px;
}

.family-images-container.column-9,
.family-images-container.column-10 {
  padding: 0 4px;
}

.family-images-container .family-image-container {
  padding: 5px;
  float: left;
  position: relative;
  cursor: pointer;
}

.family-image-position {
  width: 100%;
  height: 0;
  box-sizing: content-box;
  padding-bottom: 100%;
  position: relative;
}

.family-image-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.family-images-container .family-image {
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0.6px 0.8px 2.9px 0.1px rgba(0, 0, 0, 0.2);
}

.family-images-container .family-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

.family-things-container .image-description {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 8px 8px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Font Regular Italic', sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(255, 255, 255, 0));
}

.image-description .category-image {
  display: inline-block;
  vertical-align: bottom;

}

.family-things-container .image-description img {
  width: 30px;
  display: block;
}

.family-image .hover-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  display: block;
  opacity: 0;
}

.family-image:hover .hover-block {
  opacity: 1;
}

.family-image .hover-block span {
  width: 50px;
  height: 50px;
  line-height: 26px;
  text-align: center;
  font-size: 75px;
  margin: auto;
  color: white;
}

.loader-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 64px;
  margin: auto;
  text-align: center;
}

.isLoad {
  width: 64px;
  height: 64px;
  display: inline-block;
}


family-media-view-block {
  display: block;
  clear: both;
  width: 100%;
}

@media (max-width: 1023px) {
  .family-things-container {
    padding: 5px;
  }

  .family-images-container .family-image-container {
    width: 33.33%;
    padding: 5px;
  }

  .family-things-container .image-description {
    font-weight: normal;
  }
}

@media (max-width: 599px) {
  .family-things-container {
    padding: 2px;
  }

  .family-images-container .family-image-container {
    width: 33.33%;
    padding: 2px;
  }

  .family-things-container .image-description {
    font-size: 14px;
  }

  .family-things-container .image-description img {
    width: 20px;
    margin: -3px 7px 0 0;
  }
}

@media (min-width: 1400px) {
  .family-things-container .image-description {
    font-size: 28px;
  }
}
