<div class="follow-button-container">
  <div class="follow-button follow-text">Follow:</div>

  <div class="follow-button">
    <a href="https://twitter.com/dollarstreet_"
       target="_blank"
       angulartics2On="click"
       angularticsEvent="Moved to DollarStreet Twitter Account">
      <img src="/assets/img/follow-tw.svg" alt="Twitter icon"/>
    </a>
  </div>

  <div class="follow-button">
    <a href="https://www.facebook.com/gapminderdollarstreet"
       target="_blank"
       angulartics2On="click"
       angularticsEvent="Moved to Gapminder Facebook Account">
      <img src="/assets/img/follow-fb.svg" alt="Facebook icon"/>
    </a>
  </div>

  <div class="follow-button">
    <a href="https://www.linkedin.com/company/2847373"
       target="_blank"
       angulartics2On="click"
       angularticsEvent="Moved to Gapminder Linkedin account">
      <img src="/assets/img/follow-in.svg" alt="Linkedin icon"/>
    </a>
  </div>

  <div class="follow-button">
    <a href="https://www.instagram.com/dollar_street"
       target="_blank"
       angulartics2On="click"
       angularticsEvent="Moved to DollarStreet Instagram Account">
      <img src="/assets/img/follow-insta.svg" alt="Instagram icon"/>
    </a>
  </div>
</div>
