#country-places p,
#country-places h3 {
  margin: 0;
}

#country-places .country > h3 {
  font-size: 20px;
  font-family: 'Bariol Light';
  margin-bottom: 10px;
  margin-top: -4px;
}

#country-places .place {
  border: 1px solid #d8dce1;
  border-radius: 3px;
  padding: 5px 15px 5px 5px;
  overflow: hidden;
  margin-bottom: 25px;
}

#country-places .place .place-description > div,
#country-places .place > div {
  float: left;
}

#country-places .place .image {
  width: 120px;
}

#country-places .place .image img {
  width: 100%;
  cursor: pointer;
}

#country-places .place .place-description {
  width: calc(100% - 322px);
  margin: 38px 20px 0;
}

#country-places .place-description > div {
  text-align: center;
}

#country-places .place-description .family {
  width: 33%;
  min-height: 1px;
  text-align: left;
}

#country-places .place-description .family * {
  margin-left: 40px;
}

#country-places .place-description .family h3 {
  font-size: 24px;
  font-family: 'Bariol Light';
}

#country-places .country-income {
  overflow: hidden;
  width: 66%
}

#country-places .place-description .place-country {
  font-size: 20px;
  margin-top: 10px;
  width: 50%;
  float: left;
}

#country-places .place-description .place-country img {
  width: 19px;
  margin-top: -9px;
}

#country-places .place-description .income {
  font-size: 45px;
  font-family: 'Bariol Light';
  line-height: 46px;
  width: 50%;
  float: right;
}

#country-places .link {
  margin-top: 37px;
}

#country-places .link a {
  color: #fff;
  padding: 10px 0;
  background-color: #374551;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  width: 162px;
  text-align: center;
}

#country-places .link a:hover {
  background-color: #ffb702;
}

@media (max-width: 1023px) {
  #country-places .family {
    width: 60% !important;
  }

  #country-places .country-income {
    width: 40% !important;
    margin-top: -23px;
  }

  #country-places .country-income .income {
    margin-bottom: 10px !important;
  }

  #country-places .country-income .income span {
    font-size: 40px;
  }

  #country-places .country-income .place-country span {
    font-size: 18px;
  }

  #country-places .country-income > div {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 600px) {
  #country-places .place {
    padding: 5px;
    width: calc(50% - 5px);
    margin: 0 0 10px 10px;
    float: left;
  }

  #country-places .place:nth-child(2n) {
    margin-left: 0;
  }

  #country-places .country {
    overflow: hidden;
  }

  #country-places .place .link,
  #country-places .place .link a,
  #country-places .place .place-description,
  #country-places .place .image {
    width: 100%;
  }

  #country-places .place .image {
    padding-top: 100%;
    line-height: 0;
  }

  #country-places .place .image img {
    margin-top: -100%;
  }

  #country-places .place .place-description > div,
  #country-places .place .place-description {
    margin: 0;
  }

  #country-places .place .place-description {
    margin-top: 5px;
    min-height: 45px;
    position: relative;
  }

  #country-places .place .place-description .country-income,
  #country-places .place .place-description .family {
    width: calc(100% - 65px) !important;
    text-align: left;
    float: none;
  }

  #country-places .place .place-description .place-country p span,
  #country-places .place .place-description .family h3 {
    font-size: 16px;
  }

  #country-places .place-description .place-country img {
    width: 14px;
    margin-top: -5px;
  }

  #country-places .place .place-description .income {
    width: 65px !important;
    font-size: 22px !important;
    line-height: 22px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0 !important;
  }

  #country-places .place .place-description .income span {
    font-size: 22px !important;
    line-height: 22px;
  }

  #country-places .place .link {
    margin-top: 5px;
  }

  #country-places .place .link a {
    font-size: 14px;
  }

  #country-places .place .place-country {
    margin-top: 6px !important;
    font-size: 16px !important;
  }

  #country-places .place .family + .place-country {
    margin-top: 0 !important;
  }

  #country-places .link a {
    padding: 6px 0;
  }

  #country-places .place .place-description .family h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  #country-places .country-income .place-country span {
    width: calc(100% - 20px);
    display: block;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 320px) {
  #country-places .place .place-description .country-income,
  #country-places .place .place-description .family {
    width: 100% !important;
    text-align: left;
    float: none;
  }

  #country-places .place .place-description .family {
    min-height: 17px;
  }


  #country-places .place .place-description .family span {
    display: none;
  }


  #country-places .place .place-description .income {
    top: 0;
  }
}
