<div id="country-place">
  <div class="place" *ngFor="let place of places">
    <div class="image">
      <img *ngIf="place.image" [src]="place.image"
           [routerLink]="['Place', {thing:  place.thing, place: place.placeId, image: place.imageId}]"
           alt="">
    </div>

    <div class="place-description">
      <div class="family">
        <span *ngIf="place.family">family</span>
        <h3 *ngIf="place.family">{{place.family}} <span>family</span></h3>
      </div>

      <div class="country-income">
        <div class="income">
          <span>${{math.round(place?.income)}}</span>
        </div>

        <div class="place-country">
          <p>
            <!--<img *ngIf="country.region === 'Africa'" src="/assets/img/africa.svg" alt="">-->
            <!--<img *ngIf="country.region === 'Europe'" src="/assets/img/europe.svg" alt="">-->
            <!--<img *ngIf="country.region === 'Asia'" src="/assets/img/asia.svg" alt="">-->
            <!--<img *ngIf="country.region === 'America'" src="/assets/img/america.svg" alt="">-->
            <!--<span>{{country.alias || country.country}}</span>-->
            <i class="fa fa-camera"></i><span>{{place.imagesCount || 0}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="link">
      <a class="custom-button"
         [routerLink]="['Place', {thing: place.thing, place: place.placeId, image: place.imageId}]"
      >Visit family >></a>
    </div>
  </div>
</div>
<loader [hidden]="loader"></loader>
