footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  overflow: hidden;
  padding: 0 24px 55px;
}

.footer > div {
  float: left;
}

.footer .cc-container,
.footer .social-share-buttons-container {
  margin-top: 5px;
  width: calc((100% - 430px) / 2);
}

.footer .description-container {
  width: 430px;
}

.footer .cc-container img {
  height: 30px;
}

.footer .logo-container img {
  width: 42px;
}

.footer .logo-container p {
  color: #2e4350;
  font-size: 35px;
  margin: 13px 0 18px;
  line-height: 26px;
}

.footer .logo-container p span {
  font-family: 'Bariol Bold', sans-serif;
}

.footer .links {
  line-height: 20px;
  margin-bottom: 16px;
}

.footer .links a {
  color: #2e4350;
  font-size: 21px;
}

.footer .links .dividers:before {
  content: "";
  width: 1px;
  display: inline-block;
  height: 22px;
  background-color: #2e4350;
  margin: 0 10px -5px 5px;
}

.footer .links .dividers:after {
  content: "";
  width: 1px;
  display: inline-block;
  height: 22px;
  background-color: #2e4350;
  margin: 0 5px -5px 10px;
}

.footer .description-content {
  opacity: 0.7;
  color: #2e4350;
  font-size: 16px;
  line-height: 20px;
}

.footer .description-container {
  text-align: center;
}

.footer .social-share-buttons-container .share-button-container {
  padding: 0;
  text-align: right;
}

.footer .share-button {
  width: 32px;
  display: inline-block;
  float: none;
  margin-left: 16px;
}

.footer .gapminder {
  margin-top: 21px;
}

.footer .gapminder img {
  height: 20px;
}
