footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  overflow: hidden;
}

.footer .container > div {
  float: left;
}

.footer .cc-container {
  margin-top: 8px;
  width: calc((100% - 430px) / 2);
}

.footer .social-follow-buttons-container {
  width: calc((100% - 430px) / 2);
}

.footer .description-container {
  width: 430px;
}

.footer .cc-container img {
  height: 30px;
}

.footer .logo-container img {
  cursor: pointer;
  width: 46px;
}

.footer .logo-container p {
  color: #374551;
  font-size: 30px;
  margin: 13px 0 18px;
  line-height: 26px;
  font-family: 'Bariol Bold', sans-serif;
}

.footer .links {
  line-height: 20px;
  margin-bottom: 16px;
}

.footer .links a {
  color: #374551;
  font-size: 21px;
}

.footer .links .dividers:before {
  content: "";
  width: 1px;
  display: inline-block;
  height: 22px;
  background-color: #2e4350;
  margin: 0 15px -5px 10px;
}

.footer .links .dividers:after {
  content: "";
  width: 1px;
  display: inline-block;
  height: 22px;
  background-color: #2e4350;
  margin: 0 10px -5px 10px;
}

.footer .description-content {
  color: #767d86;
  font-size: 16px;
  line-height: 20px;
}

.footer .description-container {
  text-align: center;
}

.footer .valor {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
  position: absolute;
  right: 16px;
  bottom: 60px;
}


family .footer .valor,
matrix .footer .valor {
  right: 22px;
  bottom: 60px;
}

.footer .valor .developed {
  color: #767d86;
}

.footer .valor .valor-name {
  color: #e7464d;
}

.footer .valor .valor-name:hover {
  color: #d41511;
  text-decoration: underline;
}

.footer .gapminder {
  margin-top: 21px;
}

.footer .gapminder img {
  width: 188px;
  height: 27px;
}

.footer .container {
  position: relative;
  padding-bottom: 60px;
}

family .footer .container,
matrix .footer .container {
  width: 100% !important;
  padding: 0 22px 60px;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
}
