.street-box svg {
  position: relative;
  width: 100%;
  height: 61px;
  z-index: 9;
  vertical-align: top;
}

.thumbView-box {
  position: absolute;
  z-index: 9999;
  max-width: 540px;
  top: 96%;
  height:auto;
  background-color: rgba(55, 69, 81, 0.8);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}


.thumbViewPlace-content {
  width: 165px;
  height: 165px;
  margin: 5px;
  border: 1px solid white;
  position: relative;
  cursor: pointer
}

.thumbViewPlace {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.thumbViewPlace-content .load {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  margin: auto;
  z-index: 0;
}

.thumbViewPlace-content .load div {
  color: #fff;
}

.hover-block {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.hover-block,
.hover-block span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hover-block span {
  width: 50px;
  height: 50px;
  line-height: 26px;
  text-align: center;
  font-size: 75px;
  margin: auto;
  color: white;
}

.thumbViewPlace:hover .hover-block {
  opacity: 1;
}

.house-thumb-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 5px;
  z-index: 5;
}
