.street-box {
  margin: -5px 22px 0;
  padding-bottom: 4px;
}

.street-box svg {
  position: relative;
  width: 100%;
  height: 65px;
  z-index: 9;
  vertical-align: top;
}

.thumbView-box {
  position: fixed;
  z-index: 9999;
  max-width: 542px;
  top: 85px;
  height: auto;

  background-color: #f3fafc;
  border: 1px solid #e2e6ec;
  border-top: none;
  box-shadow: 2px 0 5.5px 0.5px rgba(0, 0, 0, 0.2);

  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: calc(100% - 90px);
  overflow-y: auto;
}

.thumbView-box .arrow_up {
  position: absolute;
  top: -5px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f3fafc;
}

.thumbViewPlace-content {
  width: 165px;
  height: 165px;
  margin: 5px;
  border: 1px solid white;
  position: relative;
  cursor: pointer
}

.thumbViewPlace {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.thumbViewPlace-content .load {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  margin: auto;
  z-index: 0;
}

.thumbViewPlace-content .load div {
  color: #374551;
}

.hover-block {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.hover-block,
.hover-block span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hover-block span {
  width: 50px;
  height: 50px;
  line-height: 26px;
  text-align: center;
  font-size: 75px;
  margin: auto;
  color: white;
}

.thumbViewPlace:hover .hover-block {
  opacity: 1;
}

.house-thumb-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 5px;
  z-index: 5;
}

@media (max-width: 1023px) {
  .street-box {
    margin: -5px 10px 0;
  }
}
