<div id="map-content" >
  <img class="map map_transparent" src="/assets/img/map_dark_border.svg"  [hidden]="isHeader"/>
  <img class="map map_gray" src="/assets/img/map-gray.svg" [hidden]="!isHeader"/>
  <img class="marker"
       src="/assets/img/africa-marker.svg"
       *ngIf="region === 'africa'"
       [ngStyle]="markerPosition" alt="Africa"/>

  <img class="marker"
       src="/assets/img/america-marker.svg"
       *ngIf="region === 'america'"
       [ngStyle]="markerPosition" alt="America"/>

  <img class="marker"
       src="/assets/img/asia-marker.svg"
       *ngIf="region === 'asia'"
       [ngStyle]="markerPosition" alt="Asia"/>

  <img class="marker"
       src="/assets/img/europe-marker.svg"
       *ngIf="region === 'europe'"
       [ngStyle]="markerPosition" alt="Europe"/>
</div>
