.header-container {
  border-bottom: 1px solid #c6c7c9;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 0 22px;
  display: inline-block;
  background-color: #f6f7f8;
  z-index: 12;
}

.header-container .logo {
  margin: 17px 0;
  width: 53px;
  display: block;
}

.header-container .logo img {
  width: 100%;
}

.header-container .heading {
  color: #2e4350;
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  margin: 28px 0 0;
}

.header-container .heading img {
  width: 14px;
  margin: 0 25px;
  vertical-align: baseline;
}

@media (max-width: 1023px) {
  .header-container .logo {
    margin-top: 9px;
    width: 42px;
  }

  .header-container .heading {
    margin: 15px 0 0 15px;
  }

  .matrix-icon {
    margin-top: 11px;
  }
}

@media (max-width: 600px) {
  .header-container .heading {
    font-size: 18px;
    margin: 12px 0 0 10px;
    line-height: 18px;
    width: calc(100% - 110px);
  }

  .header-container .logo {
    margin-top: 5px;
    width: 32px;
  }

  .matrix-icon {
    width: 25px;
    margin-top: 8px;
    margin-right: 5px;
  }
}
