.hover_portrait{
  min-width:164px;
  min-height:203px;
}
#places .places_header {
  padding-top: 30px;
  padding-bottom: 20px;
}

#places .places_header h2 {
  font-size: 44px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}

#places .places_header p {
  color: #767d86;
  font-size: 24px;
  line-height: 36px;
}

#places .mapBox {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

#places .mapBox .mapBoxConteiner {
  position: relative;
  width: 100%;
  max-height: 585px;
  max-width: 961px;
  margin: auto;
}

#places .mapBox .mapBoxConteiner .hover_portrait {
  position: absolute;
  width: 164px;
  color: white;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

#places .mapBox .mapBoxConteiner .hover_portrait img {
  width: 100%;
  border: 1px solid white;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0.574px 0.819px 2.88px 0.1px rgba(0, 0, 0, 0.2);
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_arrow {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box .hover_portrait_description {
  font-family: 'Bariol Light';
  overflow: hidden;
  padding-top: 5px;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box .hover_portrait_description .name {
  font-size: 14px;
  color: #767d86;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box .hover_portrait_description .country {
  font-size: 14px;
  display: block;
  color: #767d86;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box .hover_portrait_description .income {
  color: #767d86;
  font-size: 26px;
  line-height: 26px;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box .hover_portrait_description .pull-left {
  line-height: 14px;
  text-align: left;
}

#places .mapBox .mapBoxConteiner .hover_portrait .hover_portrait_box .hover_portrait_description .pull-right {
  text-align: right;
}

#places .mapBox .map {
  width: 100%;
}

#places .mapBox .marker {
  position: absolute;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

#places .familyPortraits .portrait {
  display: inline-block;
  width: calc(20% - 30px);
  margin: 15px;
  padding-top: calc(20% - 30px);
  cursor: pointer;
  vertical-align: top;
}

#places .familyPortraits .portrait .description {
  overflow: hidden;
  margin-top: 7px;
  font-family: 'Bariol Light';
}

#places .familyPortraits .portrait .description .name {
  font-size: 18px;
  color: #374551
}

#places .familyPortraits .portrait .description .country {
  font-size: 16px;
  display: block;
  color: #767d86
}

#places .familyPortraits .portrait .description .income {
  font-size: 33px;
  color: #374551;
  line-height: 33px;
  float: right;
}

#places .familyPortraits .portrait .description .pull-left {
  width: 70%;
  line-height: 18px;
}

#places .familyPortraits .portrait .description .pull-right {
  width: 30%;
  text-align: right;
}

#places .familyPortraits .portrait img {
  width: 100%;
  display: block;
  margin-top: -100%;
}

#places .see_more_container {
  text-align: center;
  clear: both;
}

#places .see_more_container .see_more {
  color: #fff;
  margin-top: 34px;
  padding: 10px 30px;
  background-color: #374551;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
}

#places  .see_more_container .see_more:hover {
  background-color: #FFB702;
}

@media (max-width: 991px) {
  #places .familyPortraits .portrait {
    width: calc(33.33% - 30px);
    padding-top: calc(33.33% - 30px);
    min-height: 275px;
  }
}

@media (max-width: 600px) {
  #places .familyPortraits .portrait {
    width: calc(50% - 15px);
    padding-top: calc(50% - 15px);
    margin: 7.5px;
  }

  #places .familyPortraits .portrait .description .name {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  #places {
    padding-top: 0;
  }

  #places .familyPortraits .portrait {
    width: calc(50% - 15px);
    padding-top: calc(50% - 15px);
    margin: 7.5px;
    min-height: 230px;
  }

  #places .places_header {
    padding-top: 0;
  }

  #places .places_header h2 {
    font-size: 36px;
  }

  #places .places_header p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 385px) {
  #places .familyPortraits .portrait {
    min-height: 220px;
  }

  #places  .see_more_container .see_more {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  #places .familyPortraits .portrait {
    min-height: 200px;
    width: 100%;
    padding-top: 100%;
    margin: 0 0 20px;
  }
}
