<div class="team-container">
  <div class="team-peoples"
       *ngFor="let team of teamList; let i = index;"
       [ngClass]="{'organizations': team._id === 'organization', writers: team._id === 'writer', theachers: team._id === 'teacher', supporters: team._id === 'supporter'}">
    <h2>{{team._id}}s</h2>

    <div class="team-people-box">
      <div *ngFor="let ambassador of team.ambassadors"
           class="team-people show">
        <div class="portrait">
          <img *ngIf="team._id !== 'organization'" [src]="ambassador.avatar || 'assets/img/default-am.jpg'" alt="">
          <span *ngIf="team._id === 'organization'">
            <a target="_blank"
               *ngIf="ambassador?.company?.link"
               [href]="ambassador?.company?.link">
              <img [src]="ambassador.avatar || 'assets/img/default-am.jpg'" alt="">
            </a>

            <img *ngIf="!ambassador?.company?.link" [src]="ambassador.avatar || 'assets/img/default-am.jpg'" alt="">
          </span>
        </div>

        <p class="name">
          <span *ngIf="team._id !== 'organization'">{{ambassador.name}}</span>
          <span *ngIf="team._id === 'organization'">
            <a target="_blank"
               *ngIf="ambassador?.company?.link"
               [href]="ambassador?.company?.link">{{ambassador.name}}</a>
            <span *ngIf="!ambassador?.company?.link">{{ambassador.name}}</span>
          </span>
        </p>
        <p class="country"><img class="marker" src="/assets/img/grey-marker.svg" alt="">{{ambassador.country}}</p>
        <p class="description" *ngIf="team._id !== 'organization' && ambassador.description">
          {{ambassador.description}}</p>
      </div>
    </div>
  </div>
</div>
