.dynamic-details {
  font-family: 'Bariol Regular', sans-serif;
}

.dynamic-details h1 {
  font-size: 38px;
  margin: 0 0 5px;
}

.dynamic-details ul li {
  font-size: 20px;
  line-height: 30px;
  color: #767d86;
  margin-bottom: 10px;
}

.dynamic-details ul li:before {
  content: "- ";
}

.dynamic-details .small-description {
  margin: 0;
  font-size: 22px;
  font-family: 'Bariol Light', sans-serif;
  font-style: italic;
  color: #767d86;
  line-height: 30px;
}

.dynamic-item {
  margin-bottom: 70px;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.dynamic-wrap-img {
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #dce3ec;
  position: relative;
  display: block;
  height: 240px;
  background-position: 50% 50%;
  background-size: cover;
}

.dynamic-wrap-img img {
  height: 240px;
  width: 100%;
}

.dynamic-wrap-img .play {
  width: 50px;
  height: 50px;
  opacity: 0.7;
  border-radius: 50%;
  border: 1px solid #374551;
  position: absolute;
  top: 40%;
  left: 43%;
  z-index: 2;
  background: #f2fafc;
}

.dynamic-wrap-img .play .fa-play {
  color: #374551;
  font-size: 24px;
  top: 12px;
  left: 17px;
  position: absolute;
}

.dynamic-wrap-img:hover .post-title {
  color: #ffce00;
}

.dynamic-wrap-img:hover .play {
  opacity: 1;
}

.post-title {
  font-size: 24px;
  line-height: 30px;
  color: #374551;
}

.post-p {
  font-size: 16px;
  color: #767d86;
}

.post-p a {
  color: #b04514;
  font-size: 16px;
}

.padding-0 {
  padding: 0;
}

.thumbnail-title {
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}

.entry-content p {
  color: #394753;
}

.tags-container {
  margin-top: 35px;
}

#blog-page .dynamic-details h1,
#blog-page .dynamic-details > .date-info {
  display: none;
}

#blog-page.article-page .dynamic-details h1,
#blog-page.article-page .dynamic-details > .date-info {
  display: block;
}

#blog-page.article-page #articles-container {
  width: 768px;
  margin: 0 auto;
}
