<div class="place-slider-wrapper">
  <div class="arrow-container arrow-prev" [ngStyle]="sliderHeight">
      <span class="glyphicon glyphicon-chevron-left slider-arrow"
            (click)="slidePrev()"
            [hidden]="!position"></span>
  </div>

  <div class="arrow-container arrow-next" [ngStyle]="sliderHeight">
      <span class="glyphicon glyphicon-chevron-right slider-arrow"
            (click)="slideNext()"
            [hidden]="(position || position === 0) && allPlaces.length - 1 === position"></span>
  </div>

  <div class="slider-container">
    <div class="slider-content">
      <div class="slide" *ngFor="let image of images; let i=index">
        <div class="slide-content" [ngStyle]="sliderHeight">
          <div class="slide-wrapper">
            <div class="image" (click)="openPopUp(image)">
              <img class="slide-img" [src]="image.background" alt="">
              <div class="thing-content">
                <img [src]="activeThing.iconLight" alt="">
                <span>{{activeThing.name}}</span>
              </div>
            </div>
            <div class="slide-sidebar">
              <img *ngIf="image.family"
                   [src]="image.family.background"
                   [routerLink]="['Place', {thing: image.family.thing, place: image._id, image: image.family._id}]"
                   alt="Family portrait">

              <img *ngIf="image.house"
                   [src]="image.house.background"
                   [routerLink]="['Place', {thing: image.house.thing, place: image._id, image: image.house._id}]"
                   alt="House type">
            </div>
          </div>
        </div>

        <div class="slide-description">
          <div class="slide-header">
            <div class="slide-button pull-left">
              <span
                [routerLink]="['Matrix', {thing: activeThing._id, countries:'World', rregion: 'World', zoom: 5, row: 1}]">
                << All {{activeThing.plural}}
              </span>
            </div>
            <div class="slide-map pull-right">
              <place-map [hoverPlace]="hoverPlace" *ngIf="hoverPlace"
                         [routerLink]="['Map', {thing: activeThing?._id}]"></place-map>
            </div>
          </div>

          <h2>
            <span>{{math.round(image.income)}}$ <img id="about-info" src="/assets/img/info-button.svg" alt=""
                                                     *ngIf="image.aboutData"
                                                     (click)="showInfo($event, true)"
                                                     (mouseenter)="showInfo($event)"
                                                     (mouseleave)="showInfoUnhover()"></span>
            {{image.familyName}} {{image.familyName ? 'family' : ''}} in {{image.country}}
          </h2>

          <p *ngIf="image.familyInfoSummary">{{image.familyInfoSummary}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="fancyBox-container" *ngIf="popIsOpen" (click)="fancyBoxClose()">
    <div class="fancyBox-image" [hidden]="!fancyBoxImage" [ngStyle]="{'background-image': fancyBoxImage}"></div>

    <div class="load" [hidden]="fancyBoxImage">
      <div class="la-ball-spin la-dark la-2x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
