#map-content {
  position: relative;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

#map-content img {
  max-width: 100%;
  max-height: 100%;
}

#map-content .map {
  width: 100%;
}

#map-content .map.active {
  display: block;
}

#map-content .marker {
  position: absolute;
  width: 15px;
}

@media (max-width: 1400px) {
  #map-content .marker {
    width: 10px;
  }
}
