<div class="family-things-container family-things-container-scroll">
  <div class="family-images-container">
       <!--infinite-scroll="nextImages(10)">-->
    <div class="family-image-container"
         *ngFor="#image of images">
      <div class="family-image"
           image-loading="image.background"
           [routerLink]="['Place', {thing: image.thing,place:placeId,image: image._id}]"
           [style.backgroundImage]="image.background">

        <div class="image-description">
          <img *ngIf="image.thingIcon" [src]="image.thingIcon" alt="">
          <span>{{image.thingName}}</span>
        </div>
        <div class="hover-block">
          <span>+</span>
        </div>
      </div>
    </div>
  </div>

  <!--<load-more></load-more>-->
</div>
