footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#post-container.container {
  padding-top: 110px;
  overflow: hidden;
}

#post-container .title {
  color: #374551;
  font-size: 38px;
  margin: 0;
}

#post-container .date-info {
  color: #767d86;
  font-size: 14px;
  margin-bottom: 25px;
}

#post-container .image-container img {
  width: 100%;
}

#post-container .image-container {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  #post-container.container {
    width: 730px;
  }

  #post-container {
    padding-bottom: 323px;
  }
}

@media (max-width: 767px) {
  #post-container {
    padding-bottom: 244px;
  }
}

@media (max-width: 600px) {
  #post-container {
    padding-bottom: 237px;
  }

  #post-container.container {
    padding-top: 60px;
  }
}
