<div #imagesContainer class="images-container" *ngIf="currentPlaces?.length">
  <div class="flex-container column-{{zoom}}"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="0"
    (scrolled)="onScrollDown()">
    <div #imageContent
         class="image-content"
         *ngFor="let place of placesArr; let i = index"
         [style.-webkit-box-ordinal-group]="i+1"
         [style.-moz-box-ordinal-group]="i+1"
         [style.-ms-flex-order]="i+1"
         [style.-webkit-order]="i+1"
         [style.order]="i+1"
         [ngClass]="{'no-row': zoom > 5 || !isDesktop, active: prevPlaceId === place?._id, 'pin-mode': isPinMode}"
         isImageLoaded [imageLoadedUrl]="place?.background"
         (imageLoadedEvent)="imageIsUploaded(i)"
         (mouseenter)="hoverImage(place)"
         (mouseleave)="hoverImage()"
         (click)="isPinMode ? togglePlaceToSet(place) : toggleImageBlock(place, i)">
      <div class="cell">
        <div class="cell-inner" [ngStyle]="{'background-image': place?.isUploaded && toUrl(place?.background)}">


      <div class="loader-content" *ngIf="!place?.isUploaded">
      <div class="isLoad">
        <div class="la-ball-spin la-dark la-2x">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      </div>

      <div class="image-description">
        <span class="place-image-box-income">{{currencyUnit?.symbol || '$'}}{{place?.showIncome}}</span>
        <span class="place-image-box-country">{{place?.country}}</span>
      </div>

      <div *ngIf="isPinMode && !isEmbederShared"
            class="heart-container"
            [ngClass]="{'place-pinned': place?.pinned}">
        <div class="heart-circle"
              [ngClass]="{'heart-circle-opacity': !place.pinned}">
          <svg *ngIf="!place.pinned" xmlns="http://www.w3.org/2000/svg" width="81" height="74" viewBox="0 0 81 74">
            <path fill="#3a4450" d="M80.87 22.06C79.7 9.27 70.6 0 59.21 0a21.54 21.54 0 0 0-18.43 10.57C36.91 3.97 30.25 0 22.78 0 11.4 0 2.3 9.27 1.13 22.06c-.09.56-.47 3.54.68 8.38 1.66 7 5.49 13.35 11.08 18.39l27.87 25.16 28.35-25.16a35.9 35.9 0 0 0 11.07-18.39c1.15-4.84.78-7.81.69-8.38zm-3.68 7.68a32.87 32.87 0 0 1-10.14 16.82L40.78 69.87 14.96 46.56A32.86 32.86 0 0 1 4.81 29.74c-1.09-4.59-.64-7.18-.64-7.19l.02-.16c1-11.2 8.82-19.33 18.59-19.33 7.21 0 13.56 4.4 16.57 11.5l1.42 3.34 1.42-3.34a18.58 18.58 0 0 1 17.03-11.5c9.77 0 17.59 8.13 18.61 19.48 0 .02.45 2.62-.64 7.2z"/>
          </svg>

          <svg *ngIf="place.pinned" xmlns="http://www.w3.org/2000/svg" width="81" height="74" viewBox="0 0 81 74">
            <path fill="#d7462d" d="M80.87 22.06C79.7 9.27 70.6 0 59.22 0a21.54 21.54 0 0 0-18.44 10.57C36.91 3.97 30.25 0 22.78 0 11.4 0 2.3 9.27 1.13 22.06c-.09.56-.47 3.54.68 8.38 1.66 7 5.49 13.35 11.08 18.39l27.87 25.16 28.35-25.16a35.96 35.96 0 0 0 11.07-18.39c1.15-4.84.78-7.81.69-8.38z"/>
          </svg>
        </div>
      </div>
        </div>
      </div>
    </div>

    <matrix-view-block class="matrix-view-block"
                       *ngIf="showBlock"
                       [itemSize]="itemSize"
                       [place]="familyData"
                       [thing]="thing"
                       [positionInRow]="positionInRow"
                       [style.-webkit-box-ordinal-group]="imageBlockLocation+1"
                       [style.-moz-box-ordinal-group]="imageBlockLocation+1"
                       [style.-ms-flex-order]="imageBlockLocation+1"
                       [style.-webkit-order]="imageBlockLocation+1"
                       [style.order]="imageBlockLocation+1"
                       (goToMatrixWithCountry)="goToMatrixWithCountry($event)"
                       (closeBigImageBlock)="closeImageBlock(familyData, indexViewBoxHouse)">
    </matrix-view-block>
  </div>
</div>

<div class="xl-text-c" *ngIf="showErrorMsg">
  <p>{{errorMsg}}</p>
</div>
