#main-mobile-menu .close-button {
  position: absolute;
  top: 18px;
  right: 10px;
}

#main-mobile-menu .open .container-menu {
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  display: block;
  z-index: 666;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
}

#main-mobile-menu .menu-header-content {
  min-width: 150px;
  text-align: left;
  color: #374551;
  font-size: 24px;
  line-height: 20px;
  border-bottom: 1px solid #c6c7c9;
  background-color: #f6f7f8;
}

#main-mobile-menu .menu-header-content img {
  width: 41px;
  margin: 7px;
}

#main-mobile-menu .menu-header-content span {
  display: inline-block;
  margin-top: 3px;
  vertical-align: middle;
}

#main-mobile-menu .menu-icon {
  display: block;
  width: 43px;
  height: 56px;
  text-align: center;
}

#main-mobile-menu .menu-icon img {
  width: 23px;
  height: 18px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#main-mobile-menu .menu-icon img.unactive {
  display: block;
}

#main-mobile-menu .open .menu-icon {
  background-color: #374551;
}

#main-mobile-menu .open img.unactive {
  display: none;
}

#main-mobile-menu .open ul {
  padding: 0;
  margin: 0;
}

#main-mobile-menu .open li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #e4e6e7;
}

#main-mobile-menu .open li div {
  padding: 9px 18px 6px;
  overflow: hidden;
}

#main-mobile-menu .open li a {
  color: #374551;
  font-size: 22px;
  line-height: 21px;
  display: block;
  padding: 14px 20px 13px 8px;
}

#main-mobile-menu .open li .thing-apply-icon {
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  width: 20px;
  height: 20px;
}

#main-mobile-menu .open .gapminder a {
  font-size: 14px;
  border-bottom: 0;
  color: #374551;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 27px
}

#main-mobile-menu .open .gapminder a {
  font-size: 14px;
  border-bottom: 0;
  color: #374551;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 27px
}

#main-mobile-menu .feedback-container {
  margin-top: 10px;
  text-align: center;
}

#main-mobile-menu .open .feedback-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 6px;
}

#main-mobile-menu .open .feedback {
  font-size: 14px;
  border-bottom: 0;
  color: #374551;
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 27px
}

#main-mobile-menu .open .gapminder {
  text-align: center;
  margin-top: 3px;
}

#main-mobile-menu .open .gapminder-img {
  text-align: center;
}

#main-mobile-menu .open .gapminder-img img {
  margin-top: 40px;
  width: 188px;
  height: 27px;
}

#main-mobile-menu .open li.social-share-container {
  padding: 10px 0 9px;
}

#main-mobile-menu .open li div.social-share-content {
  text-align: center;
  padding: 0 !important;
}

#main-mobile-menu .open .share-text {
  display: inline-block;
  font-size: 14px;
  color: #374551;
  text-transform: uppercase;
  padding: 0 !important;
  margin-right: 10px;
  margin-top: 8px;
  line-height: 14px;
}

#main-mobile-menu social-share-buttons {
  vertical-align: top;
  display: inline-block;
  margin-top: 2px;
}

#main-mobile-menu social-share-buttons >>> .share-button-container .share-button svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

#main-mobile-menu social-share-buttons >>> .share-button-container .share-button svg .cls-1 {
  fill: #374551;
}

@media (max-width: 599px) {
  #main-mobile-menu .menu-icon {
    width: 43px;
    height: 40px;
    margin-top: 17px;
  }

  #main-mobile-menu social-share-buttons >>> .share-button-container > div {
    margin-left: 12px;
  }
}
