<div id="item-profile">
  <div class="item-profile-header">
    <div class="box-container">
      <region-map *ngIf="mapData"
                  [mapData]="mapData"
                  [routerLink]="['/map']"
                  [queryParams]="{thing: thing}"
                  angulartics2On="click"
                  angularticsEvent="From {{country?.alias }} country page to Map page"></region-map>
    </div>
    <div class="country-link">
      <a [routerLink]="['/matrix']"
         [queryParams]="{thing: 'Families', countries: country?.originName, regions: 'World', zoom: 4, row: 1, lowIncome: streetData?.poor, highIncome: streetData?.rich}"
         (click)="goToMatrixByCountry(country?.originName)"
         angulartics2On="click"
         angularticsEvent="From '{{ country?.alias }} country page to Matrix page with all families in {{country?.alias }}">
        {{ 'ALL_FAMILIES_IN' | translate }} {{country?.alias}} >> </a>
      <p class="description" *ngIf="country?.description">{{country.description}}</p>
    </div>
  </div>

  <div class="main">
    <p class="home">
      <img src="/assets/img/house-icon.png" alt="">
      <span class="total-text">{{ 'VISITED_FAMILIES' | translate }}:</span>
      <span class="total-count">{{placesQuantity}}</span>
    </p>

    <p class="photo">
      <img src="/assets/img/camera.svg" alt="">
      <span class="total-text">{{ 'TOTAL_PHOTOS' | translate }}:</span>
      <span class="total-count">{{photosQuantity}}</span>
    </p>

    <p class="camera" *ngIf="videosQuantity">
      <img src="/assets/img/video-camera.svg" alt="">
      <span class="total-text">{{ 'TOTAL_VIDEOS' | translate }}:</span>
      <span class="total-count">{{videosQuantity}}</span>
    </p>
  </div>
</div>

<div id="item-profile-mobile" [ngClass]="{'open': isShowInfo}">
  <div class="box-container">
    <region-map *ngIf="mapData"
                [mapData]="mapData"
                [routerLink]="['/map']"
                [queryParams]="{thing: thing}"
                angulartics2On="click"
                angularticsEvent="From {{country.alias}} country page to Map page"></region-map>
    <div class="country-link">
      <a [routerLink]="['/matrix']"
         [queryParams]="{thing: 'Families', countries: country?.originName , regions: 'World', zoom: 4, row: 1, lowIncome: streetData?.poor, highIncome: streetData?.rich}"
         (click)="goToMatrixByCountry(country?.originName)"
         angulartics2On="click"
         angularticsEvent="From '{{country?.alias}} country page to Matrix page with all families in {{country?.alias}} ">
        {{ 'ALL_FAMILIES_IN' | translate }} {{country?.alias}} >> </a>
    </div>
  </div>

  <div class="item-description">
    <div class="item-description-header">
      <div class="home">
        <img src="/assets/img/house-icon.png" alt="">
        <span class="total-text">{{ 'VISITED_FAMILIES' | translate }}:</span>
        <span class="total-count">{{placesQuantity}}</span>
      </div>

      <div class="photo">
        <img src="/assets/img/camera.svg" alt="">
        <span class="total-text">{{ 'TOTAL_PHOTOS' | translate }}:</span>
        <span class="total-count">{{photosQuantity}}</span>
      </div>

      <div class="camera" *ngIf="videosQuantity">
        <img src="/assets/img/video-camera.svg" alt="">
        <span class="total-text">{{ 'TOTAL_VIDEOS' | translate }}:</span>
        <span class="total-count">{{videosQuantity}}</span>
      </div>
    </div>

    <div class="item-description-footer"
         *ngIf="country?.description">
      <div class="company-description line-clamp">{{country.description}}</div>
    </div>
  </div>
</div>
