@font-face {
  font-family: 'Font Light';
  src: url("../fonts/chinese/han_wang_hei_light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Regular';
  src: url("../fonts/chinese/han_wang_hei_light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Bold';
  src: url("../fonts/chinese/han_wang_hei_light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Light Italic';
  src: url("../fonts/chinese/han_wang_hei_light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Regular Italic';
  src: url('../fonts/chinese/han_wang_hei_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
