@font-face {
  font-family: 'Font Light';
  src: url('../fonts/cyrillic/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Regular';
  src: url('../fonts/cyrillic/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Bold';
  src: url('../fonts/cyrillic/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Light Italic';
  src: url('../fonts/cyrillic/Roboto-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Regular Italic';
  src: url('../fonts/cyrillic/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
