html {
  height: 100%;
}

body {
  font-family: 'Font Regular', sans-serif;
  overflow-x: hidden;
  color: #374551;
  position: relative;
  min-height: 100%;
}

body.photographers #app-container {
  margin-bottom: 70px;
}

body.draggingSliders #chart * {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.stuck-header-position .header-position,
.stuck-header-position .street-container{
  position: absolute !important;
  top: 0;
}

.stuck-header-position .street-container {
  top: 38px;
}

@media (min-width: 1025px) {
  .stuck-header-position .street-container {
    top: 0;
  }
}

.gapminder-link {
  color: #b0450a;
  text-decoration: none;
}

a:focus,
input:focus {
  outline: 0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-button,
a {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

svg circle {
  cursor: pointer;
}

.main-header {
  /*z-index: 1000 !important;*/
}

matrix {
  display: block;
}

.hideScroll {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.custom-button {
  background-color: #374551;
  font-family: 'Font Light', sans-serif;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 7px 20px;
  border: 1px solid #374551;
  text-align: center;
}

.custom-button:hover {
  cursor: pointer;
  color: #374551;
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.date-info {
  font-size: 14px;
  color: #767d86;
  text-transform: uppercase;
  margin-top: 10px;
}

.post-title {
  color: #374551;
  font-size: 24px;
  line-height: 30px;
}

.post-p {
  font-size: 16px;
  color: #767d86;
}

.post-head {
  position: relative;
  color: #374551;
  font-size: 38px;
  line-height: 1.2;
  z-index: 1;
  overflow: hidden;
  margin: 60px 0 40px;
}

.post-head:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #eff2f6;
  z-index: -1;
  position: relative;
  vertical-align: middle;
  left: 20px;
  margin: 0 -100% 0 0;
}

.link-view-more {
  color: #374551;
  font-size: 18px;
  display: inline-block;
  text-decoration: underline;
}

/* btn */
.btn-yellow {
  color: #374551;
  font-size: 18px;
  line-height: 40px;
  font-family: 'Font Bold', sans-serif;
  background-color: #ffc300;
  border: 1px solid #f1b902;
  border-radius: 2px;
  padding: 0 10px;
  text-align: center;
  min-width: 160px;
}

/* form input (text or search) */
.text {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #edf0f5;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 15px;
}

/* indent */
.margin-top-0 {
  margin-top: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;

  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp:after {
  content: '';
  text-align: right;
  top: -50px;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(14px * 1.42857143);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  max-height: calc(14px * 1.42857143 * 3);
}

.line-clamp-3:after {
  top: calc(14px * 1.42857143 * 2);
  height: calc(14px * 1.42857143);
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}

matrix .matrix-header header {
  margin-left: 22px !important;
}

.matrix #app-container.container,
.family #app-container.container {
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1400px) {
  body:not(.article):not(.about) .footer .container,
  body:not(.article) #app-container.container {
    width: 1400px;
  }
}

.family .footer .valor,
.matrix .footer .valor {
  right: 22px;
  bottom: 60px;
}

.family .footer .container,
.matrix .footer .container {
  width: 100% !important;
  padding: 0 22px 60px;
}

body.about #app-container.container {
  width: 760px !important;
}

@media (min-width: 1024px) {
  body.photographers,
  body.photographers #app-container,
  body.photographers consumer-app {
    height: 100%;
  }

  body.photographers #app-container {
    padding-left: 0;
    padding-right: 0;
  }

  body.photographers #app-container {
    padding-bottom: 0 !important;
  }

  body.photographers footer {
    position: static !important;
  }
}

@media (max-width: 1023px) {
  .custom-button {
    padding: 5px 20px;
    font-size: 16px;
  }

  matrix .matrix-header header {
    margin-left: 10px !important;
  }

  .header.header-without-search .heading .sub-title {
    display: none;
  }

  body.photographers #app-container {
    margin-bottom: 0;
  }

  .country #app-container.container,
  .photographer #app-container.container {
    padding-left: 0;
    padding-right: 0;
  }

  body.about #app-container.container,
  #app-container.container {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .related .wrap-img {
    height: 240px !important;
  }
}

@media (max-width: 599px) {
  matrix .matrix-header header {
    margin-left: 5px !important;
  }

  svg .poorest,
  svg .richest,
  svg .scale-label,
  svg .level-label,
  svg .currency-text{
    font-size: 12px;
  }

  .block-entry h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .block-entry h3 {
    font-size: 20px !important;
  }
}

@media (max-width: 900px) {
  svg .poorest,
  svg .richest,
  svg .scale-label,
  svg .currency-text{
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  svg .poorest,
  svg .richest,
  svg .scale-label,
  svg .currency-text{
    /*font-size: 10px;*/
  }

  svg .poorest {
    opacity: 0;
  }
}

