.matrix-search-button {
  cursor: pointer;
  margin-top: -8px !important;
}

.matrix-search-button img {
  margin: 10px 0 10px 10px;
  width: 21px;
  height: 21px;
  opacity: 0.8;
}

.matrix-search-button:hover img {
  opacity: 1;
}

.search-container .search-text {
  display: inline;
}

.search-content .dropdown-menu {
  background-color: #374551;
  width: 630px;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0 0 20px 0;
  border: 0;
}

.search-content .dropdown-menu .search-lists {
  overflow: hidden;
}

.search-content div:not(.place-header) .dropdown-menu .search-lists > div {
  width: 314px;
  float: left;
  margin: 0;
}

.search-container.place-page .dropdown-menu {
  width: 315px;
}

.search-content .dropdown-menu .search-list-header h3 {
  color: #fff;
  font-size: 21px;
  margin-top: 12px;
  margin-left: 20px;
}

.search-content .dropdown-menu ul {
  padding: 0;
}

#mobile-search-popup .item:not(.column),
.search-content .dropdown-menu .countries ul.search-items-container.regions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#mobile-search-popup .item:not(.column) {
  width: 100%;
}

#mobile-search-popup .item:not(.column) .sub-item-content,
.search-content .dropdown-menu .countries ul.search-items-container.regions li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;

  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

#mobile-search-popup .item:not(.column) .sub-item-content.active,
.search-content .dropdown-menu .countries ul.search-items-container.regions li.active {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

.search-content .dropdown-menu .search-list-header + ul {
  padding: 0;
  height: 377px;
  overflow-y: scroll;
  margin: 0;
}

.search-content .dropdown-menu ul li {
  list-style: none;
}

.search-content .dropdown-menu ul ul li {
  padding: 0 35px;
}

.search-content .dropdown-menu ul ul li:last-child {
  padding-bottom: 7px;
}

.search-content .category-name .search-items-container:hover,
.search-content .dropdown-menu ul ul li:not(.active):not(.no-pass):hover {
  background-color: #3d4b58;
  cursor: pointer;
}

.search-content .regions .category-name .search-item {
  margin: 10px -26px 2px 5px;
  padding: 0;
  border: 0;
}

.search-content .regions .category-name .search-item:not(.active) {
  cursor: pointer;
}

.search-content .regions .category-name .search-item:first-child {
  margin-left: -17px;
}

.search-content .regions .search-items-container,
.search-content .regions .category-name {
  overflow: hidden;
}

.search-content .regions .search-items-container > li,
.search-content .regions .category-name > * {
  float: left;
  width: 50%;
}

.search-content .regions .search-item-icon {
  margin-right: 0;
  margin-top: 7px;
}

.search-content .regions .search-item-icon img {
  vertical-align: inherit;
  width: 19px;
  margin-top: 5px;
}

.search-content .regions .search-item-name {
  margin-top: 10px;
  position: relative;
}

.search-content .countries .search-item-name {
  margin-top: 0;
}

.search-content .dropdown-menu .category-name {
  margin: -12px 0 0 35px;
}

.search-content .pointer {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #3d4b58;
  position: absolute;
  right: 0;
  top: 17px;
  display: none;
}

.pointer img {
  position: absolute;
  top: 5px;
  left: 4px;
  opacity: 1;
}

.regions .search-items-container.regions .active .pointer {
  background: none;
  right: -20px;
  top: -8px;
}

.regions .search-items-container.regions .active .pointer .close {
  display: block;
}

.search-content .category-name .search-items-container .active .pointer,
.search-content .search-items-container .active .pointer {
  display: block;
}

.search-content .dropdown-menu .category-name > span {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 19px;
  font-style: italic;
  color: #f5c011;
}

.search-content .dropdown-menu .search-list-places .category-name > span {
  display: block;
  margin-top: 15px;
  font-size: 19px;
  font-style: italic;
  color: #f5c011;
}

.search-content .dropdown-menu .search-input {
  position: relative;
  margin-top: -3px;
  padding: 20px 20px 0;
}

.search-content .dropdown-menu .search-input input {
  font-size: 16px;
  color: #767d86;
  height: 40px;
  padding-left: 35px;
}

.search-content .dropdown-menu .search-input img {
  position: absolute;
  top: 31px;
  left: 31px;
  font-size: 18px;
  color: #767d86;
  width: 16px;
}

.search-content .search-item {
  position: relative;
  padding: 6px 0 12px 0;
  border-top: 1px solid #303E4A;
  margin: 0;
  overflow: hidden;
}

.search-content .search-list-places .search-item {
  padding: 6px 0 12px 0;
}

.search-content .search-list-places .search-item .pointer {
  top: 13px;
}

.search-content .search-list-places .regions .search-items-container.regions li {
  border-top: 1px solid rgb(48, 62, 74);
}

.search-content .search-list-places .regions .search-items-container.regions .search-item {
  border: none;
}

.search-content .search-list-places .regions .search-items-container.regions {
  width: 99%;
}

.search-content .search-list-places .regions .search-items-container.regions li {
  padding: 0 25px;
}

.search-content .search-list-places .regions .search-items-container.regions li:nth-child(odd) .search-item {
  margin: 6px 0 12px 0;
  padding: 0;
}

.search-content .search-list-places .regions .search-items-container.regions li:nth-child(even) .search-item {
  padding: 6px 0 12px 0;
  margin: 0;
}

.search-content .search-item-icon {
  float: left;
  width: 30px;
  margin-right: 15px;
  position: relative;
  min-height: 28px;
}

.search-content .search-item-name {
  color: #fff;
  margin-top: 5px;
  font-size: 20px;
  display: block;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  float: left;
  width: calc(100% - 50px);
}

.search-title-container {
  margin: 18px 0 0;
}

.search-title-thing-icon {
  margin: -4px 10px 0 5px;
  width: 26px;
  height: 26px;
}

.search-portrait-icon {
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #ecf0f6;
  width: 42px;
  height: 42px;
  margin: -15px 10px 0 5px !important;
}

.search-title .search-text {
  line-height: 26px;
  font-size: 26px;
}

.search-text span {
  float: left;
}

.search-title div span.count-country {
  display: block;
}

.search-content,
.search-content .btn-group,
.search-content .matrix-search-button {
  margin: 0;
}

.search-title .removeItem:hover {
  cursor: pointer;
  color: red;
}

.search-list-things .search-item-icon img {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
}

.no-pass .thing-button,
.no-pass .search-item-name {
  color: #a9a9a9 !important;
}

.search-title div.text-danger {
  text-align: center;
  margin-top: 15px;
  clear: both;
}

.sub-item-content.active .africa,
.active .africa {
  color: #15b0d1;
}

.sub-item-content.active .america,
.active .america {
  color: #b1e826;
}

.sub-item-content.active .world,
.active .world {
  color: #f9cd28;
}

.sub-item-content.active .asia,
.active .asia {
  color: #f23373;
}

.sub-item-content.active .europe,
.active .europe {
  color: #ffe800;
}

.search-content .dropdown-menu ::-webkit-scrollbar {
  width: 6px;
}

.search-content .dropdown-menu ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #303e4a;
}

.search-content .dropdown-menu ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1e2c37;
}

.map-page .search-title > div {
  margin-top: 4px;
}

.map-page .search-title-container {
  margin: 15px 0 0;
}

.thing-icon-container {
  position: relative;
}

.thing-icon-container.exist img {
  cursor: pointer;
}

.thing-icon-container .thing-pop-up {
  position: absolute;
  top: 100%;
  left: -7px;
  z-index: 999;
  padding-top: 3px;
  display: none;
}

.thing-icon-container.exist:hover .thing-pop-up {
  display: block;
}

.thing-icon-container .thing-pop-up span {
  width: 50px;
  height: 10px;
  position: relative;
  overflow: hidden;
  display: block;
}

.thing-icon-container .thing-pop-up span:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.thing-icon-container .thing-pop-up-content {
  width: 450px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: 0px 2px 12.04px 1.96px rgba(0, 0, 0, 0.28);
}

.thing-icon-container .thing-pop-up-content p {
  font-family: 'Bariol Light', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #5f6a74;
  margin-bottom: 0;
}

.thing-icon-container .thing-pop-up-content p a {
  color: #0567bf;
  font-family: 'Bariol Regular', sans-serif;
}
