.street-box {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  padding-bottom: 4px;
  width: 100%;
  box-sizing: border-box;
}

.street-box svg.chart {
  width: 100%;
  height: 65px;
  vertical-align: top;
  text-align: left;
  child-align: left;
  alignment: left;
  position: relative;
}

.test {
  position: relative;
  height: 50px;
  width: 100%;
  transform-origin: 0 0;
  transform-origin: 0px 0px 0 !important
}

.icon-group {
  width: 16px;
  height: 15px;
}

svg.icon-backgroung-house {
  width: 28px;
  height: 25px;
}

.left-scroll,
.right-scroll {
  cursor: pointer;
}

