matrix-images {
  display: block;
}

.matrix-container {
  position: relative;
}

.zoom-column {
  position: fixed;
  right: 32px;
  bottom: 52px;
  z-index: 10;
  transform: translateZ(0);
}

.zoom-column.stop {
  position: absolute;
  bottom: 36px;
}

.zoom-column button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  outline: 0;
  box-shadow: 0 0 3.9px 0.1px rgba(0, 0, 0, 0.32);
  background: rgba(255, 255, 255, 0.8) center center no-repeat;
  background-size: 16px auto !important;
  position: relative;
  margin: 4px;
}

.zoom-column button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.sign {
  margin-bottom: 4px;
}

.street-and-title-container {
  width: 100%;
}

.street-and-title-container,
.street-container .street-content,
.street-container {
  position: relative;
  width: 100%;
}

.street-container {
  top: -1px;
  -webkit-transition: top .2s ease-out;
  -moz-transition: top .2s ease-out;
  -o-transition: top .2s ease-out;
  transition: top .2s ease-out;
  background-color: #fff;
  width: 100%;
  transform: translateZ(0);
}

.street-container .street-content > * {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.street-container street {
  position: relative;
  z-index: 1;
}

.street-container street-mobile {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

.short-title {
  font-size: 16px;
  color: #374551;
  text-align: center;
  display: none;
  padding-top: 5px;
  padding-bottom: 1px;
}

.short-title span {
  color: #767d86;
}

.heart-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}

.logo {
  width: 30px;
  height: 30px;
}

.quick-guide-btn {
  display: inline-block;
  cursor: pointer;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}

.heart-container .heart-circle {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.heart-circle .close-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-circle svg {
  width: 50%;
  height: 50%;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 4px;
}

.street-pinned-container {
  position: relative;
  padding-bottom: 10px;
}

.street-pinned-container span {
  color: #374551;
  font-size: 14px;
  position: absolute;
  z-index: 9999;
  text-transform: uppercase;
}

.street-pinned-container .poorest {
  bottom: -5px;
  left: 20px;
}

.street-pinned-container .richest {
  bottom: -5px;
  right: 20px;
}

.pin-container {
  width: 100%;
  height: auto;
  /* margin-top: -2px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  top: 0px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.embed-bg {
  background-color: #394450;
}

.pin-container .pin-info-text {
  color: #344450;
  font-size: 20px;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 140px;
}

.pin-container .pin-info-text-2 {
  color: #344450;
  font-size: 20px;
  text-align: center;
  height: 100%;
  padding-top: 140px;
  padding-left: 60px;
}

.pin-container .places-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  padding: 10px 20px 10px 20px;
  min-height: 64px;
  max-height: 60vh;
  transform: translateZ(0);
  justify-content: center;
  align-items: center;
}

.grey-bg {
  background-color: #394450;
}

.embed-footer-text {
  text-align: center;
  margin: 0 auto;
  padding: 0 10px 10px;
  max-width: 990px;
}

.embed-footer-text p {
  margin: 0;
}

.pin-body-wrap {
  text-align: center;
}

.pin-body {
  display: inline-block;
  text-align: left;
  max-width: 100%;
}



.pin-body.fullsize  {
  display: block;
  width: 100%;
}

.places-container .embed-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: #394450;
}

.places-container .embed-close-button svg {
  width: 100%;
  height: 100%;
}

.places-container .pin-place {
  margin: 0 5px;
  max-width: 27%;
  position: relative;
  max-height: calc(60vh - 20px);
}

.places-container.large-images .pin-place {
  max-width: 50%;
}

.fullsize .places-container.large-images .pin-place {
  width: 300px;
  max-width: 26vw;
}

.pin-place .image-backgroung {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.pin-place .image-backgroung svg {
  margin: auto;
  display: block;
  width: 48px;
  height: 48px;
  max-width: 40%;
  max-height: 40%;
  fill: rgb(114, 122, 130)

}

.pin-place .place-image {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.places-container .image-description {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 9px 6px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
}

.places-container .place-image-box-country,
.places-container .place-image-box-income {
  color: white;
  display: block;
}

.places-container .extend-area{
  font-size: 50px;
  width: 15%;
  text-align: center;
  font-family: 'Font Light';
}

.pin-container .pin-place {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pin-container .pin-place img {
  /*width: 100%;*/
  max-width: 100%;
  /*height: 100%;*/
  max-width: 100%;
  max-height: calc(60vh - 20px);
}

.pin-places-placeholder {
  text-align: center;
  font-size: 28px;
  font-family: 'Font Light';
  padding: 25px 0 0;

}

.pin-places-placeholder .placeholder-title {
  font-size: 38px;
  font-weight: bold;
}

.pin-places-placeholder .placeholder-symbol {
  font-size: 50px;
}

.shared-completed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shared-ready-section {
  /*margin-bottom: 20px;*/
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.shared-ready-section .loader-content {
  /*position: absolute;*/
  /*height: 90px;*/
  height: 58px;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  /*z-index: 999;*/
}

.shared-ready-section .loader-content .in-process {
  height: 38px;
  line-height: 38px;
  display: inline-block;
}

.shared-ready-section .isLoad {
  width: 64px;
  height: 64px;
  display: inline-block;
}

.pin-footer {
  width: 100%;
  align-self: flex-end;
}

.pin-footer-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
}

.pin-footer-row .shared-completed-section {
  flex: 1 1 100%;
}

.pin-footer-row .share-close-buttons {
  flex: 0 0 38px;
  text-align: right;

}


.pin-footer .pin-footer-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
}


.pin-mode-close {
  /*color: #737B84;
  font-size: 18px;
  padding: 0px 40px;
  text-align: center;
  height: 38px;
  line-height: 38px;*/

  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: pointer;
}

.pin-mode-close img {
  width: 100%;
  height: 100%;
  display: block;
}

.pin-mode-guide-btn {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  position: absolute;
  font-size: 14px;
  top: 52px;
  right: 15px;
}

.pin-mode-guide-btn,
.pin-mode-guide-btn:active,
.pin-mode-guide-btn:focus {
  outline: none;
}

.pin-footer .pin-footer-edit span {
  display: inline-block;
  cursor: pointer;
}

.pin-footer .pin-footer-share {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pin-footer-paragraph div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pin-footer-share img {
  width: 64px;
  height: 64px;
}

.pin-footer-share .shared-ready-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*margin-top: 20px;*/
  position: relative;
  /*min-height: 48px;*/
}

/*.shared-ready-section span {*/
  /*display: inline-block;*/
  /*width: 180px;*/
  /*!*height: 48px;*!*/
  /*cursor: pointer;*/
  /*!*line-height: 48px;*!*/
  /*text-align: center;*/
  /*border: 1px solid #737B84;*/
  /*justify-content: center;*/
/*}*/

.pin-footer-share p {
  min-width: 818px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /*color: #3a4450;*/
  margin: 0 auto;
  align-self: center;
  text-align: center;
}

.pin-footer-share h3 {
  text-align: center;
  margin: 0;
}

.pin-footer-share .share-buttons-container {
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100%;
  padding: 5px;
  align-items: center;
}

.share-buttons-container button {
  background: transparent;
  padding: 0;
  margin: 0 0 0 10px;
  border: 0;
}

.pin-footer-share .share-buttons-container span {
  width: 46px;
  font-size: 18px;
  vertical-align: baseline;
  display: inline-block;
  font-weight: bold;
}

.pin-footer-share .share-buttons-container svg {
  width: 26px;
  height: 26px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  display: block;
}

.share-link-button {
  flex: 0 0 auto;
  position: relative;
}

.share-link-button .clipboardNotice {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 80px;
  margin: 0 0 0 -40px;
  color: #fff;
  font-size: 14px;
  padding: 2px 5px;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  border-radius: 5px;
  transition: 0.5s opacity;
  opacity: 0;
}

.share-link-button .clipboardNotice.show {
  opacity: 1;
}



.pin-footer-share .share-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 2 1 100%;
  padding: 5px;
}

.pin-footer-share .download-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pin-footer-share .share-close-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100%;
  padding: 0 10px;

}

.pin-footer-share .share-link-container input {
  width: 390px;
  height: 38px;
  border: 1px solid #9c9fa4;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
  padding: 0 5px;
  color: #000;
}

.pin-header {
  padding-top: 10px;
  /* background-color: #394450; */
  /* background-color: #4D4D4D; */
}

.pin-header.text-center {
  text-align: center;
}

.pin-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin-title .title-body {
  display: inline-block;
  vertical-align: top;
  line-height: 28px;
}

.pin-title .title-icon {
  display: inline-block;
}

.pin-title .title-text {
  display: inline-block;
  padding-left: 15px;
}

.pin-title .title-text .title-project,
.pin-title .title-text .title-name {
  display: block;
}

.pin-title .title-text .title-name {
  font-size: 26px;
  line-height: 26px;
}

.pin-container-inner {
  flex: 0 0 auto;
  margin: 5px;
}

.pin-container-inner.with-border {
  border: 2px solid #374551;
}
.pin-header.white-font p {
  color: white;
}

.street-pinned-container.white-font span {
  color: white;
}

.street-pinned-container {
  display: flex;
  justify-content: center;
}

.street-pinned-cell {
  flex: 0 1 100%;
  position: relative;
}

.pin-header p {
  display: inline-block;
  padding-left: 20px;
  font-size: 28px;
  line-height: 44px;
  color: #374551;
  margin: 0;
}

.pin-header .buttons-container {
  float: right;
  height: 100%;
  padding-right: 20px;
}

.pin-header .buttons-container span {
  display: inline-block;
  width: 48px;
  height: 100%;
  border-left: 1px solid #333d48;
  cursor: pointer;
  position: relative;
}

.pin-header span svg {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 14px;
  top: 14px;
}

.pin-header .done-share-button {
  height: 32px;
  width: 132px;
  color: white;
  float: right;
  cursor: pointer;
  border: 1px solid white;
  display: inline-block;
  margin-top: 6px;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  margin-right: 24px;
}

.street-and-title-container {

}

.street-container {
  top: 93px;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: #fff;
  position: fixed;
  height: 69px;
  width: 100%;
}

.grid-container {
  padding-top: 106px;
}

.desktop-view .grid-container {
  padding-top: 69px;
}

.pin-bottom-button {
  background: transparent;
  padding: 0 10px;
  min-width: 86px;
  height: 38px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  border: 0;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.4s;
}


.pin-bottom-button:hover {
  background-color: #394450;
  color: #fff;
}



@media (max-width: 700px) {
  .street-container.fixed {
    position: fixed;
    z-index: 10;
    top: 0;
  }

  .street-container.fixed .short-title {
    display: block;
  }

  .desktop-view .street-and-title-container {
    top: 106px;
  }
}

@media (min-width: 850px) {
  .pin-footer-row .shared-completed-section {
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: center;
  }

  .pin-footer-share .download-link-container {
    flex: 0 0 160px;
    padding: 0 10px;

  }

  .pin-footer-share .share-buttons-container {
    flex: 0 0 230px;
    padding: 0 10px;

  }

  .pin-footer-share .share-link-container {
    flex: 0 1 410px;
    padding: 0 10px;
    min-width: 170px;
  }

  .pin-footer-share .share-link-button {
    flex-basis: 100px;
  }
}

@media (min-width: 850px) {

  .pin-footer-row {
    flex-direction: row;
    justify-content: center;
  }

  .pin-footer-row .share-close-buttons {
    flex: 0 0 110px;
  }
}

@media (min-width: 1025px) {
  .street-container {
    top: 64px;
  }

  .grid-container {
    padding-top: 72px;
  }
}

.dots-animation {
  display: inline-block;
}

.dots-animation .dot-middle {
  animation: dotsAnimationMiddle 3s infinite;
  display: inline-block;
}

.dots-animation .dot-last {
  animation: dotsAnimationLaft 3s infinite;
  display: inline-block;
}

@keyframes dotsAnimationMiddle {
  0% {
    opacity: 0;
  }
  33%, 100% {
    opacity: 1;
  }

}

@keyframes dotsAnimationLaft {
  0% {
    opacity: 0;
  }
  66%, 100% {
    opacity: 1;
  }

}

@media (min-width: 1400px) {
  .places-container .image-description,
  .places-container .image-description.one-row {
    font-size: 28px;
    line-height: 28px;
  }
}

.download-footer-text {
  display: none;
  text-align: center;
  font-size: 20px;
  padding: 0 0 15px;
}

.download-link-text {
  color: #07C;
}

.for-download .download-footer-text{
  display: block;
}

.for-download:not(.for-screenshot) .pin-title .title-text .title-name {
  font-size: 36px;
  line-height: 36px;
}

.for-download:not(.for-screenshot).places-lenght-3 .pin-title .title-text .title-name{
  font-size: 42px;
  line-height: 42px;
}

.for-download:not(.for-screenshot).places-lenght-4 .pin-title .title-text .title-name{
  font-size: 46px;
  line-height: 46px;
}

.for-download:not(.for-screenshot).places-lenght-5 .pin-title .title-text .title-name{
  font-size: 50px;
  line-height: 50px;
}

.for-download:not(.for-screenshot).places-lenght-6 .pin-title .title-text .title-name{
  font-size: 56px;
  line-height: 56px;
}

.for-download .logo {
  width: 38px;
  height: 38px;
}

.for-download:not(.for-screenshot).places-lenght-3 .logo{
  width: 44px;
  height: 44px;
}

.for-download:not(.for-screenshot).places-lenght-4 .logo{
  width: 48px;
  height: 48px;
}

.for-download:not(.for-screenshot).places-lenght-5 .logo{
  width: 52px;
  height: 52px;
}

.for-download:not(.for-screenshot).places-lenght-6 .logo{
  width: 54px;
  height: 54px;
}

.for-screenshot {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-screenshot.for-download .download-footer-text {
  display: none;
}

.embed-preview-content-position {
  width: 100%;
}

.for-screenshot .places-container.large-images .pin-place {
  max-width: 50%;
}

.pin-container .for-screenshot .places-container {
  max-height: 100%;
}

.for-screenshot .pin-mode-close,
.for-download .pin-mode-close {
  display: none;
}
