<div class="matrix-container">
  <div #matrixHeader
       class="matrix-header main-header"
       [style.top.px]="-guidePositionTop">

    <div #streetAndTitleContainer
         class="street-and-title-container">
      <div #streetContainer
           class="street-container" (click)="scrollTop($event, streetContainer)">
        <div class="short-title">{{thing}} <span>{{ 'IN' | translate }}</span> {{activeCountries}} <span>{{ 'BY_DOLLAR' | translate }}</span></div>

        <div class="street-content">
          <street [places]="streetPlaces"
                  [hoverPlace]="hoverPlace"
                  [chosenPlaces]="chosenPlaces"
                  (filterStreet)="streetChanged($event)">
          </street>
        </div>
      </div>
    </div>

    <income-filter *ngIf="!isDesktop && isOpenIncomeFilter"
                  [places]="streetPlacesData"
                  [lowIncome]="lowIncome"
                  [highIncome]="highIncome"
                  (sendResponse)="getResponseFromIncomeFilter($event)">
    </income-filter>
  </div>

  <matrix-images [row]="row"
                [zoom]="zoom"
                [query]="query"
                [thing]="thing"
                [places]="matrixPlaces"
                [activeHouse]="activeHouse"
                [clearActiveHomeViewBox]="clearActiveHomeViewBox"
                (filter)="urlChanged($event)"
                (hoverPlace)="hoverPlaces($event)"
                (activeHouseOptions)="activeHouseOptions($event)"
                (imageHeightChanged)="imageHeightChanged($event)">
  </matrix-images>

  <div class="zoom-column pull-right"
       *ngIf="isDesktop"
       [class.stop]="zoomPositionFixed">
    <button type="button"
            [disabled]="zoom === 2"
            (click)="changeZoom(zoom - 1)">
        <img class="sign" src="assets/img/plus.svg"/>
    </button>

    <button type="button"
            [disabled]="!isDesktop ? zoom === 3 : zoom === 10"
            (click)="changeZoom(1*zoom + 1*1)">
        <img class="sign" src="assets/img/minus.svg"/>
    </button>
  </div>
</div>
