matrix-images {
  display: block;
}

.matrix-container {
  position: relative;
}

.matrix-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: #fff;
}

.zoom-column {
  position: fixed;
  right: 32px;
  bottom: 52px;
  z-index: 10;
}

.zoom-column.stop {
  position: absolute;
  bottom: 36px;
}

.zoom-column button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  outline: 0;
  box-shadow: 0 0 3.9px 0.1px rgba(0, 0, 0, 0.32);
  background: rgba(255, 255, 255, 0.8) center center no-repeat;
  background-size: 16px auto !important;
  position: relative;
  margin: 4px;
}

.zoom-column button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.sign {
  margin-bottom: 4px;
}

.street-and-title-container {
  width: 100%;
}

.street-and-title-container,
.street-container .street-content,
.street-container {
  position: relative;
  width: 100%;
}

.street-container {
  top: -1px;
  -webkit-transition: top .2s ease-out;
  -moz-transition: top .2s ease-out;
  -o-transition: top .2s ease-out;
  transition: top .2s ease-out;
  background-color: #fff;
  width: 100%;
}

.street-container .street-content > * {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.street-container street {
  position: relative;
  z-index: 1;
}

.street-container street-mobile {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

.short-title {
  font-size: 16px;
  color: #374551;
  text-align: center;
  display: none;
  padding-top: 5px;
  padding-bottom: 1px;
}

.short-title span {
  color: #767d86;
}

.heart-container {
  width: 100%;
  height: 100%;
}

.heart-container .heart-circle {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 38%;
  top: 38%;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.heart-container svg {
  margin: 10px 0 0 10px;
  width: 64px;
  height: 64px;
}

.pin-container {
  width: 100%;
  min-height: 410px;
  margin-top: -2px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pin-container .pin-info-text {
  color: #344450;
  font-size: 20px;
  text-align: center;
}

.pin-container .places-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  padding: 0 20px 10px 20px;
}

.pin-container .pin-place {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.6px 0.8px 2.9px 0.1px rgba(0, 0, 0, 0.2);
  width: calc(25% - 10px);
}

.pin-container .pin-place:not(:last-child) {
  margin-right: 10px;
}

.pin-footer {
  height: 68px;
  width: 100%;
  background-color: #334450;
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.pin-footer .pin-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pin-buttons-container .pin-done-share {
  color: white;
  font-size: 24px;
  border: 1px solid white;
  background-color: #495863;
  padding: 8px 40px;
}

.pin-buttons-container .pin-mode-close {
  color: #737B84;
  font-size: 18px;
  padding: 12px 40px;
  text-align: center;
}

.pin-footer .pin-buttons-container span {
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
}

.pin-header {
  height: 44px;
  margin-top: -2px;
  background-color: #F7F7F9;
  border-top: 1px solid #D6DDE0;
  border-bottom: 1px solid #D6DDE0;
}

.pin-header p {
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
  line-height: 44px;
}

.pin-header .buttons-container {
  float: right;
  height: 100%;
  padding-right: 20px;
}

.pin-header .buttons-container span {
  display: inline-block;
  width: 80px;
  height: 100%;
  background-color: yellow;
  border-left: 1px solid #D6DDE0;
  cursor: pointer;
}

@media (max-width: 700px) {
  .street-container.fixed {
    position: fixed;
    z-index: 10;
    top: 0;
  }

  .street-container.fixed .short-title {
    display: block;
  }
}