footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#articles-container.container {
  padding-top: 110px;
  overflow: hidden;
}

#articles-container.container .row {
  display: flex;
  flex-wrap: wrap;
}

#articles-container p {
  margin: 0;
  font-size: 18px;
}

#articles-container .article-content {
  margin-bottom: 50px;
}

#articles-container .article-content .icon-container {
  margin-bottom: 10px;
}

#articles-container .article-content .icon-container img {
  width: 100%;
  cursor: pointer;
}

#articles-container .article-description p,
#articles-container .article-description h3 {
  margin: 0;
}

#articles-container .article-description h3 {
  color: #374551;
  font-size: 24px;
  line-height: 24px;
  margin: 5px 0;
  cursor: pointer;
}

#articles-container .article-description p {
  color: #767d86;
  font-size: 16px;
}

#articles-container .article-description p.date {
  font-size: 14px;
}

#articles-container .article-description a {
  color: #0567bf;
  font-size: 16px;
}

@media (max-width: 1023px) {
  #articles-container.container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #articles-container {
    padding-bottom: 323px;
  }
}

@media (max-width: 767px) {
  #article-content {
    padding-bottom: 244px;
  }
}

@media (max-width: 600px) {
  #articles-container {
    padding-bottom: 237px;
  }

  #articles-container.container {
    padding-top: 60px;
  }
}
