<div class="lang-container">
  <span *ngFor="let language of getLanguagesList;">
    <div class="lang-outside" *ngIf="language.showOnPage" (click)="changeLanguage(language.language)">{{language.languageName}}</div>
  </span>
  <div class="lang-outside" (click)="changeLanguage('da')">Danish</div>

  <div class="btn-group" dropdown [(isOpen)]="status.isopen">
    <button id="single-button" type="button" class="btn" dropdownToggle [disabled]="disabled">
      <span class="caret"></span>
    </button>
    <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-languages">
      <li role="menuitem" *ngFor="let language of getLanguagesList;">
        <div class="lang-selector" *ngIf="!language.showOnPage" (click)="changeLanguage(language.language)">{{language.languageName}}</div>
      </li>
    </ul>
  </div>
</div>
