#countries-filter {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

#countries-filter .countries-filter-button {
  background-color: white;
  border: 1px solid #e4e6e7;
  border-radius: 8px;
  min-width: 150px;
  overflow: hidden;
  text-align: center;
  padding: 13px 35px 13px 13px;
  position: relative;
  cursor: pointer;
  color: #2e4350;
  font-size: 32px;
  line-height: 20px;
}

#countries-filter .countries-filter-button span.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  top: 20px;
  right: 10px;
}

#countries-filter.open-countries-filter .countries-filter-button span.arrow {
  border-bottom: 8px solid #000;
  border-top: 0 solid transparent;
  position: absolute;
  top: 20px;
  right: 10px;
}

#countries-filter .countries-filter-container {
  background-color: white;
  border: 1px solid #e4e6e7;
  box-shadow: 0 0 10px rgba(46, 67, 80, 0.1);
  position: absolute;
  top: 100%;
  margin-top: 5px;
  width: 787px;
  z-index: 10;
  /*overflow: hidden;*/
  height: 575px;
  display: none;
}

#countries-filter.open-countries-filter .countries-filter-container {
  display: block;
}

#countries-filter .regions-container {
  border: 1px solid #e4e6e7;
  width: 25%;
  padding: 7px 5px 5px 11px;
  float: left;
  height: calc(100% - 155px);
}

#countries-filter .regions-container .title {
  color: #384651;
  font-size: 24px;
  line-height: 20px;
  margin: 7px 0 20px;
  cursor: pointer;
}

#countries-filter .title {
  color: #767d86;
  font-size: 24px;
  line-height: 20px;
  margin: 20px 11px 15px;
}

#countries-filter .all-filter {
  color: #374551;
  font-size: 24px;
  line-height: 20px;
  margin: 0 20px 0 40px;
  cursor: pointer;
}

#countries-filter .countries-search {
  width: 300px;
  position: relative;
  margin-bottom: 19px;
  display: inline-block;
}

#countries-filter .countries-search input {
  font-size: 18px;
  line-height: 10px;
  color: #374551;
  padding: 0 30px 0 20px;
  background-color: white;
  border: 1px solid #9c9fa4;
  border-radius: 16px;
  text-align: left;
}

#countries-filter .countries-search input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.12);
}

#countries-filter .countries-search img {
  position: absolute;
  top: 8px;
  right: 14px;
  bottom: 7px;
  font-size: 18px;
  color: #767d86;
  width: 18px;
}

#countries-filter .all-selected {
  width: 22px;
  height: 11px;
  float: left;
  margin: 3px 3px;
  display: block;
  position: absolute;
}

#countries-filter .all-not-selected {
  width: 13px;
  height: 11px;
  float: left;
  margin: 4px 1px;
  display: block;
  position: absolute;
}

#countries-filter .all-not-selected .hide {
  display: none;
}

#countries-filter .all-selected img{
  margin-left: 11px;
  width: 22px;
}

#countries-filter .all-not-selected img{
  width: 20px;
  margin-left: 11px;
}

#countries-filter .regions-container .country-content {
  overflow: hidden;
  position: relative;
  padding: 6px 0 12px 0;
  margin: 0;
  cursor: pointer;
}

#countries-filter .regions-container .countries-container {
  height: calc(100% - 50px);
  overflow-y: auto;
}

#countries-filter .regions-container span.name {
  color: #384651;
  font-size: 20px;
  line-height: 17px;
  margin-top: 5px;
  display: block;
  width: calc(100% - 20px);
  float: right;
}

#countries-filter .regions-container .country-content.empty {
  cursor: default;
}

#countries-filter .regions-container .country-content.empty span {
  color: #a9a9a9;
}

#countries-filter .button-container {
  width: 100%;
  float: none;
  clear: both;
  /*padding: 2px 2px 15px 15px;*/
  text-align: right;
}

#countries-filter .button-container button {
  color: #2e4350;
  font-size: 24px;
  line-height: 20px;
  border: 0;
  background: none;
  box-shadow: none;
  padding-right: 20px;
}

#countries-filter .button-container button:focus {
  box-shadow: none;
  outline: none;
}

#countries-filter .button-container img {
  width: 24px;
  margin: 10px 9px 15px 0;
}

#countries-filter .title .selected,
#countries-filter .country-content .selected {
  width: 15px;
  height: 11px;
  float: left;
  margin: 8px 1px;
  display: block;
  position: absolute;
}

#countries-filter .title .regions-names {
  margin-left: 6px;
}

#countries-filter .title .selected img,
#countries-filter .country-content .selected img {
  width: 100%;
  display: none;
}

#countries-filter .title.active .selected img,
#countries-filter .country-content.active .selected img {
  display: block;
}

#countries-filter .title .not-selected,
#countries-filter .country-content .not-selected {
  width: 13px;
  float: left;
}

#countries-filter .title .not-selected img {
  width: 100%;
  margin-top: 0;
}

#countries-filter .country-content .not-selected img {
  width: 100%;
  margin-top: 5px;
}

#countries-filter .title.active .not-selected img,
#countries-filter .country-content.active .not-selected img {
  display: block;
  margin-top: 8px;
}

.cancel {
  color: #767d86 !important;
}

.close-button {
  width: 15px;
  margin: -6px 3px 0 0;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

/*::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*}*/

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ced1d5;;
}

::-webkit-input-placeholder {color:#767d86; font-family: 'Bariol Regular', sans-serif;}
::-moz-placeholder          {color:#767d86; font-family: 'Bariol Regular', sans-serif;} /* Firefox 19+ */
:-moz-placeholder           {color:#767d86; font-family: 'Bariol Regular', sans-serif;} /* Firefox 18- */
:-ms-input-placeholder      {color:#767d86; font-family: 'Bariol Regular', sans-serif;} /* IE */

