<div id="countries-filter"
     *ngIf="activeCountries"
     [ngClass]="{'open-countries-filter': isOpenCountriesFilter}">
  <div class="countries-filter-button"
       (click)="openCloseCountriesFilter(isOpenCountriesFilter)">
    <span>{{activeCountries}}</span>
    <span class="arrow"></span>
  </div>

  <div class="countries-filter-container">

    <div class="title">Select countries
      <span>
         <img class="close-button pull-right"
              src="../../assets/img/close-button.svg"
              (click)="cancelCountriesFilter()"
              alt="Close">
      </span>
    </div>

    <div>
      <span class="all-not-selected">
         <img src="/assets/img/empty-check.png" alt="">
      </span>
      <span *ngIf="showSelected" class="all-selected">
         <img src="/assets/img/check-icon.svg" alt="">
      </span>

      <span class="all-filter" (click)="clearAllCountries()">Show all countries</span>

      <div class="countries-search">
        <input class="form-control autofocus"
               type="search"
               placeholder="Search country"
               [(ngModel)]="search">
        <img src="/assets/img/search-icon.svg" alt="Search icon">
      </div>
    </div>

    <div class="regions-container" *ngFor="let location of locations">
      <h3 class="title"
          (click)="selectRegions(location)"
          [ngClass]="{active: selectedRegions.indexOf(location.region) !== -1}">
        <span class="not-selected">
            <img src="/assets/img/empty-check.png" alt="">
        </span>
        <span class="selected">
            <img src="/assets/img/check-icon.svg" alt="">
        </span>
        <span class="regions-names">
            {{location.region}}
        </span>
      </h3>

      <div class="countries-container">
        <div class="country-content"
             *ngFor="let country of location.countries | CountriesFilterPipe:search"
             [ngClass]="{empty: country.empty, active: selectedCountries.indexOf(country.country) !== -1}"
             (click)="selectCountries(country, location.region)">
          <span class="not-selected">
            <img src="/assets/img/empty-check.png" alt="">
          </span>
          <span class="selected">
            <img src="/assets/img/check-icon.svg" alt="">
          </span>
          <span class="name">
            {{country.country}}
          </span>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="cancel" type="button" (click)="cancelCountriesFilter()">Cancel</button>
      <button type="button" (click)="goToLocation()"><img src="/assets/img/apply-icon.svg">Ok</button>
    </div>
  </div>
</div>
