<div id="countries-filter"
     *ngIf="activeCountries && !openMobileFilterView"
     [ngClass]="{'open-countries-filter': isOpenCountriesFilter}">
  <div class="countries-filter-button"
       (click)="openCloseCountriesFilter(isOpenCountriesFilter)">
    <span>{{activeCountries}}</span>
    <span class="arrow"></span>
  </div>

  <div class="countries-filter-container"
       *ngIf="isDesktop"
       [style.left.px]="-positionLeft">
    <div class="title">Select countries
      <img class="close-button pull-right"
           src="/assets/img/close-button.svg"
           (click)="cancelCountriesFilter()"
           alt="Close">
    </div>

    <div class="pointer-search-container">
      <div class="pointer-container" (click)="clearAllCountries()">
        <div>
          <img src="/assets/img/empty-check.png"
               alt="">
          <img class="check" src="/assets/img/check-icon.svg"
               alt=""
               [ngClass]="{active: showSelected}">
        </div>
        <span>Show all countries</span>
      </div>

      <div class="countries-search">
        <input class="form-control autofocus"
               type="search"
               placeholder="Search country"
               [(ngModel)]="search">
        <img src="/assets/img/search-icon.svg" alt="Search icon">
      </div>
    </div>

    <div class="regions-container" *ngFor="let location of locations">
      <h3 class="title"
          (click)="selectRegions(location)"
          [ngClass]="{empty: location.empty,active: selectedRegions.indexOf(location.region) !== -1}">
        <span class="not-selected">
            <img src="/assets/img/empty-check.png" alt="">
        </span>
        <span class="selected">
            <img src="/assets/img/check-icon.svg" alt="">
        </span>
        <span class="regions-names">
            {{location.region}}
        </span>
      </h3>

      <div class="countries-container">
        <div class="country-content"
             *ngFor="let country of location.countries | CountriesFilterPipe:search"
             [ngClass]="{empty: country.empty, active: selectedCountries.indexOf(country.country) !== -1}"
             (click)="selectCountries(country, location.region)">
          <span class="not-selected">
            <img src="/assets/img/empty-check.png" alt="">
          </span>
          <span class="selected">
            <img src="/assets/img/check-icon.svg" alt="">
          </span>
          <span class="name">
            {{country.country}}
          </span>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="cancel" type="button" (click)="cancelCountriesFilter()">Cancel</button>
      <button type="button" (click)="goToLocation()"><img src="/assets/img/apply-icon.svg">Ok</button>
    </div>
  </div>
</div>

<div id="countries-filter-mobile"
     *ngIf="activeCountries && openMobileFilterView"
     [ngClass]="{'open-countries-filter': isOpenCountriesFilter}">
  <div class="countries-filter-button"
       (click)="openCloseCountriesFilter(isOpenCountriesFilter)">
    <span>{{activeCountries}}</span>
    <span class="arrow"></span>
  </div>
  <div class="countries-filter-container"
       *ngIf="isOpenCountriesFilter">
    <div class="title">Select countries
      <img class="close-button pull-right"
           src="/assets/img/close-button.svg"
           (click)="cancelCountriesFilter()"
           alt="Close">
    </div>

    <div class="pointer-search-container">
      <div class="pointer-container" (click)="clearAllCountries()">
        <div>
          <img src="/assets/img/empty-check.png"
               alt="">
          <img class="check" src="/assets/img/check-icon.svg"
               alt=""
               [ngClass]="{active: showSelected}">
        </div>
        <span>Show all countries</span>
      </div>

      <div class="countries-search">
        <input class="form-control"
               type="search"
               placeholder="Search country"
               (focus)="hideRegionsIfInFocus(regionsVisibility)"
               (focusout)="hideRegionsIfInFocus()"
               [(ngModel)]="search">
        <img src="/assets/img/search-icon.svg" alt="Search icon">
      </div>
    </div>

    <div class="underline-k" [ngStyle] = "{display: regionsVisibility ? 'inline-block' : 'none'}">
      <div class="regions-container" *ngFor="let location of locations">
        <h3 class="title"
            (click)="selectRegions(location)"
            [ngClass]="{empty: location.empty,
                        active: selectedRegions.indexOf(location.region) !== -1}">
        <span class="not-selected">
            <img src="/assets/img/empty-check.png" alt="">
        </span>
          <span class="selected">
            <img src="/assets/img/check-icon.svg" alt="">
        </span>
          <span class="regions-names">
            {{location.region}}
        </span>
        </h3>
      </div>
    </div>

    <div class="countries-container">
      <div class="country-content"
           *ngFor="let country of countries | CountriesFilterPipe:search"
           [ngClass]="{empty: country.empty, active: selectedCountries.indexOf(country.country) !== -1}"
           (click)="selectCountries(country, country.region)">
          <span class="not-selected">
            <img src="/assets/img/empty-check.png" alt="">
          </span>
        <span class="selected">
            <img src="/assets/img/check-icon.svg" alt="">
          </span>
        <span class="name">
            {{country.country}}
          </span>
      </div>
    </div>


    <div class="button-container">
      <button class="cancel" type="button" (click)="cancelCountriesFilter()">Cancel</button>
      <button type="button" (click)="goToLocation()"><img src="/assets/img/apply.svg">Ok</button>
    </div>
  </div>
</div>
