<div class="quick-guide-container" *ngIf="isShowGuide">
  <div class="quick-guide-content">
    <div class="guide-logo-container">
      <img src="/assets/img/new-road-sign.png" alt="Logo">
    </div>

    <div class="quick-guide-description-container">
      <h1>Dollar Street</h1>
      <div class="guide-description" *ngIf="description" [innerHtml]="description"></div>
      <h2>{{ 'SEE_HOW_PEOPLE' | translate }}
        <span>{{ 'REALLY' | translate }}</span> {{ 'LIVE' | translate }}</h2>
      <div class="button-container">
        <button class="bg-orange" type="button" (click)="openQuickTour()">{{ 'QUICK_TOUR' | translate }}</button>
        <button type="button" (click)="closeQuickGuide()">{{ 'MAYBE_LATER' | translate }}</button>
      </div>
    </div>
  </div>

  <img (click)="closeQuickGuide()" src="/assets/img/close-button-welcome.png" alt="">
</div>

<bubble *ngIf="!isShowGuide && isShowBubble" [bubbles]="bubbles"></bubble>
