#things-filter {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

#things-filter .things-filter-button {
  position: relative;
}

#things-filter .things-filter-button .things-filter-button-content {
  background-color: white;
  border: 1px solid #e4e6e7;
  border-radius: 8px;
  min-width: 150px;
  text-align: right;
  padding: 13px 35px 13px 13px;
  cursor: pointer;
  color: #2e4350;
  font-size: 32px;
  line-height: 20px;
}

#things-filter .things-filter-button .things-filter-button-content img {
  width: 30px;
  float: left;
  margin: -5px 13px 5px 0;
}

#things-filter .things-filter-button span {

}

#things-filter .things-filter-button .things-filter-button-content span.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  top: 20px;
  right: 10px;
}

#things-filter.open-things-filter .things-filter-button .things-filter-button-content span.arrow {
  border-bottom: 8px solid #000;
  border-top: 0 solid transparent;

  position: absolute;
  top: 20px;
  right: 10px;
}

#things-filter .things-filter-container .related-things-container {
  border-right: 1px solid #e4e6e7;
}

#things-filter .things-filter-container .popular-things-container {
  border-right: 1px solid #e4e6e7;
}

#things-filter .things-filter-container {
  background-color: white;
  border: 1px solid #e4e6e7;
  box-shadow: 0 0 10px rgba(46, 67, 80, 0.1);
  position: absolute;
  top: 100%;
  margin-top: 5px;
  left: 0;
  width: 584px;
  z-index: 99;
  overflow: hidden;
  height: 517px;
  display: none;
}

#things-filter .things-filter-container .title {
  color: #737b83;
  font-size: 24px;
  line-height: 20px;
  margin: 5px 0 15px;
}

#things-filter .things-filter-container > div {
  float: left;
  padding: 12px;
  height: 100%;
}

#things-filter .things-filter-container .related-things-container {
  width: 260px;
}

#things-filter .things-filter-container .popular-things-container {
  width: 260px;
}


#things-filter .other-things-container {
  width: calc(100% - 520px);
}

#things-filter .thing-content {
  overflow: hidden;
  position: relative;
  margin: 0;
  cursor: pointer;
}

#things-filter .thing-content.empty {
  cursor: default;
}

#things-filter .thing-content .thing-icon-container {
  float: left;
  width: 30px;
  margin-right: 15px;
  position: relative;
  min-height: 28px;
}

#things-filter .thing-content img {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
}

#things-filter .thing-content span {
  color: #374551;
  font-size: 22px;
  line-height: 40px;
  display: block;
  float: left;
  width: calc(100% - 50px);
}

#things-filter .thing-content.empty span {
  color: #a9a9a9;
}

#things-filter .things-search {
  position: relative;
  margin-bottom: 15px;
}

#things-filter .things-search input {
  font-size: 16px;
  color: #767d86;
  padding-left: 35px;
  background-color: white;
  border: 1px solid #ced1d5;
  border-radius: 16px;
}

#things-filter .things-search img {
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 18px;
  color: #767d86;
  width: 18px;
}

#things-filter .related-things-content {
  overflow-y: auto;
  height: calc(100% - 40px);
}

#things-filter .popular-things-content {
  overflow-y: auto;
  height: calc(100% - 40px);
}

#things-filter .other-things-content {
  overflow-y: auto;
  height: calc(100% - 90px);
}

#things-filter.open-things-filter .things-filter-container {
  display: block;
}

.things-filter-button .thing-pop-up {
  position: absolute;
  top: 100%;
  left: -7px;
  z-index: 999;
  padding-top: 3px;
  display: none;
  text-align: left;
}

.things-filter-button:hover .thing-pop-up {
  display: block;
}

.things-filter-button.exist:hover .thing-pop-up {
  display: block;
}

.things-filter-button .thing-pop-up span {
  width: 50px;
  height: 10px;
  position: relative;
  overflow: hidden;
  display: block;
}

.things-filter-button .thing-pop-up span:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.things-filter-button .thing-pop-up-content {
  width: 450px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: 0px 2px 12.04px 1.96px rgba(0, 0, 0, 0.28);
}

.things-filter-button .thing-pop-up-content p {
  font-family: 'Bariol Light', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #5f6a74;
  margin-bottom: 0;
}

.things-filter-button .thing-pop-up-content p a {
  color: #0567bf;
  font-family: 'Bariol Regular', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  margin: 0;
}

/*::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*}*/

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ced1d5;;
}
