<div id="things-filter"
     *ngIf="activeThing.plural"
     [ngClass]="{'open-things-filter': isOpenThingsFilter}">
  <div class="things-filter-button">
    <div class="things-filter-button-content"
         (click)="openThingsFilter(isOpenThingsFilter)">
      <img *ngIf="activeThing?.iconDark"
           [src]="activeThing?.iconDark"
           alt="Icon">
      <span>{{activeThing?.plural || activeThing?.thingName}}</span>
      <span class="arrow"></span>
    </div>

    <div class="thing-pop-up" *ngIf="activeThing.shortDescription && !isOpenThingsFilter">
      <div class="thing-pop-up-content">
        <p> {{activeThing?.shortDescription}}
          <a *ngIf="activeThing?.isShowReadMore"
             [routerLink]="['/article', activeThing._id]"
             [queryParams]="{}">Read more >></a>
        </p>
      </div>
    </div>
  </div>

  <div class="things-filter-container">
    <div class="related-things-container">
      <h3 class="title">Related things</h3>

      <div class="related-things-content">
        <div class="thing-content"
             *ngFor="let thing of relatedThings"
             (click)="goToThing(thing)"
             [ngClass]="{'empty': thing.empty}">
          <div class="thing-icon-container">
            <img class="thing-icon" [src]="thing.icon" alt="">
          </div>

          <span class="thing-name">{{thing.plural}}</span>
        </div>
      </div>
    </div>

    <div class="other-things-container">
      <h3 class="title">All things</h3>
      <div class="things-search">
        <input class="form-control"
               type="search"
               [(ngModel)]="search.text">
        <img src="/assets/img/search-icon.svg" alt="Search icon">
      </div>

      <div class="other-things-content">
        <div class="thing-content"
             *ngFor="let thing of otherThings | ThingsFilterPipe:search.text"
             (click)="goToThing(thing)"
             [ngClass]="{'empty': thing.empty}">
          <div class="thing-icon-container">
            <img class="thing-icon"
                 [src]="thing.icon"
                 [alt]="thing.plural">
          </div>

          <span class="thing-name">{{thing.plural}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
