.header {
  background-color: #fff;
  border-bottom: 2px solid #f9cd28;
  /*padding: 5px 0;*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header .logo {
  width: 53px;
  height: 53px;
  margin: 9px 15px 10px 9px;
  cursor: pointer;
  display: block;
}

.header .logo img {
  width: 100%;
}

.header .heading {
  font-size: 30px;
  color: #374551;
  width: calc(100% - 195px);
}

.matrix-icon {
  width: 37px;
  margin-top: 16px;
  margin-right: 10px;
}

.matrix-icon img {
  width: 100%;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 0 0 8px;
  }

  .header .logo {
    margin-top: 9px;
    width: 42px;
  }

  .header .heading {
    margin: 15px 0 0 15px;
  }

  .matrix-icon {
    margin-top: 11px;
  }
}

@media (max-width: 600px) {
  .header .heading {
    font-size: 18px;
    margin: 12px 0 0 10px;
    line-height: 18px;
    width: calc(100% - 110px);
  }

  .header .logo {
    margin-top: 5px;
    width: 32px;
  }

  .matrix-icon {
    width: 25px;
    margin-top: 8px;
    margin-right: 5px;
  }
}
