.header {
  background-color: #fff;
  border-bottom: 2px solid #f9cd28;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header .logo {
  margin-top: 3px;
  width: 45px;
  display: block;
}

.header .logo img {
  width: 100%;
}

.header .heading {
  margin: 10px 0 0 15px;
  display: inline-block;
  line-height: 30px;
  font-size: 30px;
  color: #374551;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header .heading {
    font-size: 18px;
    margin: 0 0 0 10px;
    line-height: 32px;
  }

  .header .logo {
    margin-top: 0;
    width: 32px;
  }
}
