<div class="view-image-block-container zoom-{{privateZoom}}" *ngIf="showblock">
  <div class="active-house" [style.left.px]="markerPositionLeft"></div>

  <div class="view-image-container">
    <img (click)="openPopUp()" [src]="place.background">
    <div class="close-box-container" (click)="closeBlock()">
      <span class="close-box">
        <img src="/assets/img/close-button-bubbles.svg" alt="x">
      </span>
    </div>

    <div class="view-image-block-footer-container">
      <div class="photographer-container">
        <p><img src="/assets/img/cc-icon-small.svg">
          Photo: <a *ngIf="familyData?.photographer?.id"
                    [routerLink]="['/photographer', familyData.photographer.id]"
                    [queryParams]="{}"
                    angulartics2On="click"
                    angularticsEvent="From Matrix page to {{familyData.photographer.name}} Photographer profile">
            {{familyData.photographer?.name}}</a> for <span class="tablet">
            Dollar Street <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">(CC BY 4.0)</a>
          </span>
          <span class="mobile">DS</span>
        </p>
      </div>

      <div class="download-container">
        <a target="_blank" [href]="api + '/consumer/api/v1/download-image/' + place.image">
          <img src="/assets/img/download-icon.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="house-info-container">
    <div class="header-container">
      <div class="title-container">
        <h3 *ngIf="familyData?.familyName">{{familyData?.familyName || ''}} family, <span style="cursor:pointer"
                                                                                          [routerLink]="['/country', familyData?.country?._id]"
                                                                                          [queryParams]="{}"
                                                                                          angulartics2On="click"
                                                                                          angularticsEvent="From Matrix page to {{familyData.country.country}} page ">{{familyData?.country?.alias || familyData?.country?.country}}</span>
        </h3>
      </div>

      <div class="income-container">$ {{math.round(place.income)}}<span>/month</span></div>
    </div>

    <div class="home-description-container">
      <p *ngIf="familyData?.familyData">
        {{familyData.familyData}}
      </p>

      <a *ngIf="familyData.goToPlaceData"
         [routerLink]="['/family']"
         [queryParams]="familyData.goToPlaceData"
         angulartics2On="click"
         angularticsEvent="From Matrix page to {{familyData.familyName}} family place page">Visit this home <img
        src="/assets/img/arrow-right-icon.svg"
        alt=""><img
        src="/assets/img/arrow-right-icon-white.svg" alt=""></a>
    </div>
  </div>

  <div class="isLoad" [hidden]="loader">
    <div class="la-ball-spin la-dark la-2x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div class="fancyBox-container" *ngIf="popIsOpen" (click)="fancyBoxClose()">
  <div class="fancyBox-image" [hidden]="!fancyBoxImage" [ngStyle]="{'background-image': fancyBoxImage}"></div>

  <div class="load" [hidden]="fancyBoxImage">
    <div class="la-ball-spin la-dark la-2x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
