<div class="matrix-header">
  <header [query]="query"
          (mouseenter)="isHover()" (filter)="urlChanged($event)"></header>

  <street [places]="places" [thing]="thing"
          [chosenPlaces]="chosenPlaces"
          [hoverPlace]="hoverPlace"
          [hoverHeader]="hoverHeader"></street>
</div>

<matrix-images [places]="places" [thing]="thing" [zoom]="zoom"
               (hoverPlace)="hoverPlaceS($event)"
               [padding]="padding"></matrix-images>
<div class="zoom-column pull-right">
  <button type="button"
          (click)="changeZoom(-1)">
    <b>+</b>
  </button>
  <button type="button"
         (click)="changeZoom(1)">
    <b>-</b>
  </button>
</div>
<footer></footer>
