matrix-images {
  display: block;
}

.matrix-onboard {
  background-color: #ecf0f6;
  border-bottom: groove;
  width: 100%;
  padding: 15px;
  font-family: 'Bariol Regular', sans-serif;
  text-align: center;
}

.font-bold {
  font-family: 'Bariol Bold', sans-serif;
}

.font-large {
  font-size: 30px;
}

.onboard-button-ml,
.onboard-button-qt {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 0 15px 0 15px;
}

.onboard-button-qt {
  background-color: #ffc600;
}

.onboard-buttons-container {
  margin-top: 10px;
}

.close-button {
  /*background: url("http://2.bp.blogspot.com/-ZBOpbXR_WF4/U2hVGfkRmPI/AAAAAAAAAdQ/EsnudlMokFE/s1600/S5-Multi-Window-Close.png") no-repeat center center;*/
  cursor: pointer;
  height: 15px;
  right: 10px;
  top: 10px;
  width: 15px;
  z-index: 2;
}

.quick-tour {
  background-color: #525e68;
  border-radius: 10px;
  color: white;
  padding: 10px;
  position: absolute;
  width: 300px;
  opacity: 0.95;
  z-index: 600;
}

.cc-link {
  color: #aed2d3;
}

.quick-tour:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #525e68;
  border-width: 10px;
  margin-left: -15px;
}

.marg-5-px {
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.qt-baloon-name {
  font-family: 'Bariol Bold', sans-serif;
}

.matrix-header {
  z-index: 9995;
}

.matrix-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.matrix-header {
  background-color: #fff;
}

.zoom-column {
  position: fixed;
  top: 126px;
  right: 16px;
  z-index: 99;
}

.zoom-column button,
.zoom-column button b {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.zoom-column button {
  width: 33px;
  height: 33px;
  background: #525E68;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
  box-shadow: 0.574px 0.819px 2.88px 0.12px rgba(0, 0, 0, 0.2);
  padding: 0 6px;
}

.zoom-column button b {
  color: #fff;
  line-height: 0;
  font-size: 22px;
}

.zoom-column button:hover {
  background-color: #374551;
}

.zoom-column button:hover b {
  color: #fff;
}

.zoom-column button[disabled] {
  background: #9babb8 !important;
  cursor: not-allowed;
  opacity: .7;
}

.zoom-column button[disabled] b {
  color: #374551 !important;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .zoom-column {
    top: 140px;
    right: 20px;
  }
}

@media (max-width: 992px) {
  .zoom-column {
    top: 140px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .zoom-column {
    top: 135px;
    right: 14px;
  }

  .zoom-column button {
    width: 29px;
    height: 29px;
  }
}

@media (min-width: 768px) {
  matrix-images {
    padding-bottom: 250px;
    padding-top: 112px;
  }
}

@media (max-width: 767px) {
  matrix-images {
    padding-bottom: 325px;
  }
}

@media (max-width: 600px) {
  .zoom-column {
    top: 107px;
    right: 4px;
  }

  .zoom-column button {
    width: 26px;
    height: 26px;
  }
}
