matrix-images {
  display: block;
}

.matrix-header {
  z-index: 9995;
}

.matrix-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.matrix-header {
  background-color: #fff;
}

.zoom-column {
  position: fixed;
  right: 32px;
  bottom: 52px;
  z-index: 10;
}

.zoom-column.stop {
  position: absolute;
  bottom: 336px;
}

.zoom-column button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  outline: 0;
  box-shadow: 0 0 3.9px 0.1px rgba(0, 0, 0, 0.32);
  background: rgba(255, 255, 255, 0.8) center center no-repeat;
  background-size: 16px auto !important;
}

.zoom-column button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.zoom-column .increase {
  background-image: url("/assets/img/plus.svg");
  margin-right: 8px;
}

.zoom-column .decrease {
  background-image: url("/assets/img/minus.svg");
}

.street-container {
  position: relative;
}

.street-container > * {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.street-container street {
  position: relative;
  z-index: 1;
}

.street-container street-mobile {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 600px) {
  matrix-images {
    padding-top: 112px;
  }
}
