matrix-images {
  display: block;
}
.matrix-header {
  z-index: 9995;
}

.matrix-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.matrix-header {
  background-color: #fff;
}

.zoom-column {
  position: fixed;
  top: 126px;
  right: 16px;
}

.zoom-column button,
.zoom-column button b {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.zoom-column button {
  width: 33px;
  height: 33px;
  background: #525E68;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
  box-shadow: 0.574px 0.819px 2.88px 0.12px rgba(0, 0, 0, 0.2);
  padding: 0 6px;
}

.zoom-column button b {
  color: #fff;
  line-height: 0;
  font-size: 22px;
}

.zoom-column button:hover {
  background-color: #374551;
}

.zoom-column button:hover b {
  color: #fff;
}

.zoom-column button[disabled] {
  background: #9babb8 !important;
  cursor: not-allowed;
  opacity: .7;
}

.zoom-column button[disabled] b {
  color: #374551 !important;
}

footer {
  position: relative;
}

@media (max-width: 1200px) {
  .zoom-column {
    top: 140px;
    right: 20px;
  }
}

@media (max-width: 992px) {
  .zoom-column {
    top: 140px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .zoom-column {
    top: 135px;
    right: 14px;
  }

  .zoom-column button {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 600px) {
  .zoom-column {
    top: 107px;
    right: 4px;
  }

  .zoom-column button {
    width: 26px;
    height: 26px;
  }
}
