
.floatfooter {
  overflow: hidden;
  padding: 0 22px;
  position: fixed;
  background-color: white;
  border-top: 1px solid #e0ebf9;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all .5s ease-out .2s;
  -moz-transition: bottom .5s ease-out .2s;
  -o-transition: bottom .5s ease-out .2s;
  transition: all .5s ease-out .2s;
}

.show-float-footer {
  bottom: 0 !important;
}

.share-text {
  color: #767d86;
  font-size: 18px;
  line-height: 30px;
}

.back-to-top {
  color: #767d86;
  font-size: 20px;
  line-height: 17px;
  float: right;
  cursor: pointer;
  margin-top: 10px;
}

.floatfooter .social-share-buttons-container {
  width: 100%;
}

.floatfooter .social-share-buttons-container .share-button-container {
  display: inline;
}

.floatfooter .share-button {
  width: 32px;
  display: inline-block;
  float: none;
  margin-left: 6px;
}

.scroll-top {
  color: #767d86;
  font-size: 18px;
  line-height: 30px;
  float: right;
  cursor: pointer;
  margin-top: 7px;
  background: none;
  border: none;
  outline: none;
}

.scroll-top i {
  font-size: 25px;
  font-weight: bold;
}

social-share-buttons .share-button-container .share-button .orange {
  color: #fcc037 !important;
}
