.float-footer-container {
  overflow: hidden;
  padding: 9px 22px;
  background-color: #fff;
  border-top: 1px solid #e0ebf9;

  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: 99;

  -webkit-transition: bottom .5s ease;
  -moz-transition: bottom .5s ease;
  -o-transition: bottom .5s ease;
  transition: bottom .5s ease;
}

.float-footer-container.show-float-footer {
  bottom: 0;
}

.float-footer-container span {
  color: #767d86;
  font-size: 18px;
  float: left;
  margin: 2px 0 -2px;
  cursor: pointer;
}

.float-footer-container social-share-buttons {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -3px;
}

.float-footer-container .back-to-top {
  color: #767d86;
  font-size: 18px;
  float: right;
}

.float-footer-container .back-to-top i {
  color: #767d86;
  font-size: 22px;
  margin-left: 4px;
}

@media (max-width: 1023px) {
  .float-footer-container {
    padding: 9px 10px;
  }
}

@media (max-width: 599px) {
  .float-footer-container {
    padding: 9px 5px;
  }

  .float-footer-container span {
    font-size: 16px;
    margin: 1px -4px 0 0;
  }

  .float-footer-container .back-to-top {
    margin: 0;
    font-size: 16px;
  }
}
