.matrix #app-container.container,
.family #app-container.container {
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.tag #app-container.container {
  padding-top: 90px;
}

.blog #app-container.container {
  padding-top: 125px;
}

@media (min-width: 1400px) {
  body:not(.blog):not(.article):not(.about) .footer .container,
  body:not(.blog):not(.article) #app-container.container {
    width: 1400px;
  }
}

body.about #app-container.container {
  width: 760px !important;
}

@media (max-width: 1023px) {
  .country #app-container.container,
  .photographer #app-container.container {
    padding-left: 0;
    padding-right: 0;
  }

  body.about #app-container.container,
  #app-container.container {
    width: 100% !important;
  }
}
