<div id="photographer-places">
  <div class="country" *ngFor="#country of countries">
    <h3>{{country.name}}</h3>

    <div class="place" *ngFor="#place of country.places">
      <div class="image">
        <img *ngIf="place.image" [src]="place.image"
             [routerLink]="['Place', {thing:  place.thing, place: place.placeId, image: place.imageId}]"
             [angulartics2On]="'click'"
             [angularticsEvent]="'go to place page from photographer page'"
             alt="">
      </div>

      <div class="place-description">
        <div class="family">
          <h3 *ngIf="place.family">{{place.family}}</h3>
        </div>

        <div class="country-income">
          <div class="income">
            <span>${{place.income}}</span>
          </div>

          <div class="place-country">
            <p>
              <img *ngIf="country.region === 'Africa'" src="/app/assets/img/africa.svg" alt="">
              <img *ngIf="country.region === 'Europe'" src="/app/assets/img/europe.svg" alt="">
              <img *ngIf="country.region === 'Asia'" src="/app/assets/img/asia.svg" alt="">
              <img *ngIf="country.region === 'America'" src="/app/assets/img/america.svg" alt="">
              <span>{{country.name}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="link">
        <a [routerLink]="['Place', {thing: place.thing, place: place.placeId, image: place.imageId}]"
           [angulartics2On]="'click'"
           [angularticsEvent]="'go to place page from photographer page'">Visit family »</a>
      </div>
    </div>
  </div>
</div>
<loader [hidden]="loader"></loader>
