<div id="photographer-places">
  <div class="place" *ngFor="let place of places">
    <div class="image">
      <img *ngIf="place.image" [src]="place.image"
           [routerLink]="['/family']"
           [queryParams]="{place: place.placeId}"
           alt=""
           angulartics2On="click"
           angularticsEvent="Moved from photographer's profile page to {{place.family}} family page">
    </div>

    <div class="place-description">
      <div class="family">
        <span *ngIf="place.family">family</span>
        <h3 *ngIf="place.family">{{place.family}} <span>family</span></h3>
      </div>

      <div class="country-income">
        <div class="income">
          <span>${{math.round(place.income)}}</span>
        </div>

        <div class="place-country">
          <p>
            <img *ngIf="place.region === 'Africa'" src="/assets/img/africa.svg" alt="">
            <img *ngIf="place.region === 'Europe'" src="/assets/img/europe.svg" alt="">
            <img *ngIf="place.region === 'Asia'" src="/assets/img/asia.svg" alt="">
            <img *ngIf="place.region === 'The Americas'" src="/assets/img/america.svg" alt="">
            <span>{{place.country}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="link">
      <a class="custom-button"
         [routerLink]="['/family']"
         [queryParams]="{place: place.placeId}"
         angulartics2On="click"
         angularticsEvent="Moved from photographer's profile page to {{place.family}} family page">Visit family >></a>
    </div>
  </div>
</div>
<loader [hidden]="loader"></loader>
