.home-description-container {
  overflow: hidden;
  padding: 113px 25px 25px;
  background-color: #f6f7f8;
  border-bottom: 1px solid #c6c7c9;
}

.description-container > div,
.home-description-container > div {
  float: left;
}

.home-description-container .image-container {
  width: 252px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
}

.home-description-container .description-container {
  width: calc(100% - 272px);
}

.description-container {
  overflow: hidden;
}

.description-container .home-info-container {
  width: calc(100% - 364px);
  margin-right: 112px;
}

.description-container .home-country-container {
  width: 252px;
}

.description-container .home-info-container .title-info {
  display: inline-block;
  width: 100%;
}

.description-container .home-info-container .title-info > div {
  float: left;
  width: 50%;
}

.title-info {
  margin-bottom: 10px;
}

.title-info p {
  margin: 0;
}

.title-info .title {
  color: #2e4350;
  font-size: 32px;
}

.title-info .sub-title {
  color: #2e4350;
  font-size: 18px;
  margin-top: -5px;
}

.left-title {
  text-align: left;
}

.right-title {
  text-align: right;
}

.go-to-matrix,
.family-full-info {
  display: none;
}

.home-description-container .family-info-container {
  color: #2e4350;
  font-size: 20px;
  text-align: justify;
}

.home-description-container.open-info .go-to-matrix,
.home-description-container.open-info .family-full-info {
  display: block;
}

.home-description-container.open-info .family-short-info {
  display: none;
}

.show-info {
  margin: 25px 0 2px;
  color: #35424d;
  font-size: 20px;
  line-height: 14px;
}

.show-info span {
  cursor: pointer;
}

.show-info img {
  width: 15px;
  vertical-align: bottom;
  margin-right: 11px;
}

.go-to-matrix {
  margin: 20px 0 0;
}

.go-to-matrix a {
  font-size: 18px;
  display: block;
  color: #35424d;
}

.go-to-matrix img {
  float: right;
  width: 16px;
  margin-top: 6px;
}

.short-family-info-container {
  overflow: hidden;
  padding: 10px 25px;
  background-color: #f6f7f8;
  border-bottom: 1px solid #c6c7c9;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 11;

  -webkit-transition: top .5s ease;
  -moz-transition: top .5s ease;
  -ms-transition: top .5s ease;
  -o-transition: top .5s ease;
  transition: top .5s ease;
}

.short-family-info-container .image-container {
  width: 53px;
  margin-right: 20px;
  float: left;
}

.short-family-info-container .description-container {
  width: calc(100% - 73px);
  float: left;
}

.short-family-info-container .title-info {
  margin: 0;
}

.short-family-info-container .title-info .title {
  color: #2e4350;
  font-size: 32px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.about-info-image {
  width: 18px;
  margin-top: 8px;
  cursor: pointer;
  vertical-align: top;
}

.short-family-info-container .about-info-image {
  margin: 8px 0 0 7px;
}

.about-data-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.about-data-container.open {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 9999;
  text-align: center;
}

.about-data-container .about-data-content {
  width: 450px;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  max-height: 95%;
  text-align: left;
  padding-bottom: 20px;
}

.about-data-container .about-data-content .about-data-header {
  border-bottom: 1px solid #dddfe2;
  position: relative;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.about-data-container .about-data-content h3 {
  font-size: 20px;
  margin: 0;
}

.about-data-container .about-data-content span {
  position: absolute;
  top: 14px;
  right: 15px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #dde4ef;
  color: #5f6a74;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.about-data-container.open .about-data-content span {
  display: block;
}

.about-data-container .about-data-body {
  padding: 0 15px;
  overflow-y: auto;
}

.about-data-container .about-data-body p {
  color: #5f6a74;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

.about-data-container .about-data-body p:first-child {
  margin-bottom: 20px;
}

.rotate {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

@media (max-width: 600px) {
  .about-data-container .about-data-content {
    width: 95%;
  }

  .about-data-container .about-data-body p {
    font-size: 14px;
    line-height: 20px;
  }
}
