#photographer-places p,
#photographer-places h3 {
  margin: 0;
}

#photographer-places .place {
  border: 1px solid #d8dce1;
  border-radius: 3px;
  padding: 7px 30px 7px 7px;
  overflow: hidden;
  margin-bottom: 25px;
}

#photographer-places .place .place-description > div,
#photographer-places .place > div {
  float: left;
}

#photographer-places .place .image {
  width: 125px;
}

#photographer-places .place .image img {
  width: 100%;
  cursor: pointer;
}

#photographer-places .place .place-description {
  width: calc(100% - 520px);
  margin: 43px 0 0 100px;
}

#photographer-places .place-description > div {
  text-align: center;
}

.paddingTop {
  padding-top: 20px;
}

#photographer-places .place-description .family {
  width: 33%;
  min-height: 1px;
  text-align: left;
}

#photographer-places .place-description .family > span {
  font-size: 16px;
  color: #767d86;
  margin-top: -2px;
  display: block;
  font-family: 'Font Light', sans-serif;
}

#photographer-places .place-description .family h3 {
  font-size: 24px;
  font-family: 'Font Light', sans-serif;
  line-height: 20px;
  word-break: break-all;
}

#photographer-places .place-description .family h3 span {
  display: none;
}

#photographer-places .country-income {
  overflow: hidden;
  width: 66%;
}

#photographer-places .place-description .place-country {
  font-size: 24px;
  margin-top: 13px;
  width: 50%;
  float: left;
  font-family: 'Font Light', sans-serif;
  text-align: left;
  padding-left: 50px;
}

#photographer-places .place-description .place-country p {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 7px;
}

#photographer-places .place-description .place-country img {
  width: 19px;
  float: left;
  margin-right: 7px;
}

#photographer-places .place-description .place-country span {
  display: inline-block;
  float: left;
  width: calc(100% - 26px);
  vertical-align: top;
  line-height: 20px;
  margin-bottom:7px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 91px;
  left: 0;
  right: 0;
}

#photographer-places .place-description .income {
  font-size: 24px;
  font-family: 'Font Light', sans-serif;
  line-height: 20px;
  width: 50%;
  float: right;
  margin-top: 20px;
}

#photographer-places .link {
  margin-top: 42px;
  float: right !important;
}

@media (max-width: 1399px) {
  #photographer-places .place .place-description {
    width: calc(100% - 380px);
    margin: 43px 0 0 18px;
  }
}

@media (max-width: 1199px) {
  #photographer-places .place-description .family h3 {
    font-size: 22px;
  }

  #photographer-places .place-description .place-country {
    padding-left: 15px;
  }
}

@media (max-width: 1023px) {
  #photographer-places {
    padding: 0 10px;
  }

  #photographer-places .place {
    padding: 7px 17px 7px 7px;
  }

  #photographer-places .family {
    width: 50% !important;
  }

  #photographer-places .place .place-description {
    width: calc(100% - 467px);
    margin: 37px 0 0 58px;
  }

  #photographer-places .place-description .family > span {
    margin-left:-15px;
  }

  #photographer-places .place {
    margin-bottom: 20px;
  }

  #photographer-places .country-income {
    width: 50% !important;
    margin-top: -6px;
    overflow: visible;
    margin-left: 25px;
  }

  #photographer-places .country-income .income {
    text-align: left;
    margin-top: 1px !important;
  }

  #photographer-places .country-income .place-country {
    padding: 0;
  }

  #photographer-places .country-income .income span,
  #photographer-places .country-income .place-country span {
    font-size: 22px;
  }

  #photographer-places .link {
    margin-top: 45px;
  }

  #photographer-places .country-income > div {
    width: 100% !important;
    margin: 0 !important;
  }

  #photographer-places .place-description .family {
    margin-left:-25px;
  }

  #photographer-places .place-description .family h3 {
    margin-top: 4px;
    margin-left: -15px;
    word-break: normal;

  }

  #photographer-places .place-description .place-country img {
    margin: 0 4px 0 -4px;
  }
}

@media (max-width: 599px) {
  #photographer-places {
    padding: 0 5px;
  }

  #photographer-places .place {
    padding: 5px;
    width: calc(50% - 5px);
    margin: 0 0 10px 10px;
    float: left;
  }

  #photographer-places .place:nth-child(2n + 1) {
    margin-left: 0;
  }

  #photographer-places .country {
    overflow: hidden;
  }

  #photographer-places .place .link,
  #photographer-places .place .link a,
  #photographer-places .place .place-description,
  #photographer-places .place .image {
    width: 100%;
  }

  #photographer-places .place .image {
    padding-top: 100%;
    line-height: 0;
  }

  #photographer-places .place .image img {
    margin-top: -100%;
  }

  #photographer-places .place .place-description > div,
  #photographer-places .place .place-description {
    margin: 0;
  }

  #photographer-places .place .place-description {
    margin-top: 5px;
    min-height: 45px;
    position: relative;
  }



  #photographer-places .place .place-description .family {
    min-height: 20px;
    margin-left: 0;
  }

  #photographer-places .place-description .family h3 {
    margin-top: 0;
    margin-left: 0
  }

  #photographer-places .place .place-description .country-income,
  #photographer-places .place .place-description .family {
    width: calc(100% - 80px) !important;
    text-align: left;
    float: none;
  }

  #photographer-places .place .place-description .place-country p span,
  #photographer-places .place .place-description .family h3 {
    font-size: 16px;
  }

  #photographer-places .place-description .place-country img {
    width: 14px;
    margin: -5px 0 0;
    float: none;
  }

  #photographer-places .place-description .place-country span {
    line-height: 1.42857143;
  }

  #photographer-places .place .place-description .income {
    width: 80px !important;
    font-size: 22px !important;
    line-height: 22px;
    text-align: right;
    position: absolute;
    top: 8px;
    right: 0;
    margin: 0 !important;
  }

  #photographer-places .place .place-description .income span {
    font-size: 22px !important;
    line-height: 22px;
  }

  #photographer-places .place .link {
    margin-top: 5px;
  }

  #photographer-places .place .link a {
    font-size: 14px;
  }

  #photographer-places .place .place-country {
    font-size: 16px !important;
  }

  #photographer-places .link a {
    padding: 6px 0;
  }

  #photographer-places .place .place-description .family h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  #photographer-places .country-income .place-country span {
    width: calc(100% - 20px);
    display: block;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #photographer-places .place-description .family > span {
    display: none;
  }

  #photographer-places .place-description .family h3 span {
    display: inline;
  }

  #photographer-places .place-description .place-country p {
    margin: 0;
  }
}

@media (max-width: 320px) {
  #photographer-places .place .place-description .country-income,
  #photographer-places .place .place-description .family {
    width: 100% !important;
    text-align: left;
    float: none;
  }

  #photographer-places .place .place-description .family {
    min-height: 17px;
  }

  #photographer-places .place .place-description .income {
    position: static;
    width: 100% !important;
    margin-top: 10px !important;
    text-align: left;
  }
}
