.main {
  padding-top: 100px;
}

.matrix-header {
  z-index: 9995;
}

.matrix-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.matrix-header {
  background-color: #fff;
}

.matrix-header .street-box svg {
  position: relative;
  top: -11px;
  width: 100%;
  height: 61px;
  z-index: 9;
}

.photographer {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 20px;
  cursor: pointer;
}

.photographer:hover {
  font-weight: bold;
}

footer {
  position: relative;
}

.about-data-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.about-data-container.open {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 9999;
  text-align: center;
}

.about-data-container .about-data-content {
  width: 450px;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  max-height: 95%;
  text-align: left;
  padding-bottom: 20px;
}

.about-data-container .about-data-content .about-data-header {
  border-bottom: 1px solid #dddfe2;
  position: relative;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.about-data-container .about-data-content h3 {
  font-size: 20px;
  margin: 0;
}

.about-data-container .about-data-content span {
  position: absolute;
  top: 14px;
  right: 15px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #dde4ef;
  color: #5f6a74;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.about-data-container.open .about-data-content span {
  display: block;
}

.about-data-container .about-data-body {
  padding: 0 15px;
  overflow-y: auto;
}

.about-data-container .about-data-body p {
  color: #5f6a74;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

.about-data-container .about-data-body p:first-child {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .about-data-container .about-data-content {
    width: 95%;
  }

  .about-data-container .about-data-body p {
    font-size: 14px;
    line-height: 20px;
  }
}
