<div class="matrix-header main-header place-header">
  <header [query]="query" *ngIf="isHover"
          [chosenPlaces]="chosenPlaces"
          (filter)="urlChanged($event)"></header>

  <street [places]="streetPlaces"
          [thing]="thing"
          [controllSlider]="controllSlider"
          [chosenPlaces]="chosenPlaces"></street>
</div>

<div class="main">
  <slider-place (currentPlace)="choseCurrentPlace($event)"
                (isShowAboutData)="isShowAboutData($event)"
                [controllSlider]="controllSlider"
                [activeThing]="activeThing"
                [places]="sliderPlaces"></slider-place>
  <span class="custom-button"
        *ngIf="!isShowImagesFamily && !isDesktop"
        (click)="isShowImagesFamily = !isShowImagesFamily">
    See all images
  </span>

  <family-place [hidden]="!isShowImagesFamily" [chosenPlaces]="chosenPlaces"></family-place>

  <p class="photographer" [routerLink]="['Photographer', {id: currentPlace.photographer._id}]"
     *ngIf="currentPlace.photographer">Photographer: {{currentPlace.photographer.fullName}}</p>

  <footer></footer>

  <loader [hidden]="loader"></loader>
</div>

<div class="about-data-container closeMenu"
     [style.lineHeight.px]="windowHeight"
     *ngIf="showAboutData"
     (click)="closeAboutDataPopUp($event)">
  <div class="about-data-content">
    <div class="about-data-header">
      <h3>About the data</h3>
      <span class="closeMenu">x</span>
    </div>

    <div class="about-data-body" [style.maxHeight.px]="maxHeightPopUp">
      <p>{{commonAboutData.description}}</p>

      <p>{{currentPlace.aboutData}}</p>
    </div>
  </div>
</div>
