<div class="matrix-header">
  <header [query]="query"
          (mouseenter)="isHover && isHover()"
          [chosenPlaces]="chosenPlaces"
          (filter)="urlChanged($event)"></header>

  <street [places]="streetPlaces"
          [thing]="thing"
          [controllSlider]="controllSlider"
          [chosenPlaces]="chosenPlaces"
          [hoverPlace]="hoverPlace"
          [hoverHeader]="hoverHeader"></street>
</div>

<div class="main">
  <slider-place (currentPlace)="choseCurrentPlace($event)"
                [controllSlider]="controllSlider"
                [activeThing]="activeThing"
                [places]="sliderPlaces"></slider-place>

  <span class="showContentForMobile"
        *ngIf="!isShowImagesFamily && !isDesktop"
        (click)="isShowImagesFamily = !isShowImagesFamily">
    See all images
  </span>

  <family-place [hidden]="!isShowImagesFamily" [chosenPlaces]="chosenPlaces"></family-place>

  <p class="photographer" [routerLink]="['Photographer', {id: currentPlace.photographer._id}]"
     *ngIf="currentPlace.photographer">Photographer: {{currentPlace.photographer.fullName}}</p>

  <footer></footer>

  <loader [hidden]="loader"></loader>
</div>

