<div class="matrix-header">
  <header [query]="query"
          (mouseenter)="isHover && isHover()"
          (filter)="urlChanged($event)"></header>

  <street [places]="streetPlaces" [thing]="thing" [controllSlider]="controllSlider"
          [chosenPlaces]="chosenPlaces"
          [hoverPlace]="hoverPlace"
          [hoverHeader]="hoverHeader"></street>
</div>

<div class="main">
  <slider-place (currentPlace)="choseCurrentPlace($event)" [controllSlider]="controllSlider" [places]="streetPlaces">

  </slider-place>
  <family-place></family-place>
  <footer></footer>
</div>
