<div class="pages-container" footerSpace>
  <div class="map-header main-header" (click)="closeLeftSideBar($event)">
    <div class="container">
      <header [query]="query" (filter)="urlChanged($event)"></header>
    </div>
  </div>

  <div id="places">
    <div class="container">
      <div class="row">
        <div class="col-md-12 places_header">
          <div class="col-md-12 col-sm-12 mapBox">
            <div class="mapBoxContainer" (click)="closeLeftSideBar($event)">
              <img class="map-color" src="/assets/img/original-map.svg" alt="">
              <img class="marker"
                   src="/assets/img/dark-marker.svg"
                   alt="marker"
                   *ngFor="let place of places; let i = index"
                   [style.left.px]="place.left"
                   [style.top.px]="place.top"
                   (mouseenter)="hoverOnMarker(i, place.country)"
                   (mouseleave)="unHoverOnMarker($event)"
                   (click)="isDesktop ? clickOnMarker($event, i, place.country) : mobileClickOnMarker(place.country)">
              <div class="hover_portrait"
                   [hidden]="!hoverPlace"
                   [ngClass]="shadowClass"
                   [style.top.px]="hoverPortraitTop"
                   [style.left.px]="hoverPortraitLeft"
                   (mouseenter)="thumbHover()"
                   (mouseleave)="unHoverOnMarker($event)">
                <div class="hover_portrait_box">
                  <img [src]="hoverPlace ? hoverPlace.familyImg.background : ''" alt="">

                  <div class="hover_portrait_description" *ngIf="hoverPlace">
                    <div class="pull-left info">
                      <span class="name line-clamp line-clamp-1">{{hoverPlace.family}} {{hoverPlace.family ? 'family' : ''}}</span>
                      <span class="country line-clamp line-clamp-1">{{hoverPlace.country}}</span>
                    </div>

                    <div class="pull-right">
                      <span class="income">{{math.round(hoverPlace.income)}}$</span>
                    </div>
                    <div class="see-all" *ngIf="seeAllHomes" (click)="openLeftSideBar()">
                      <span class="see-all-span">See all {{lefSideCountries.length}} Families »</span>
                    </div>
                  </div>
                </div>

                <div class="hover_portrait_arrow" *ngIf="!leftArrowTop"></div>
                <div class="hover_portrait_arrow_left" *ngIf="leftArrowTop" [style.top.px]="leftArrowTop"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row countries-list">
        <div class="country" *ngFor="let list of countries; let i = index">
          <span class="country-letter">{{list.letter}}</span>
          <ul class="countries">
            <li *ngFor="let country of list.countries">
            <span class="country-name"
                  [routerLink]="['Country', {id: country._id}]">{{country.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="left-side-info" [ngClass]="{open: isOpenLeftSide}">
      <div class="header">
        <p *ngIf="lefSideCountries && lefSideCountries.length">{{lefSideCountries.length}} houses in
          {{currentCountry}}</p>
        <span (click)="closeLeftSideBar($event)">x</span>
      </div>

      <div class="info-box-container">
        <div class="info-box"
             *ngFor="let place of lefSideCountries"
             [routerLink]="['Home', {place: place._id}]">
          <div class="family-photo" [ngStyle]="{'background-image': toUrl(place.familyImg.background)}"></div>

          <div class="hover_portrait_description">
            <div class="pull-left">
              <span class="name" *ngIf="place.family">{{place.family}} family</span>
              <span class="country" *ngIf="currentCountry">{{currentCountry}}</span>
            </div>

            <div class="pull-right">
              <span class="income">{{math.round(place.income)}}$</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <loader [hidden]="loader"></loader>
  </div>
</div>

<footer></footer>
