<div class="map-header" (click)="closeLeftSideBar($event)">
  <div class="container">
    <header [query]="query"
            (filter)="urlChanged($event)"></header>
  </div>
</div>

<div id="places" (click)="closeLeftSideBar($event)">
  <div class="container">
    <div class="row">
      <div class="col-md-12 places_header">
        <div class="col-md-12 mapBox">
          <div class="mapBoxConteiner">
            <img class="map-color" src="/app/assets/img/mapa-index.png" alt="">
            <img class="marker"
                 src="/app/assets/img/marker.png" alt="marker"
                 *ngFor="#place of places; #i = index"
                 [style.left.px]="place.left"
                 [style.top.px]="place.top"
                 (mouseenter)="hoverOnMarker(i, place.country)"
                 (mouseleave)="unHoverOnMarker($event)"
                 (click)="clickOnMarker($event, i, place.country)"
            >
            <div class="hover_portrait" [hidden]="!hoverPlace" [ngClass]="shadowClass"
                 [style.top.px]="hoverPortraitTop"
                 [style.left.px]="hoverPortraitLeft"
                 (mouseenter)="thumbHover()"
                 (mouseleave)="unHoverOnMarker($event)">
              <div class="hover_portrait_box">
                <img [src]="hoverPlace ? hoverPlace.familyImg.background : ''" alt="">

                <div class="hover_portrait_description" *ngIf="hoverPlace">
                  <div class="pull-left info">
                    <span class="name">{{hoverPlace.family}} {{hoverPlace.family?'family':''}}</span>
                    <span class="country">{{hoverPlace.country}}</span>
                  </div>

                  <div class="pull-right">
                    <span class="income">{{hoverPlace.income}}$</span>
                  </div>
                  <div class="see-all" *ngIf="seeAllHomes" (click)="openLeftSideBar(hoverPlace.country)">
                    <span class="see-all-span">See All Famlies >></span>
                  </div>
                </div>
              </div>

              <div class="hover_portrait_arrow" *ngIf="!leftArrowTop"></div>
              <div class="hover_portrait_arrow_left" *ngIf="leftArrowTop" [style.top.px]="leftArrowTop"></div>
            </div>
          </div>
        </div>

        <div *ngFor="#country of countries; #i = index">
          <span class="col-md-2 country-name">{{country}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="left-side-info" [ngStyle]="{left: lefSideLeft, opacity: lefSideOpacity}">
    <div class="header" [ngStyle]="{left: lefSideLeft, opacity: lefSideOpacity}">
      <p *ngIf="lefSideCountries&&lefSideCountries.length">{{lefSideCountries.length}} houses in {{currentCountry}}</p>
      <span (click)="closeLeftSideBar($event)">x</span>
    </div>

    <div class="info-box" *ngFor="#place of lefSideCountries"
         [routerLink]="['Place', {thing: place.familyImg.thing, place: place._id, image: place.familyImg.imageId}]">
      <div class="family-photo" [ngStyle]="{'background-image':toUrl(place.familyImg.background)}" alt=""></div>

      <div class="hover_portrait_description">
        <div class="pull-left">
          <span class="name">{{place.family}}s</span>
        </div>

        <div class="pull-right">
          <span class="income">{{place.income}}$</span>
        </div>
      </div>
    </div>
  </div>

  <loader [hidden]="loader"></loader>
</div>
