<div id="things">
  <div class="container">
    <div class="row">
      <div class="col-md-12 things_header">
        <h2>Things</h2>
        <p>
          Describe why, who, where, future, participate under this section. Text and illustrations. Some general
          description that explains how you think. Three main cases to understand compare within countries on different
          income and between countries on same income. explain here how to think of it. Also describe the street more in
          detail here.
        </p>
      </div>

      <div class="col-md-12 things_content">
        <div class="thing"
             *ngFor="#thing of things"
             [routerLink]="['Matrix', {thing: thing._id,countries:'World',regions:'World',zoom:5,row:1}]"
             [angulartics2On]="'click'"
             [angularticsEvent]="'go to matrix page from main (click on thing)'">
          <div class="thing_wrapper">
            <div class="image_container">
              <img *ngIf="thing.icon" class="thing-icon"
                   [src]="thing.thingUrl" alt=""/>
              <img *ngIf="thing.icon" class="thing-icon"
                   [src]="thing.thingUrlHovered" alt=""/>
            </div>

            <p>{{thing.thingName}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
