<div #viewImageBlockContainer
     class="view-image-block-container zoom-{{privateZoom}}"
     *ngIf="showblock && isDesktop">
  <div class="active-house" [style.left.px]="markerPositionLeft"></div>
  <div class="view-image-block-content">
    <div class="view-image-container">
      <img (click)="openPopUp()"
           [src]="viewImage">
    </div>

    <div class="house-info-container">
      <div class="house-info-content">
        <div class="header-container">$ {{math.round(place.income)}}<span>/{{ 'MONTH' | translate }}</span></div>

        <div class="home-description-container">
          <h3>
            <span *ngIf="familyData?.familyName">{{familyData?.familyName}}<span *ngIf="currentLanguage == 'en'"> {{ 'FAMILY' | translate }}</span>,</span>

            <span style="cursor:pointer"
                  [routerLink]="['/country', familyData?.country?._id]"
                  [queryParams]="{}"
                  angulartics2On="click"
                  angularticsEvent="From Matrix page to {{familyData?.country?.country}} page ">{{familyData?.country?.alias || familyData?.country?.country}}</span>
          </h3>

          <div class="images-container"
               *ngIf="familyData.goToPlaceData">
            <div class="image-content"
                 *ngIf="familyData?.familyImage"
                 [routerLink]="['/family']"
                 [queryParams]="familyData.goToPlaceData"
                 angulartics2On="click"
                 angularticsEvent="From Matrix page to {{familyData.familyName}} family place page">
              <img [src]="familyData.familyImage.url" alt="Family portrait">
            </div>

            <div class="image-content"
                 *ngIf="familyData?.houseImage"
                 [routerLink]="['/family']"
                 [queryParams]="familyData.goToPlaceData"
                 angulartics2On="click"
                 angularticsEvent="From Matrix page to {{familyData.familyName}} family place page">
              <img [src]="familyData.houseImage.url" alt="House photo">
            </div>
          </div>

          <p *ngIf="familyData?.description">{{familyData.description}}</p>

          <div *ngIf="showTranslateMe" class="translate-me-desktop">
            <translate-me></translate-me>
          </div>

          <a *ngIf="familyData.goToPlaceData"
             [routerLink]="['/family']"
             [queryParams]="familyData.goToPlaceData"
             angulartics2On="click"
             angularticsEvent="From Matrix page to {{familyData.familyName}} family place page">{{ 'VISIT_THIS_HOME' | translate }} <img
            src="/assets/img/arrow-right-icon.svg" alt=""><img src="/assets/img/arrow-right-icon-white.svg" alt=""></a>

          <a *ngIf="isShowCountryButton"
             (click)="goToMatrixByCountry(familyData.country.originName)">
            <span>{{ 'ALL' | translate }} {{familyData?.activeThing?.plural.toLowerCase()}}</span>
            <span>{{ 'IN' | translate }}</span>
            <span>{{countryName}}</span>
            <img src="/assets/img/arrow-right-icon.svg" alt="">
            <img src="/assets/img/arrow-right-icon-white.svg" alt="">
          </a>
        </div>

        <div class="map-container">
          <region-map [routerLink]="['/country', familyData?.country?._id]"
                      [queryParams]="{}"
                      [mapData]="mapData"
                      angulartics2On="click"
                      angularticsEvent="From Matrix page to {{familyData.country?.alias}} page"></region-map>
        </div>
      </div>

      <div class="close-container">
        <img src="/assets/img/close-button.svg" alt="" (click)="closeBlock()">
      </div>
    </div>
  </div>

  <div class="view-image-block-footer-container">
    <div class="photographer-container">
      <p><img src="/assets/img/cc-icon-small.svg">
        {{ 'PHOTO' | translate }}: <a *ngIf="familyData?.photographer?.id"
                  [routerLink]="['/photographer', familyData.photographer.id]"
                  [queryParams]="{}"
                  angulartics2On="click"
                  angularticsEvent="From Matrix page to {{familyData.photographer.name}} Photographer profile">
          {{familyData.photographer?.name}}</a> {{ 'FOR' | translate }} Dollar Street <a
          href="https://creativecommons.org/licenses/by/4.0/" target="_blank">(CC BY 4.0)</a>
      </p>
    </div>

    <div class="zoom-download-container">
      <a class="download" target="_blank" [href]="consumerApi + '/v1/download-image/' + place.image">
        <img src="/assets/img/download-icon.svg" alt=""><span class="button-text">{{ 'DOWNLOAD' | translate }}</span>
      </a>

      <span (click)="openPopUp()">
        <img src="/assets/img/fullsize-icon.svg" alt=""><span class="button-text">{{ 'FULLSIZE' | translate }}</span>
      </span>
    </div>
  </div>

  <div class="isLoad" [hidden]="loader">
    <div class="la-ball-spin la-dark la-2x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div #mobileViewImageBlockContainer class="mobile-view-image-block-container zoom-{{privateZoom}}" *ngIf="showblock && !isDesktop">
  <div class="active-house" [style.left.px]="markerPositionLeft"></div>

  <div class="view-image-container">
    <img (click)="openPopUp()" [src]="place.background">
    <div class="close-box-container" (click)="closeBlock()">
      <img class="close-box" src="/assets/img/close-button-mobile.svg" alt="x">
    </div>

    <div class="view-image-block-footer-container">
      <div class="photographer-container">
        <p><img src="/assets/img/cc-icon-small-white.svg">
          {{ 'PHOTO' | translate }}: <a *ngIf="familyData?.photographer?.id"
                    [routerLink]="['/photographer', familyData.photographer.id]"
                    [queryParams]="{}"
                    angulartics2On="click"
                    angularticsEvent="From Matrix page to {{familyData.photographer.name}} Photographer profile">
            {{familyData.photographer?.name}}</a> <span class="tablet">
            {{ 'FOR' | translate }} Dollar Street <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">(CC BY 4.0)</a>
          </span>
          <span class="mobile"><a href="https://creativecommons.org/licenses/by/4.0/"
                                  target="_blank">CC BY 4.0</a></span>
        </p>
      </div>

      <div class="download-container">
        <a target="_blank" [href]="consumerApi + '/v1/download-image/' + place.image">
          <img src="/assets/img/download-icon-white.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="house-info-container">
    <div class="header-container">
      <div class="title-container">
        <h3>
          <span
            *ngIf="familyData?.familyName && familyData?.familyName !== ''">{{familyData?.familyName}} <span *ngIf="currentLanguage == 'en'">{{ 'FAMILY' | translate }}</span>,</span>
          <span
            [routerLink]="['/country', familyData?.country?._id]"
            [queryParams]="{}"
            angulartics2On="click"
            angularticsEvent="From Matrix page to {{familyData?.country?.alias}} page">{{familyData?.country?.alias || familyData?.country?.country}}</span>
        </h3>
      </div>

      <div class="income-container">$ {{math.round(place.income)}}<span>/{{ 'MONTH' | translate }}</span></div>
    </div>

    <div class="home-description-container">
      <p *ngIf="familyData?.familyData">
        {{familyData.familyData}}
      </p>
      <div *ngIf="showTranslateMe" class="translate-me-mobile">
        <translate-me></translate-me>
      </div>
      <a *ngIf="familyData.goToPlaceData"
         [routerLink]="['/family']"
         [queryParams]="familyData.goToPlaceData"
         angulartics2On="click"
         angularticsEvent="From Matrix page to {{familyData.familyName}} family place page">{{ 'VISIT_THIS_HOME' | translate }} <img
        src="/assets/img/arrow-right-icon.svg" alt=""><img src="/assets/img/arrow-right-icon-white.svg" alt=""></a>

      <a class="link-to-page"
         *ngIf="isShowCountryButton"
         (click)="goToMatrixByCountry(familyData.country.originName)">
        <span>{{ 'ALL' | translate }} {{familyData?.activeThing?.plural.toLowerCase()}}</span>
        <span>{{ 'IN' | translate }}</span>
        <span>{{countryName}}</span>
        <img src="/assets/img/arrow-right-icon.svg" alt="">
        <img src="/assets/img/arrow-right-icon-white.svg" alt="">
      </a>
    </div>
  </div>

  <div class="isLoad" [hidden]="loader">
    <div class="la-ball-spin la-dark la-2x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div class="fancyBox-container" *ngIf="popIsOpen" (click)="fancyBoxClose()">
  <div class="fancyBox-image" [hidden]="!fancyBoxImage" [ngStyle]="{'background-image': fancyBoxImage}"></div>

  <div class="load" [hidden]="fancyBoxImage">
    <div class="la-ball-spin la-dark la-2x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
