ul#sitemap {
  margin: 120px 0 0;
  padding: 0;
  list-style: none;
}

ul#sitemap ul {
  padding-left: 1em;
  list-style: none;
}

ul#sitemap li {
  border-bottom: 2px solid #fff;
  font-size: 20px;
}

ul#sitemap li a:link, ul#sitemap li a:visited {
  background-color: #ccc;
  display: block;
  padding: 0.4em;
  text-decoration: none;
  color: #057FAC;
}

ul#sitemap li a:hover {
  background-color: #999;
  color: #fff;
}

ul#sitemap li li a:link, ul#sitemap li li a:visited {
  background-color: #fff;
  display: block;
  padding: 0.4em;
}

ul#sitemap li li a:hover {
  background-color: #fff;
  color: #057fac;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .sitemap {
    padding-bottom: 250px;
  }
}

@media (max-width: 767px) {
  .sitemap {
    padding-bottom: 350px;
  }
}
