.image-block {
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
  width: 100%;
  display: block;
  clear: both;
  background-color: #ecf0f6;
}

.backgr-col-wh {
  background-color: white;
}

.f-h {
  height: 100%;
}

.text-c {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.bg-c-bl {
  background-color: black;
}

.bold-text {
  font-size: 30px;
  font-weight: 600;
}

.mini-matrix-container {
  width:100%;
  margin: -40px 0 5px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.mini-matrix {
  width:20%;
  float: left;
}

.mini-matrix-link {
  width:40%;
  float: left;
  background-color: #dedee1;
}

.full-width {
  width:100%;
}

.color-grey {
  color: darkgrey;
  font-size: 16px;
}

.color-grey.link {
  text-decoration: underline;
}

.close-button {
  background: url("http://2.bp.blogspot.com/-ZBOpbXR_WF4/U2hVGfkRmPI/AAAAAAAAAdQ/EsnudlMokFE/s1600/S5-Multi-Window-Close.png") no-repeat center center;
  cursor: pointer;
  height: 30px;
  right: 10px;
  top: 10px;
  width: 30px;
  z-index: 2;
}

.cursor {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.Africa {
  color: #15b0d1;
}

.America {
  color: #b1e826;
}

.Asia {
  color: #f23373;
}

.Europe {
  color: #ffe800;
}

place-map {
  display: block;
  clear: both;
}


.fancyBox-container {
  position: fixed !important;
  background-color: rgba(0, 0, 0, .7);
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.fancyBox-container,
.fancyBox-container .load,
.fancyBox-container .load-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fancyBox-container .load {
  width: 65px;
  height: 65px;
  margin: auto;
}

.fancyBox-container .fancyBox-image {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.disp-none {
  display: none;
}

.bg-c-bl:hover .disp-none {
  display: block;
}

.position-absolute {
  position: relative;
}

.position-relative {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.back-light {
  background-color: grey;
  opacity: .6;
}

.back-with-opacity {
  background-color: rgba(0, 0, 0, 1.7);
}

.icon-bottom-image {
  width:32px;
margin: 5px;
}

.overflow-hidden {
  overflow: hidden;
}

.line-height-1 {
  line-height: 1;
  display: inline-block;
  text-align: left;
}

.display-block {
  display: block;
}

.image-options .col-md-4 p {
display: inline-block;
  vertical-align: middle;
}

.filter-links {
  border: solid;
  text-align: justify;
  margin: 2px;
  width: 100%;
}

.filter-links-noborders {
  text-align: justify;
  margin: 2px;
  width: 100%;
}

.things-counter {
  font-weight: bold;
  margin-right: 5px;
}

.things-counter-container {
  width:100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
