.main-naw-wrap {
  width: 100%;
  border-bottom: 1px solid #ffce00;
}

.about-data-container {
  position: fixed;
  top: 0;
  left: 0;
}

.about-data-container.open {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.about-data-container .about-data-content {
  width: 450px;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  max-height: 95%;
  text-align: left;
  padding-bottom: 20px;
}

.about-data-container .about-data-content .about-data-header {
  border-bottom: 1px solid #dddfe2;
  position: relative;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.about-data-container .about-data-content h3 {
  font-size: 20px;
  margin: 0;
}

.about-data-container .about-data-content span {
  position: absolute;
  top: 14px;
  right: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #dde4ef;
  color: #5f6a74;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.about-data-container.open .about-data-content span {
  display: block;
}

.about-data-container .about-data-body {
  padding: 0 15px;
  overflow-y: auto;
}

.about-data-container .about-data-body p {
  color: #5f6a74;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  text-align: justify;
}

.about-data-container .about-data-body p + p {
  margin-top: 20px;
}

.close-button {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  right: 6px;
}

.donate-header {
  padding-top: 40px;
  padding-bottom: 30px;
  min-height: 224px;
}

.donate-header .donate-heading {
  font-family: 'Font Light', sans-serif;
}

.container {
  display: block;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  clear: both;
}

.flex-row.heading-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row.donate-money {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  padding-right: 40px;
  padding-left: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 85%;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

.donate-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
}

.donate-text {
  font-size: 20px;
  line-height: 30px;
}

.donate-section {
  padding-top: 40px;
}

.flex-col-donate {
  display: flex;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  text-align: center;
}

/*.donate-opt-img {
  display: flex;
  min-height: 255px;
  margin-bottom: 25px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4fafc;
}*/

.opt-name {
  margin-bottom: 12px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.opt-desc {
  margin-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  color: #767d86;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 325px;
}

.cost {
  margin-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  color: #374551;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.donate-btn {
  display: inline-block;
  max-width: 100%;
  min-width: 162px;
  padding: 14px 25px;
  border-radius: 5px;
  background-color: #ffce00;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #374551;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.donate-btn:hover {
  background-color: #f4c605;
}

.donate-col-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cost-wrap {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-wrapper {
  margin-bottom: 0px;
}

.custom-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  max-height: 44px;
  min-height: 44px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  color: #374551;
  font-size: 22px;
  line-height: 22px;
  text-align: left;
}

.custom-input:focus {
  border: 1px solid #ffce00;
}

.input-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 162px;
  margin-bottom: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dollar-symbhol {
  margin-right: 6px;
  color: #374551;
  font-size: 32px;
  line-height: 30px;
}

.w-embed {
  position: relative;
}

.add-amount {
  position: absolute;
  width: 138px;
  left: 0;
  height: 44px;
  font-size: 18px;
  padding-top: 8px;
  color: #767d86;
}

@media (max-width: 991px) {
  .main-nav {
    max-height: 56px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .logo {
    width: 42px;
    height: 42px;
    margin-right: 14px;
  }
  .page-name {
    font-size: 24px;
  }
  .donate-header {
    padding-bottom: 0px;
  }
  .flex-row.heading-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .description {
    padding-right: 10px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .donate-text {
    margin-bottom: 25px;
  }
  .flex-col-donate {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .footer-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .copyright {
    display: none;
    margin-top: 0px;
  }
  .footer-social {
    display: none;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .donate-heading {
    margin-bottom: 5px;
    font-size: 30px;
  }
  .donate-text {
    font-size: 16px;
    line-height: 24px;
  }
  /*.donate-opt-img {
    min-height: 200px;
    margin-bottom: 15px;
  }*/
  .opt-name {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 20px;
  }
  .opt-desc {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 479px) {
  .donate-heading {
    font-size: 24px;
    line-height: 34px;
  }
  .flex-col-donate {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .cost {
    font-size: 28px;
    line-height: 28px;
  }
  .custom-input {
    font-size: 20px;
    line-height: 20px;
  }
}
