.photographer-container {
  margin-top: 66px;
  padding-top: 61px;
  padding-bottom: 70px;
}

@media (max-width: 1023px) {
  .photographer-container {
    padding-top: 57px;
    padding-bottom: 35px;
  }

  .photographer-container.row {
    margin: 0;
  }

  .photographer-container.row > div {
    float: none;
    width: 100%;
    padding: 0;
  }
}
