.photographer-container {
  padding-top: 20px;
  margin-top: 66px;
}

@media (max-width: 1023px) {
  .photographer-container {

  }

  .photographer-container.row {
    margin: 0;
  }

  .photographer-container.row > div {
    float: none;
    width: 100%;
    padding: 0;
  }
}
