.header-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: white;
}

.header-content .icon-container {
  position: relative;
  z-index: 500;
}

.header-content .icon-container img {
  width: 42px;
  height: 42px;
  margin: 5px 10px;
  cursor: pointer;
}

.header-content .icon-container span {
  color: #303e4b;
  font-size: 18px;
  vertical-align: middle;
}

.header-content search {
  width: calc(100% - 190px)
}

place-map {
  width: 71px;
  display: block;
  float: left;
  margin-top: 5px;
}

place-map[hidden] {
  display: none;
}

@media (max-width: 1023px) {
  .header-content .icon-container img {
    width: 42px;
    height: 42px;
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .header-content .icon-container img {
    width: 32px;
    height: 32px;
    margin: 5px;
  }

  .header-content search {
    width: calc(100% - 127px);
  }

  place-map {
    width: 54px;
    margin-top: 7px;
  }
}
