<div class="header-content">
  <div class="icon-container pull-left">
    <a href="/main"><img src="/app/assets/img/dollar-street.svg" alt=""/></a>
  </div>

  <search class="pull-left"
          [url]="query"
          [defaultThing]="defaultThing"
          (selectedFilter)="urlTransfer($event)"
          [chosenPlaces]="chosenPlaces"
          (selectedThing)="activeThingTransfer($event)"></search>

  <main-menu class="pull-right" [activeThing]="activeThing" [defaultThing]="defaultThing"></main-menu>
</div>
