.header-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: white;
}

.header-content .icon-container {
  position: relative;
  z-index: 500;
}

.header-content .icon-container img {
  width: 42px;
  height: 42px;
  margin: 5px 10px;
  cursor: pointer;
}

.header-content .icon-container span {
  color: #303e4b;
  font-size: 18px;
  vertical-align: middle;
}

place-map {
  width: 71px;
  display: block;
  float: left;
  margin-top: 5px;
}

place-map[hidden] {
  display: none;
}

.matrix-icon {
  width: 37px;
  margin-top: 6px;
  margin-left: 30px;
  float: left;
}

.matrix-icon img {
  width: 100%;
}

.filters-container {
  float: left;
  margin-top: 11px;
  width: calc(100% - 180px);
}

.filters-container things-filter,
.filters-container .some-filter-container > * {
  display: inline-block;
  vertical-align: middle;
}

.filters-container .some-filter-container > span {
  margin: 0 10px;
  font-size: 18px;
}

.some-filter-container {
  display: inline-block;
}

.place-title {
  margin-top: -6px;
  margin-right: 10px;
}

.place-title .icon {
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #ecf0f6;
  width: 42px;
  height: 42px;
  margin: 0 10px 0 5px !important;
}

.place-title p {
  line-height: 26px;
  font-size: 26px;
  margin: 7px 0 0;
}

@media (max-width: 1023px) {
  .header-content .icon-container img {
    width: 42px;
    height: 42px;
    margin: 9px 8px 0;
  }
}

@media (max-width: 600px) {
  .header-content .icon-container img {
    width: 32px;
    height: 32px;
    margin: 5px;
  }

  place-map {
    width: 54px;
    margin-top: 7px;
  }

  .matrix-icon {
    width: 25px;
    margin-left: 25px !important;
  }
}
