<div class="header-content">
  <div class="icon-container pull-left">
    <img src="/app/assets/img/dollar-street.svg" alt=""/>
  </div>

  <search class="pull-left"
                 next-places="nextPlaces"
                 place="place"
                 locations="locations"
                 current-things="things"
                 things-countries="thingsCountries"
                 things-regions="thingsRegions"
                 select-thing="selectThing">
  </search>

  <main-menu class="pull-right" [thing]="thing"></main-menu>
</div>
