.container {
  padding-top: 120px;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 57px 0 0;
  }

  .container .row {
    margin: 0;
  }

  .container .row > div {
    float: none;
    width: 100%;
    padding: 0;
  }
}
