.header-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: white;
}

.header-content .icon-container {
  position: relative;
}

.header-content .icon-container img {
  width: 46px;
  height: 46px;
  margin: 9px 27px 9px 0;
  cursor: pointer;
}

.header-content .icon-container span {
  color: #303e4b;
  font-size: 18px;
  vertical-align: middle;
}

.filters-container {
  float: left;
  margin-top: 11px;
}

.filters-container things-filter,
.filters-container > span,
.filters-container .some-filter-container > * {
  display: inline-block;
  vertical-align: middle;
}

.filters-container > span,
.filters-container .some-filter-container > span {
  margin: 0 9px 0 10px;
  font-size: 28px;
  color: #767d86;
  line-height: 20px;
}

.some-filter-container {
  display: inline-block;
  vertical-align: top;
}

.place-title {
  margin-top: -6px;
  margin-right: 10px;
}

.place-title .icon {
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #ecf0f6;
  width: 42px;
  height: 42px;
  margin: 0 10px 0 5px !important;
}

.filters-container .some-filter-container .income-title-mobile {
  display: none;
}

.place-title p {
  line-height: 26px;
  font-size: 26px;
  margin: 7px 0 0;
}

.filters-container .income-title-container.incomeby .income-title + .income-title,
.filters-container .income-title {
  display: none;
}

.filters-container .income-title-container.incomeby .income-title,
.filters-container .income-title + .income-title {
  display: inline-block
}

.menu-container {
  display: block;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 1023px) {
  .filters-container things-filter {
    margin-bottom: 5px;
  }

  .header-content .icon-container img {
    width: 42px;
    height: 42px;
    margin: 7px 14px 7px 0;
  }

  .filters-container {
    margin-top: 11px;
  }

  .filters-container .some-filter-container > span,
  .filters-container > span {
    margin: 0 11px;
    font-size: 24px;
    vertical-align: sub;
  }
}

@media (max-width: 600px) {

}

@media (max-width: 599px) {
  .header-content >>> .lang-container {
    display: none;
  }

  .filters-container .map-things-text {
    display: none;
  }

  .filters-container .some-filter-container > span {
    margin: 0;
  }

  .filters-container {
    float: left;
    margin-top: 11px;
    width: calc(100% - 47px);
  }

  .filters-container things-filter {
    display: inline-block;
    vertical-align: middle;
    width:100%;
    margin-bottom: 0;
  }

  .header-content .icon-container {
    display:none;
  }

  countries-filter {
    width: calc(100% - 74px);
    vertical-align: top;
    display: block;
    left: 0;
    right: 0;
  }

  .filters-container .some-filter-container {
    display: block;
  }

  .filters-container .some-filter-container .mobile-ver,
  .filters-container .income-title-container.incomeby .income-title,
  .filters-container .income-title + .income-title,
  .header-content .icon-container {
    display: none;
  }

  .income-title-container {
    margin-left: 6px!important;
    margin-top: 6px!important;
    float: right;
  }

  .filters-container .income-title-container.incomeby .income-title + .income-title,
  .filters-container .income-title {
    width: 100%;
    display: block;
    height: 35px;
    border: 1px solid #e4e6e7;
    border-radius: 6px;
    padding: 7px;
    color: #394451;
    font-size: 24px;
    vertical-align: top;
  }
}
