.hidden {
  display: none;
}

.visible {
  display: block;
}

.bottom-yellow-border {
  background-color: #fff;
  border-bottom: 1px solid #ffce00;
  width: 100%;
}

.position-fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

.small-container {
  display: block;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

/*  FAMILY page */
family-header .header-content {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.family-header .heading {
  cursor: pointer;
  display: inline-block;
  margin: 18px 0 0;
  color: #374551;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.family-header .heading img {
  width: 8px;
  margin: 0 12px 0 0px;
  vertical-align: baseline;
}

@media (max-width: 1024px) {
  .family-header .heading {
    margin: 11px 0 0;
    font-size: 20px;
    width: calc(100% - 250px);
  }

  .family-header .heading img {
    width: 8px;
    margin: 0 12px -2px 15px;
  }
}

@media (max-width: 599px) {
  .family-header.sub-panel-shown {
    background-color: #f6f7f8;
  }

  .family-header .heading {
    margin: 14px 0 0;
    font-size: 20px;
    width: calc(100% - 55px);
  }

  .family-header .heading img {
    width: 8px;
    margin: 0 10px -1px 8px;
  }

  .family-header main-menu >>> #main-mobile-menu .menu-icon {
    width: 48px;
    height: 55px;
    margin-top: 0;
  }

  .family-header .header-content >>> language-selector .lang-container {
    display: none;
  }

  .family-header .header-content main-menu >>> #main-mobile-menu language-selector .lang-container {
    display: inline-block;
    margin: 5px 4px;
  }

  .family-header .header-content main-menu >>> #main-mobile-menu language-selector .lang-container button {
    background-color: white;
  }
}
/* end FAMILY PAGE */


/* WITHOUT-FILTERS-HEADER */
.without-filters-header .heading {
  font-size: 28px;
  color: #374551;
  padding-bottom: 1px !important;
  margin-top: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) {
  /*.without-filters-header .logo {
    margin: 7px 14px 7px 0;
    width: 42px;
    height: 42px;
  }*/

  .without-filters-header .heading {
    margin: 16px 0 0 0;
    font-size: 24px;
  }
}

@media (max-width: 599px) {
  /*.without-filters-header .logo {
    width: 35px;
    height: 35px;
    margin: 10px 8px 10px 0;
  }*/

  .without-filters-header .heading {
    margin: 15px 0 0;
  }

  .header-without-search >>> .lang-container {
    display: none;
  }

  .header-without-search >>> main-menu #main-mobile-menu .lang-container {
    display: inline-block;
  }
}
/* WITHOUT-FILTERS-HEADER */
.header-content {
  vertical-align: top;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  transform: translateZ(0);
}

.header-content .icon-container {
  position: relative;
  flex: 0 0 45px;
}

.header-content .icon-container span {
  color: #303e4b;
  font-size: 18px;
  vertical-align: middle;
}

.filters-position {
  flex: 1 1 auto;
}

.filters-container {
  margin-top: 11px;
}

.filters-container things-filter,
.filters-container > span,
.filters-container .some-filter-container > * {
  display: inline-block;
  vertical-align: middle;
}

.filters-container > span,
.filters-container .some-filter-container > span {
  margin: 0;
  font-size: 28px;
  color: #767d86;
  line-height: 20px;
}

.some-filter-container {
  display: inline-block;
  vertical-align: top;
  display: flex;
}

.place-title {
  margin-top: -6px;
  margin-right: 10px;
}

.place-title .icon {
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #ecf0f6;
  width: 42px;
  height: 42px;
  margin: 0 10px 0 5px !important;
}

.filters-container .some-filter-container .income-title-mobile {
  display: none;
}

.place-title p {
  line-height: 26px;
  font-size: 26px;
  margin: 7px 0 0;
}


/* INCOME FILTER DESKTOP ---- BEGIN */
.income-title.filter {
  display: block;
  padding: 7px 10px 6px;
  background-color: white;
  border: 1px solid #e4e6e7;
  border-radius: 6px;
  /*min-width: 150px;*/
  text-align: left;
  cursor: pointer;
  color: #374551;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.income-title.currency-filter  {
  display: none;
}

.countries-filter-container {
  flex: 1 1 auto;
}

.income-title-container {
  flex: 0 0 80px;
  padding: 6px 0 0 10px;
  position: relative;
}

.header-content .icon-container img {
  width: 35px;
  height: 35px;
  margin: 10px 10px 7px 0;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .header-content .icon-container img {
    width: 46px;
    height: 46px;
    margin: 9px 27px 9px 0;
  }

  .income-title-container {
    padding: 0;
  }

  .income-title.currency-filter {
    display: block;
    width: 100%;
    height: 41px;
    border: 1px solid #e4e6e7;
    border-radius: 6px;
    padding: 9px 35px 10px 14px;
    color: #394451;
    font-size: 28px;

  }

  .income-title.short-filter {
    display: none;
  }

  .some-filter-container {
    display: inline-block;
    vertical-align: top;
  }

}

.income-title.filter.opened {
  box-shadow: 0 0 10px rgba(55, 69, 81, 0.1);
}

.income-title.filter::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #374551;
  position: absolute;
  top: calc(50% - 3.5px);
  right: 11px;
}

.income-title.filter.opened::after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 7px solid #374551;
  border-top: 0 solid transparent;
  position: absolute;
  top: calc(50% - 3.5px);
  right: 11px;
}

/*.income-title.filter*/ .income-filter-desktop-container {
  position: absolute;
  z-index: 999;
  width: 280px;
  top: 44px;
  left: 0;
  background-color: white;
  border: 1px solid #e4e6e7;
  box-shadow: 0 0 10px rgba(55, 69, 81, 0.1);
  display: none;
  cursor: auto;
}

/*.income-title.filter.opened .income-filter-desktop-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/

.income-filter-desktop-header {
  border-bottom: 1px solid #e4e6e7;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  color: #374551;
}

.income-filter-desktop-header span {
  font-size: 22px;
  display: inline-block;
  margin-left: 10px;
  line-height: 40px;
}

.income-filter-desktop-header img {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 6px;
  right: 10px;
}

.income-filter-desktop-header .close-button {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 14px;
  margin-right: 10px;
  cursor: pointer;
  right: 4px;
}

.dropdown-button {
  width: 100%;
  height: 34px;
  border: 1px solid #e4e6e7;
  position: relative;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: 0 4px;
}

.dropdown-button img {
  width: 16px;
  position: absolute;
  right: 8px;
  top: 46%;
}

.dropdown-button .dropdown-container {
  height: 120px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  cursor: auto;
}

.currency-container {
  height: 152px;
  width: 100%;
  overflow-y: scroll;
}

.dropdown-selected,
.income-filter-desktop-content .control-section .dropdown-selected{
  display: block;
  /* line-height: 18px; */
  overflow: hidden;
  color: #374551;
  width: 100%;
  position: static;
  left: auto;
  text-align: left;
  padding-right: 23px;
}

.income-filter-desktop-content .control-section .button-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: auto;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.income-filter-desktop-content .control-section .button-icon img{
  display: inline-block;
  position: static;
  width: 16px;
  height: auto;
}

.control-section .control-label {
  font-size: 14px;
  color: #767d86;
  display: block;
  margin-bottom: 4px;
  white-space: nowrap;
}

.dropdown-item {
  cursor: pointer;
  padding-left: 10px;
}

.dropdown-item:hover {
  background-color: #e4e6e7;
}

.income-filter-desktop-content {
  padding-top: 10px;
}

.income-filter-desktop-content .currency-unit-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.currency-unit-cell {
  flex: 1 1 50%;
  padding: 0 10px;
}

.income-filter-desktop-content .control-section {
  width: 100%;
  font-size: 18px;
}

.income-filter-desktop-content .control-section span {
  display: inline-block;
}

.income-filter-desktop-footer {
  height: 40px;
  border-top: 1px solid #e4e6e7;
}

.income-filter-desktop-footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 6px;
}

.income-filter-desktop-footer .ok-button {
  display: inline-block;
  cursor: pointer;
  align-self: center;
  height: 30px;
  font-size: 24px;
  margin-right: 10px;
  color: #374551;
}

.income-filter-desktop-footer .ok-button img {
  margin-bottom: 6px;
}

.income-filter-desktop-footer .close-button {
  display: inline-block;
  cursor: pointer;
  align-self: center;
  height: 30px;
  color: #767d86;
  font-size: 24px;
  margin-right: 10px;
}

.show-levels-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 20px;
}

.show-levels-container .show-levels-label {
  height: 34px;
  font-size: 18px;
  display: inline-block;
  padding: 0 10px 0 20px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input + .slider {
  border: 1px solid #ccc;
}

input:checked + .slider {
  /*background-color: #ff5872;*/
  background-color: white;
  border: 1px solid #ccc;
}

input:checked + .slider::before {
  border: 1px solid #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*  INCOME FILTER DESKTOP ---- END */

.menu-container {
  display: block;
  flex: 0 0 47px;
}

@media (min-width: 1025px) {
  .menu-container {
    flex-basis: 185px;
  }
}

@media (min-width: 1025px) {
  .menu-container {
    flex-basis: 225px;
  }
}

@media (max-width: 1024px) {
  countries-filter {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    left: 0;
    right: 0;
  }

  .income-title.filter::after {
    display: none;
  }

  .income-title.filter.opened::after {
    display: none;
  }

  .header-content .icon-container {
    display: block;
  }

  .header-content >>> .lang-container {
    display: none;
  }

  .filters-container {

    margin-top: 11px;
    width: 100%;
  }

  .filters-container .map-things-text {
    display: none;
  }

  .filters-container .some-filter-container > span {
    margin: 0;
  }

  .filters-container things-filter {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0;
  }

  .filters-container .some-filter-container .mobile-ver {
    display: none;
  }

  .filters-container .income-title.income-filter-title {
    display: none;
  }
}

.income-title-text {
  font-size: 22px !important;
  line-height: 20px;
}
