.hidden {
  display: none;
}

.visible {
  display: block;
}

.bottom-yellow-border {
  background-color: #fff;
  border-bottom: 1px solid #ffce00;
  width: 100%;
}

.position-fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}


.small-container {
  display: block;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}


/*  FAMILY page */
family-header .header-content {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.family-header .heading {
  cursor: pointer;
  display: inline-block;
  margin: 18px 0 0;
  color: #374551;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.family-header .heading img {
  width: 8px;
  margin: 0 12px 0 0px;
  vertical-align: baseline;
}

@media (max-width: 1023px) {
  .family-header .heading {
    margin: 11px 0 0;
    font-size: 20px;
    width: calc(100% - 250px);
  }

  .family-header .heading img {
    width: 8px;
    margin: 0 12px -2px 15px;
  }
}

@media (max-width: 599px) {
  .family-header.sub-panel-shown {
    background-color: #f6f7f8;
  }

  .family-header .heading {
    margin: 14px 0 0;
    font-size: 20px;
    width: calc(100% - 55px);
  }

  .family-header .heading img {
    width: 8px;
    margin: 0 10px -1px 8px;
  }

  .family-header main-menu >>> #main-mobile-menu .menu-icon {
    width: 48px;
    height: 55px;
    margin-top: 0;
  }

  .family-header .header-content >>> language-selector .lang-container {
    display: none;
  }

  .family-header .header-content main-menu >>> #main-mobile-menu language-selector .lang-container {
    display: inline-block;
    margin: 5px 4px;
  }

  .family-header .header-content main-menu >>> #main-mobile-menu language-selector .lang-container button {
    background-color: white;
  }
}
/* end FAMILY PAGE */


/* WITHOUT-FILTERS-HEADER */
.without-filters-header .heading {
  font-size: 28px;
  color: #374551;
  padding-bottom: 1px !important;
  margin-top: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1023px) {
  .without-filters-header .logo {
    margin: 7px 14px 7px 0;
    width: 42px;
    height: 42px;
  }

  .without-filters-header .heading {
    margin: 16px 0 0 0;
    font-size: 24px;
  }
}

@media (max-width: 599px) {
  .without-filters-header .logo {
    width: 35px;
    height: 35px;
    margin: 10px 8px 10px 0;
  }

  .without-filters-header .heading {
    margin: 15px 0 0;
  }

  .header-without-search >>> .lang-container {
    display: none;
  }

  .header-without-search >>> main-menu #main-mobile-menu .lang-container {
    display: inline-block;
  }
}
/* WITHOUT-FILTERS-HEADER */





.header-content {
  vertical-align: top;
  width: 100%;
  background-color: white;
}

.header-content .icon-container {
  position: relative;
}

.header-content .icon-container img {
  width: 46px;
  height: 46px;
  margin: 9px 27px 9px 0;
  cursor: pointer;
}

.header-content .icon-container span {
  color: #303e4b;
  font-size: 18px;
  vertical-align: middle;
}

.filters-container {
  float: left;
  margin-top: 11px;
}

.filters-container things-filter,
.filters-container > span,
.filters-container .some-filter-container > * {
  display: inline-block;
  vertical-align: middle;
}

.filters-container > span,
.filters-container .some-filter-container > span {
  margin: 0 9px 0 10px;
  font-size: 28px;
  color: #767d86;
  line-height: 20px;
}

.some-filter-container {
  display: inline-block;
  vertical-align: top;
}

.place-title {
  margin-top: -6px;
  margin-right: 10px;
}

.place-title .icon {
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #ecf0f6;
  width: 42px;
  height: 42px;
  margin: 0 10px 0 5px !important;
}

.filters-container .some-filter-container .income-title-mobile {
  display: none;
}

.place-title p {
  line-height: 26px;
  font-size: 26px;
  margin: 7px 0 0;
}

.filters-container .income-title-container .income-title {
  display: none;
}

.filters-container .income-title-container.short .income-title:nth-child(1) {
  display: inline-block
}

.filters-container .income-title-container.long .income-title:nth-child(2) {
  display: inline-block
}

.menu-container {
  display: block;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 1023px) {
  .filters-container things-filter {
    margin-bottom: 5px;
  }

  .header-content .icon-container img {
    width: 42px;
    height: 42px;
    margin: 7px 14px 7px 0;
  }

  .filters-container {
    margin-top: 11px;
  }

  .filters-container .some-filter-container > span,
  .filters-container > span {
    margin: 0 11px;
    font-size: 24px;
    vertical-align: sub;
  }
}

@media (max-width: 920px) {
  .filters-container .some-filter-container > span,
  .filters-container > span {
    margin: 0 2px;
    font-size: 24px;
    vertical-align: sub;
  }

  .header-content .icon-container img {
    width: 35px;
    height: 35px;
    margin: 10px 10px 7px 0;
  }
}

@media (max-width: 700px) {
  countries-filter {
    width: calc(100% - 80px);
    vertical-align: top;
    display: inline-block;
    left: 0;
    right: 0;
  }

  .header-content >>> .lang-container {
    display: none;
  }

  .filters-container {
    float: left;
    margin-top: 11px;
    width: calc(100% - 47px);
  }

  .filters-container .map-things-text {
    display: none;
  }

  .filters-container .some-filter-container > span {
    margin: 0;
  }

  .filters-container things-filter {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0;
  }

  .filters-container .some-filter-container {
    display: block;
  }

  .filters-container .some-filter-container .mobile-ver {
    display: none;
  }

  .income-title-container {
    margin-left: 6px!important;
    margin-top: 6px!important;
    float: right;
  }

  .filters-container .income-title {
    width: 100%;
    display: block;
    height: 35px;
    border: 1px solid #e4e6e7;
    border-radius: 6px;
    padding: 7px;
    color: #394451;
    font-size: 24px;
    vertical-align: top;
  }
}
