.header {
  background-color: #fff;
  border-bottom: 2px solid #f9cd28;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header .logo {
  width: 42px;
  margin-top: 7px;
  margin-right: 20px;
}

.header .logo img {
  width: 100%;
}

.header .menu {
  margin-top: 1px;
}

.header .menu a {
  color: #374551;
  font-size: 24px;
  display: inline-block;
  padding: 16px 10px;
  line-height: 24px;
}

.header .menu a:hover {
  color: #f9cd28;
}

@media (max-width: 767px) {
  .header {
    padding-left: 5px;
  }
}
