#about {
  margin-top: 60px;
}

#about .about-header {
  margin-bottom: 30px;
}

#about .about-header h2 {
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#about .description {
  margin-bottom: 30px;
}

#about .description p {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

#about .video-container,
#about .articles-container {
  margin: 0 auto 30px;
  overflow: hidden;
  width: 100%;
}

#about .video-container > div,
#about .articles-container > a {
  float: left;
}

#about .video-container .video-content {
  width: calc((100% - 20px) / 2);
  margin-left: 20px;
}

#about .video-container .video-content:first-child {
  margin-left: 0;
}

#about .video-container .video-content p {
  font-size: 20px;
}

#about .articles-container .article-content {
  width: calc((100% - 44px) / 3);
  margin-left: 22px;
  border: 1px solid #edf0f5;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

#about .articles-container .article-content:first-child {
  margin-left: 0;
}

#about .articles-container .article-content .article-image {
  width: 100%;
}

#about .articles-container .article-content:nth-child(1) .article-logo {
  width: 206px;
  margin: 48px auto 40px;
  display: block;
}

#about .articles-container .article-content:nth-child(2) .article-logo {
  width: 90px;
  margin: 10px auto 25px;
  display: block;
}

#about .articles-container .article-content:nth-child(3) .article-logo {
  width: 170px;
  margin: 23px auto 37px;
  display: block;
}

#about .articles-container .article-content p {
  padding: 11px 13px;
  margin: 0;
  font-size: 20px;
  color: #374551;
}

#about .button-container {
  text-align: center;
}

#about .button-container .first-button {
  color: #fff;
  font-family: 'Bariol Bold', sans-serif;
  background-color: #f9cd28;
  font-size: 18px;
  display: inline-block;
  padding: 8px 25px;
  cursor: pointer;
}

@media (min-width: 1201px) {
  #about .video-container,
  #about .articles-container {
    width: 1130px;
  }
}

@media (max-width: 1200px) {
  #about .articles-container .article-content:nth-child(3) .article-logo {
    width: 170px;
    margin: 45px auto 43px;
    display: block;
  }
}
