<div id="photographer-profile">
  <header>
    <img [src]="photographer.avatar || '/app/assets/img/photographer-icon.jpg'" alt="avatar">
    <h2>{{photographer.firstName}} {{photographer.lastName}}</h2>
    <p *ngIf="photographer.company && photographer.company.name && !photographer.company.link">
      {{photographer.company.name}}
    </p>
    <a target="_blank"
       *ngIf="photographer.company && photographer.company.name && photographer.company.link"
       [href]="photographer.company.link">{{photographer.company.name}}</a>
  </header>

  <main>
    <p class="home"><i class="fa fa-home"></i> Visited Families: <span class="pull-right">{{photographer.placesCount || 0}}</span></p>
    <p class="photo"><i class="fa fa-camera"></i> Total Photos: <span class="pull-right">{{photographer.imagesCount || 0}}</span></p>
    <p class="camera"><i class="fa fa-video-camera"></i> Total Videos: <span class="pull-right">{{photographer.video || 0}}</span></p>
  </main>

  <footer *ngIf="photographer.google || photographer.facebook || photographer.twitter || photographer.linkedIn">
    <h3>On the web</h3>

    <div  class="social-network-container">
      <a *ngIf="photographer.google"
         [href]="photographer.google">
        <i class="fa fa-google-plus-square"></i>
      </a>
      <a *ngIf="photographer.facebook"
         [href]="photographer.facebook">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a *ngIf="photographer.twitter"
         [href]="photographer.twitter">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a *ngIf="photographer.linkedIn"
         [href]="photographer.linkedIn">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </div>
  </footer>
</div>
