#photographer-profile {
  color: #374551;
  font-size: 18px;
}

#photographer-profile p {
  margin: 0;
}

#photographer-profile p.description {
  font-size: 14px;
  color: #767d86;
}

#photographer-profile .header img {
  width: 100%;
  margin-bottom: 15px;
}

#photographer-profile .header .country {
  font-size: 18px;
  color: #767d86;
  margin-bottom: 5px;
}

#photographer-profile .header .country img {
  width: 10px;
  margin: -5px 0 0;
}

#photographer-profile .main {
  border-top: 1px solid #e2e6ec;
  border-bottom: 1px solid #e2e6ec;
  margin: 15px 0;
  padding: 7px 0;
}

#photographer-profile .main i {
  color: #767d86;
  margin-right: 2px;
}

#photographer-profile .main .photo {
  margin: 10px 0;
}

#photographer-profile .main .home img {
  width: 13px;
  margin-top: -6px;
  margin-right: 2px;
}

#photographer-profile .main .photo i {
  font-size: 13px;
}

#photographer-profile .main .camera i {
  font-size: 14px;
}

#photographer-profile .main span {
  font-size: 14px;
  color: #767d86;
  margin-top: 5px;
}

#photographer-profile .footer-profile + .footer-profile {
  border-top: 1px solid #e2e6ec;
  padding-top: 15px;
  margin-top: 11px;
}

#photographer-profile .footer-profile h3,
#photographer-profile .header h2 {
  font-family: 'Bariol Bold', sans-serif;
  font-size: 18px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

#photographer-profile .footer-profile h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

#photographer-profile .header p {
  color: #767d86;
}

#photographer-profile .footer-profile .social-network-container {
  margin-top: 7px;
}

#photographer-profile .footer-profile .social-network-container a {
  color: #374551;
  font-size: 20px;
  display: inline-block;
  margin-right: 15px;
}

#photographer-profile .organisation p {
  color: #727982;
  font-size: 16px;
}

#photographer-profile .footer-profile > a {
  color: #374551;
  font-size: 13px;
  display: block;
  margin: 7px 0 0;
}

#mobile-photographer-profile {
  background-color: #f4fafb;
  margin: 0 -8px 20px;
  padding: 20px 15px;
  display: none;
  position: relative;
}

#mobile-photographer-profile > div {
  float: left;
}

#mobile-photographer-profile .image-container {
  width: 172px;
}

#mobile-photographer-profile .image-container img {
  width: 100%;
}

#mobile-photographer-profile .social-network-container {
  text-align: center;
  display: none;
}

#mobile-photographer-profile .social-network-container a {
  display: inline-block;
  margin: 10px 10px 0;
}

#mobile-photographer-profile .social-network-container i {
  font-size: 20px;
  color: #3a4550;
}

#mobile-photographer-profile .photographer-description {
  width: calc(100% - 172px);
  padding-left: 20px;
}

#mobile-photographer-profile .photographer-description h2 {
  color: #3a4550;
  font-size: 18px;
  font-family: 'Bariol Bold', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  margin: -4px 0 20px;
}

#mobile-photographer-profile .photographer-description h2 span {
  color: #767d86;
  font-size: 18px;
  font-family: 'Bariol Regular', sans-serif;
  text-transform: capitalize;
  display: inline-block;
  margin-left: 20px;
}

#mobile-photographer-profile .photographer-description h2 span img {
  width: 10px;
  margin-top: -6px;
}

#mobile-photographer-profile .count {
  overflow: hidden;
  margin-bottom: 20px;
}

#mobile-photographer-profile .count p {
  float: left;
  width: 33.33%;
  margin: 0;
  font-size: 16px;
}

#mobile-photographer-profile .count p i {
  color: #767d86;
  margin-right: 5px;
}

#mobile-photographer-profile .count p.home img {
  width: 13px;
  margin-top: -5px;
}

#mobile-photographer-profile .count p.photo i {
  font-size: 13px;
}

#mobile-photographer-profile .count p.camera i {
  font-size: 15px;
}

#mobile-photographer-profile .count p span {
  color: #767d86;
  font-size: 14px;
}

#mobile-photographer-profile .photographer-description-footer .company-container {
  overflow: hidden;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e3e6eb;
  display: none;
}

#mobile-photographer-profile .photographer-description-footer .company-container > div {
  float: left;
  width: 50%;
}

#mobile-photographer-profile .photographer-description-footer .company-container h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Bariol Bold', sans-serif;
  margin-top: 0;
}

#mobile-photographer-profile .photographer-description-footer p {
  color: #727982;
  font-size: 16px;
  margin: 0;
}

#mobile-photographer-profile .photographer-description-footer a {
  color: #3a4550;
  font-size: 14px;
  padding-top: 4px;
}

#mobile-photographer-profile .more-info {
  color: #eec74e;
  font-size: 16px;
  margin-top: 15px;
}

#mobile-photographer-profile .more-info span {
  cursor: pointer;
}

#mobile-photographer-profile .image-container .more-info {
  display: none;
  margin-top: 3px;
}

#mobile-photographer-profile.open .company-container,
#mobile-photographer-profile.open .social-network-container {
  display: block !important;
}

@media (max-width: 1200px) {
  #photographer-profile {
    font-size: 14px;
  }

  #photographer-profile .main .home i {
    font-size: 12px;
  }

  #photographer-profile .main .photo i {
    font-size: 10px;
  }

  #photographer-profile .main .camera i {
    font-size: 11px;
  }

  #photographer-profile .main span {
    margin-top: 1px;
  }
}

@media (max-width: 1023px) {
  #photographer-profile {
    display: none;
  }

  #mobile-photographer-profile {
    display: block;
  }

  #mobile-photographer-profile .photographer-description-footer .company-description {
    color: #747d87;
  }

  #mobile-photographer-profile .photographer-description-footer .company-container h3 {
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  #mobile-photographer-profile {
    padding: 10px 8px;
  }

  #mobile-photographer-profile .image-container {
    width: 130px;
  }

  #mobile-photographer-profile .photographer-description {
    width: calc(100% - 130px);
  }

  #mobile-photographer-profile .photographer-description h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #mobile-photographer-profile .photographer-description h2 span {
    display: block;
    margin: 0;
    font-size: 14px;
  }

  #mobile-photographer-profile .photographer-description h2 span img {
    width: 9px;
  }

  #mobile-photographer-profile .count {
    margin: 0;
  }

  #mobile-photographer-profile .count p {
    width: 100%;
    float: none;
    margin-bottom: 3px;
    font-size: 14px;
  }

  #mobile-photographer-profile .more-info {
    font-size: 14px;
  }

  #mobile-photographer-profile .count p.home img {
    margin-right: 6px;
  }

  #mobile-photographer-profile .count p span {
    font-size: 13px;
  }

  #mobile-photographer-profile .photographer-description .more-info {
    display: none;
  }

  #mobile-photographer-profile .image-container .more-info {
    display: block;
    margin-top: 5px;
  }

  #mobile-photographer-profile .social-network-container {
    text-align: left;
  }

  #mobile-photographer-profile .social-network-container a {
    margin: 10px 0 0 17px;
  }

  #mobile-photographer-profile .social-network-container a:first-child {
    margin: 10px 0 0;
  }

  #mobile-photographer-profile .photographer-description-footer {
    display: none;
    position: absolute;
    top: 96%;
    left: 0;
    right: 0;
    background-color: #f4fafb;
    z-index: 9;
    padding: 0 8px 15px;
  }

  #mobile-photographer-profile.open .photographer-description-footer {
    display: block;
    box-shadow: 0 4px 5.3px 0.7px rgba(0, 0, 0, 0.24);
  }

  #mobile-photographer-profile .company-description {
    font-size: 13px;
  }

  #mobile-photographer-profile .photographer-description-footer .company-container {
    margin-top: 10px;
    padding-top: 10px;
  }

  #mobile-photographer-profile .photographer-description-footer .company-container h3 {
    margin-bottom: 0;
  }
}
