@font-face {
  font-family: 'Bariol Light';
  src: url('../fonts/bariol_light-webfont.eot');
  src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bariol_light-webfont.woff2') format('woff2'),
  url('../fonts/bariol_light-webfont.woff') format('woff'),
  url('../fonts/bariol_light-webfont.ttf') format('truetype'),
  url('../fonts/bariol_light-webfont.svg#bariolthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Regular';
  src: url('../fonts/bariol_regular-webfont.eot');
  src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
  url('../fonts/bariol_regular-webfont.woff') format('woff'),
  url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
  url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Bold';
  src: url('../fonts/bariol_bold-webfont.eot');
  src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bariol_bold-webfont.woff2') format('woff2'),
  url('../fonts/bariol_bold-webfont.woff') format('woff'),
  url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
  url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: 'Bariol Regular', sans-serif;
  overflow-x: hidden;
  color: #374551;
  position: relative;
  min-height: 100%;
}

body.photographers #app-container {
  padding-bottom: 0 !important;
}

body.photographers footer {
  position: static !important;
}

body.photographers #app-container {
  margin-bottom: 70px;
}

body.draggingSliders #chart * {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

a:focus,
input:focus {
  outline: 0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-button,
a {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

svg circle {
  cursor: pointer;
}

.main-header {
  z-index: 1000 !important;
}

matrix {
  display: block;
}

.hideScroll {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.custom-button {
  background-color: #374551;
  font-family: 'Bariol Light', sans-serif;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 7px 20px;
  border: 1px solid #374551;
  text-align: center;
}

.custom-button:hover {
  cursor: pointer;
  color: #374551;
  background-color: transparent;
}

.first-page.header .social-share-buttons-container i {
  color: #767d86;
  font-size: 26px;
  margin-left: 35px;
}

.text-center {
  text-align: center;
}

.date-info {
  font-size: 14px;
  color: #767d86;
  text-transform: uppercase;
  margin-top: 10px;
}

.post-title {
  color: #374551;
  font-size: 24px;
  line-height: 30px;
}

.post-p {
  font-size: 16px;
  color: #767d86;
}

.post-head {
  position: relative;
  color: #374551;
  font-size: 38px;
  line-height: 1.2;
  z-index: 1;
  overflow: hidden;
  margin: 60px 0 40px;
}

.post-head:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #eff2f6;
  z-index: -1;
  position: relative;
  vertical-align: middle;
  left: 20px;
  margin: 0 -100% 0 0;
}

.link-view-more {
  color: #374551;
  font-size: 18px;
  display: inline-block;
  text-decoration: underline;
}

/* btn */
.btn-yellow {
  color: #374551;
  font-size: 18px;
  line-height: 40px;
  font-family: 'Bariol Bold', sans-serif;
  background-color: #ffc300;
  border: 1px solid #f1b902;
  border-radius: 2px;
  padding: 0 10px;
  text-align: center;
  min-width: 160px;
}

/* form input (text or search) */
.text {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #edf0f5;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 15px;
}

/* indent */
.margin-top-0 {
  margin-top: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

gm-entries-view h3 {
  color: #374551;
  font-family: 'Bariol Regular', sans-serif;
  font-size: 28px;
  line-height: 30px;
}

gm-entries-view p {
  color: #374551;
  font-family: 'Bariol Regular', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;

  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp:after {
  content: '';
  text-align: right;
  top: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(16px * 1.42857143);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  max-height: calc(16px * 1.42857143);
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  max-height: calc(14px * 1.42857143 * 3);
}

.line-clamp-3:after {
  top: calc(14px * 1.42857143 * 2);
  height: calc(14px * 1.42857143);
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}

matrix .matrix-header header {
  margin-left: 22px !important;
}

body.family #main-menu .menu-icon,
body.matrix #main-menu .menu-icon {
  width: 72px;
}

@media (min-width: 1024px) {
  body.photographers,
  body.photographers #app-container,
  body.photographers consumer-app {
    height: 100%;
  }

  body.photographers #app-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1023px) {
  .custom-button {
    padding: 5px 20px;
    font-size: 16px;
  }

  matrix .matrix-header header {
    margin-left: 10px !important;
  }

  .header.header-without-search .heading .sub-title {
    display: none;
  }

  body.photographers #app-container {
    margin-bottom: 30px;
  }

  .blog #app-container.container {
    padding-top: 87px !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 599px) {
  svg .poorest,
  svg .richest,
  svg .scale-label {
    font-size: 12px;
  }

  .blog #app-container.container {
    padding-top: 77px !important;
    padding-left: 0;
    padding-right: 0;
  }

  .block-entry h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .block-entry h3 {
    font-size: 20px !important;
  }

  gm-entries-view p {
    font-size: 16px;
    line-height: 20px;
  }
}
