@font-face {
  font-family: 'Bariol Light';
  src: url('../fonts/bariol_light-webfont.eot');
  src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bariol_light-webfont.woff2') format('woff2'),
  url('../fonts/bariol_light-webfont.woff') format('woff'),
  url('../fonts/bariol_light-webfont.ttf') format('truetype'),
  url('../fonts/bariol_light-webfont.svg#bariolthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Regular';
  src: url('../fonts/bariol_regular-webfont.eot');
  src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
  url('../fonts/bariol_regular-webfont.woff') format('woff'),
  url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
  url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Bold';
  src: url('../fonts/bariol_bold-webfont.eot');
  src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bariol_bold-webfont.woff2') format('woff2'),
  url('../fonts/bariol_bold-webfont.woff') format('woff'),
  url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
  url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bariol Regular', sans-serif;
  overflow-x: hidden;
  color: #374551;
}

a:focus,
input:focus {
  outline: 0;
  text-decoration: none;
}

.custom-button,
a {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

svg circle {
  cursor: pointer;
}

html, body, body > div[ui-view] {
  height: 100%;
}

.main-header {
  z-index: 1000 !important;
}

.custom-button {
  background-color: #374551;
  font-family: 'Bariol Light', sans-serif;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 7px 20px;
  border: 1px solid #374551;
  text-align: center;
}

.custom-button:hover {
  cursor: pointer;
  color: #374551;
  background-color: transparent;
}

main,
sitemap,
country,
first-page,
ambassadors,
info-page,
article-page,
blog-page,
post-page,
photographer,
matrix,
map-component {
  position: relative;
  display: block;
  min-height: 100%;
}

.first-page.header .social-share-buttons-container i {
  color: #767d86;
  font-size: 26px;
  margin-left: 35px;
}

.header-without-search .menu-icon {
  height: 70px !important;
}

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;

  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp:after {
  content: '...';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(14px * 1.42857143);
  background: linear-gradient(to right, rgba(244, 250, 251, 0), rgba(244, 250, 251, 1) 75%);
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  max-height: calc(14px * 1.42857143 * 2);
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  max-height: calc(16px * 1.42857143 * 2);
}

.place-header search {
  width: calc(100% - 180px) !important;
}

.place-header .matrix-icon {
  margin-left: 20px !important;
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .custom-button {
    padding: 5px 20px;
    font-size: 16px;
  }

  .map-header .menu-icon,
  .header-without-search .menu-icon {
    height: 60px !important;
  }

  .map-header .matrix-icon {
    margin-top: 11px !important;
  }

  .place-header .header-content search {
    width: calc(100% - 167px) !important;
  }

  .place-header .matrix-icon {
    margin-left: 10px !important;
  }
}

@media (max-width: 600px) {
  svg .poorest,
  svg .richest,
  svg .scale-label {
    font-size: 12px;
  }

  .map-header .menu-icon,
  .header-without-search .menu-icon {
    height: 42px !important;
  }

  .map-header .container {
    padding: 0 0 0 8px;
  }

  .map-header .matrix-icon {
    margin-top: 8px !important;
  }

  .matrix-header .matrix-icon {
    margin-top: 9px !important;
  }

  matrix .matrix-header .menu-icon,
  .place-header .menu-icon {
    height: 42px !important;
  }
}
