<div class="images-container" *ngIf="currentPlaces.length">
  <div class="image-content"
       *ngFor="#place of currentPlaces"
       [style.backgroundImage]="toUrl(place.background)"
       [ngClass]="'column-'+zoom"
       (mouseenter)="hoverImage(place)"
       (mouseleave)="hoverImage()"
       [routerLink]="['Place', {thing: thing, place: place._id, image: place.image}]"
       [angulartics2On]="'click'"
       [angularticsEvent]="'go to place page from matrix (click on matrix)'">
    <div class="image-description">
      <span class="place-image-box-country pull-left">{{place.country}}</span>
      <span class="place-image-box-income pull-right">{{place.income}}$</span>
    </div>
  </div>
</div>
