.street-family-box-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  margin: 0 22px;
}

.street-family-box-container svg {
  position: relative;
  width: 100%;
  height: 65px;
  vertical-align: top;
}

@media (max-width: 1023px) {
  .street-family-box-container {
    margin: 0 10px;
  }
}

@media (max-width: 599px) {
  .street-family-box-container {
    margin: 0 5px;
  }
}
