footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  #first-page {
    padding-bottom: 323px;
  }
}

@media (max-width: 767px) {
  #first-page {
    padding-bottom: 244px;
  }
}

@media (max-width: 600px) {
  #first-page {
    padding-bottom: 237px;
  }
}
