footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  #first-page {
    padding-bottom: 240px;
  }
}

@media (max-width: 767px) {
  #first-page {
    padding-bottom: 350px;
  }
}
