<div id="item-profile">
  <div class="item-profile-header">
    <div class="box-container">
      <region-map *ngIf="mapData"
                  [mapData]="mapData"
                  [routerLink]="['/map']"
                  [queryParams]="{thing: thing}"
                  angulartics2On="click"
                  angularticsEvent="From {{country.country}} country page to Map page"></region-map>
    </div>

    <p class="description" *ngIf="country?.description">{{country.description}}</p>
  </div>
</div>

<div id="item-profile-mobile" [ngClass]="{'open': isShowInfo}">
  <div class="box-container">
    <region-map *ngIf="mapData"
                [mapData]="mapData"
                [routerLink]="['/map']"
                [queryParams]="{thing: thing}"
                angulartics2On="click"
                angularticsEvent="From {{country.country}} country page to Map page"></region-map>
  </div>

  <div class="item-description">
    <div class="item-description-header">
      <div class="home">
        <img src="/assets/img/house-icon.png" alt=""> Visited Families: <span>{{math.round(placesQuantity)}}</span>
      </div>

      <div class="photo">
        <i class="fa fa-camera"></i> Total Photos: <span>{{math.round(photosQuantity)}}</span>
      </div>

      <div class="camera" *ngIf="videosQuantity">
        <i class="fa fa-video-camera"></i> Total Videos: <span>{{math.round(videosQuantity)}}</span>
      </div>

      <div class="more-info"
           *ngIf="country?.description">
        <p (click)="isShowInfo = !isShowInfo">
          <img src="/assets/img/read-more-icon.svg" alt="">
          <span>{{!isShowInfo ? 'Show details' : 'Hide details'}}</span>
        </p>
      </div>
    </div>

    <div class="item-description-footer"
         *ngIf="country?.description">
      <div class="company-description line-clamp">{{country.description}}</div>

      <div class="more-info">
        <p (click)="isShowInfo = !isShowInfo">
          <img src="/assets/img/read-more-icon.svg" alt="">
          <span>{{!isShowInfo ? 'Show details' : 'Hide details'}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
