<div id="country-info">
  <div class="header">
    <place-map *ngIf="country" [place]="country" [isHeader]="true"></place-map>
  </div>

  <div class="main">


    <h2 *ngIf="country"><img class="marker"
                             src="/app/assets/img/marker.png"
                             alt="marker"> {{country.country}}</h2>
    <p *ngIf="placesQantity" class="places">
      {{placesQantity}} Families
    </p>
    <p *ngIf="country && country.description" class="description">
      {{country.description}}
    </p>
  </div>
</div>

