<div id="country-info">
  <div class="header">
    <place-map [hoverPlace]="hoverPlace"
               [routerLink]="['/map']" [queryParams]="{thing: thing}"></place-map>

    <p class="description" *ngIf="country?.description">{{country.description}}</p>
  </div>

  <div class="main">
    <p class="home" *ngIf="placesQantity">
      <img src="/assets/img/house-icon.png" alt=""> Visited Families: <span
      class="pull-right">{{math.round(placesQantity) || 0}}</span>
    </p>

    <p class="photo">
      <i class="fa fa-camera"></i> Total Photos: <span class="pull-right">{{math.round(photosQantity) || 0}}</span>
    </p>

    <p class="camera" *ngIf="videosQantity">
      <i class="fa fa-video-camera"></i> Total Videos: <span
      class="pull-right">{{math.round(videosQantity) || 0}}</span>
    </p>
  </div>
</div>

<div id="mobile-country-info" class="row" [ngClass]="{'open': isShowInfo}">
  <div class="image-container">
    <place-map [hoverPlace]="hoverPlace" [routerLink]="['/map']" [queryParams]="{thing: thing}"></place-map>

    <div class="more-info" *ngIf="country?.description">
        <span (click)="isShowInfo = !isShowInfo">
          <span [hidden]="isShowInfo">More Info »</span>
          <span [hidden]="!isShowInfo">Hide Info »</span>
        </span>
    </div>
  </div>

  <div class="country-description">
    <div class="country-description-header">

      <div class="count">
        <p class="home" *ngIf="placesQantity">
          <img src="/assets/img/house-icon.png" alt=""> Visited Families: <span>{{placesQantity || 0}}</span>
        </p>

        <p class="photo">
          <i class="fa fa-camera"></i> Total Photos: <span>{{photosQantity || 0}}</span>
        </p>

        <p class="camera" *ngIf="videosQantity">
          <i class="fa fa-video-camera"></i> Total Videos: <span>{{videosQantity || 0}}</span>
        </p>
      </div>
    </div>

    <div class="country-description-footer"
         *ngIf="country?.description">
      <div class="company-description line-clamp"
           [ngClass]="{'line-clamp-2': !isShowInfo}"
           *ngIf="country?.description">{{country.description}}
      </div>

      <div class="more-info">
        <span (click)="isShowInfo = !isShowInfo">
          <span [hidden]="isShowInfo">More Info »</span>
          <span [hidden]="!isShowInfo">Hide Info »</span>
        </span>
      </div>
    </div>
  </div>
</div>
