ambassadors-list {
  padding-top: 50px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  ambassadors-list {
    padding-bottom: 323px;
    display: block;
  }
}


@media (max-width: 767px) {
  ambassadors-list {
    padding-bottom: 244px;
    display: block;
  }
}

@media (max-width: 600px) {
  ambassadors-list {
    padding-bottom: 237px;
  }
}
