#main-menu .menu-icon {
  display: block;
  width: 71px;
  height: 65px;
  text-align: center;
  cursor: pointer;
}

#main-menu .menu-icon img {
  width: 27px;
  height: 21px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#main-menu .menu-icon img.unactive {
  display: block;
}

#main-menu > div {
  float: right;
  z-index: 99;
}

#main-menu .open .menu-icon {
  background-color: #374551;
}

#main-menu .open img.active {
  display: block;
}

#main-menu .open img.unactive {
  display: none;
}

#main-menu .open .dropdown-menu {
  background-color: #374551;
  left: inherit;
  right: 0;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  width: 232px;
}

#main-menu .open .dropdown-menu ul {
  padding: 0;
  margin: 0;
}

#main-menu .open .dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid #303e4a;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#main-menu .open .dropdown-menu li div {
  padding: 12px 20px;
  overflow: hidden;
}

#main-menu .open .dropdown-menu li a {
  text-transform: uppercase;
  color: #edf0f5;
  font-size: 18px;
  display: block;
  padding: 14px 20px;
}

#main-menu .open .dropdown-menu li div span {
  display: inline-block;
  width: 42px;
  font-size: 14px;
  text-transform: uppercase;
  color: #edf0f5;
  margin-top: 5px;
  line-height: 14px;
  float: left;
}

#main-menu .open .dropdown-menu li:last-child a {
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}

#main-menu .open .dropdown-menu li:hover:not(.social-share-container) {
  background-color: #3d4b58;
}

#main-menu .open .dropdown-menu li:hover a {
  color: #fff;
}

#main-menu .open .dropdown-menu li div.social-share-content {
  padding: 19px 20px;
}

@media (max-width: 600px) {
  #main-menu .menu-icon {
    width: 30px;
    height: 32px;
  }

  #main-menu .menu-icon img {
    width: 19px;
    height: 19px;
  }

  #main-menu .open .dropdown-menu {
    width: 180px;
  }

  #main-menu .open .dropdown-menu li a {
    font-size: 14px;
    padding: 10px 15px;
  }
}
