.follow-button-container {
  text-align: right;
  margin-top: 11px;
}

.follow-button-container .follow-button {
  display: inline-block;
  margin-left: 19px;
}

.follow-button-container .follow-text {
  font-size: 18px;
  vertical-align: middle;
  cursor: default;
  width: auto;
  text-transform: uppercase;
  margin: 2px -7px 0 0;
  line-height: 18px;
}
