.follow-button-container {
  text-align: right;
  margin-top: 11px;
}

.follow-button-container .follow-button {
  display: inline-block;
  margin-left: 17px;
}

.follow-button-container .follow-text {
  font-size: 18px;
  vertical-align: middle;
  cursor: default;
  width: auto;
  margin: 2px -7px 0 0;
  line-height: 18px;
}

@media (max-width: 767px) {
  .follow-button-container {
    text-align: center;
    margin-top: 24px;
  }
}
